
@{
    ViewBag.BodyClass = "cv";
}

<script type="text/javascript" src="/js/Views/CVView.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.js"></script>


<div class="print-block">

    <div class="name-title">
        <div class="ltbl">
            <div class="left">

                <img class="photo" src="/images/Ich_cut_small.png" />


            </div>
            <div class="right">

                <div class="name">Vaclav Mikeska</div>
                <div class="info">
                    <div>
                        Age 34 - Married, 1 Child.
                    </div>
                    <div>
                        <b>Home location</b>: Prague
                    </div>
                    <div>
                        <b>Current Location</b>: Frankfurt
                    </div>

                </div>

            </div>
        </div>
    </div>
    
    <div class="htbl first-page-table">
        <div class="left">
    
            <div class="about-block">
                <div class="title">About me</div>
                <div class="text">
                    I was born in the Czech Republic, but last 6 years I am living in Frankfurt area with my German wife and daughter. Software development is a passion for me. Besides that, I am an enthusiastic traveler and I do a lot of sports.
                </div>
            </div>

            <div class="about-block">
                <div class="title">About my skills</div>
                <div class="text">
                    I'm an experienced Web Frontend and .NET Developer. I do software development since 1994 and last 16 years for a living. I took part of roughly 20 projects in several countries across the globe. I am very familiar with the full cycle of agile SW development. I also have project leading skills and I like application architecture. During the years, changing multiple project and domains, I developed an analytical way of thinking. I have basic experience with research in Big Data field.
                </div>
            </div>
                    
        </div>
        <div class="right">            
            <div class="title-skills">Fields worked</div>
            <div class="skills-cont">
                <canvas id="pieChart" width="300" height="300"></canvas>
            </div>
        </div>
    </div>

    <div class="title-techno">Years of experience</div>
    <canvas id="technoBars" width="1000" height="500"></canvas>

</div>


<div class="print-block" id="employersBlock">

    <div class="section-title">
        Companies
    </div>

    <table id="tblEmployers" class="tbl-employers"></table>


</div>

<div class="print-block" id="employersBlock">

    <div class="section-title">
        Projects
    </div>

    <div id="projectsCont" class="projects-cont">
        
    </div>


</div>

<div class="block margin">

    <div class="section-title">
        Education
    </div>

    <div class="text-block">
        I don't have any finished university. I was attending IT management at Unicorn College in Prague, but decided not to continue after the first year, due to lack of time.
    </div>


</div>

<div class="block margin">

    <div class="section-title">
        Languages
    </div>

    <div>
        <table class="langs-table">
            <tr>
                <th class="first">English</th>
                <td class="second">Something between C1 and C2</td>
                <td class="third">I'm using English as my main business language last 8 years</td>                
            </tr>
            <tr>
                <th class="first">German</th>
                <td class="second">Something between B1 and B2</td>
                <td class="third">My German is insufficient to be used as a main business language</td>                
            </tr>
            <tr>
                <th class="first">Czech</th>
                <td class="second">Mother tongue</td>
                <td class="third">Mother tongue</td>
            </tr>
        </table>
    </div>


</div>


<div class="print-block">
    
    <div class="section-title">
        Technologies
    </div>
    
    <div id="bprint1"></div>


</div>





<script id="projs-row-tmp" type="text/x-handlebars-template">
    
    <div class="proj-item">
        <div class="top-tbl">
            <div class="left">
                <img class="logo" src="/images/n/cv/{{logo}}" />
            </div>
            <div class="right">
                <div class="pos">{{position}}, {{company}}</div>
                <div class="duration"><span class="icon-calendar ico"></span> {{startMonth}}/{{startYear}} - {{endMonth}}/{{endYear}}</div>
                <div class="cities"><span class="icon-logo-pin ico"></span> {{cities}}</div>
            </div>
        </div>
        <div class="description">
            {{description}}
        </div>
    </div>

</script>

<script id="comps-row-tmp" type="text/x-handlebars-template">


    <tr>
        <td class="group-name">{{compGroupName}}</td>

        <td class="years">{{yearStart}} - {{yearEnd}}</td>

        <td class="cities">{{cities}}</td>

        <td>{{form}}</td>

        <td class="projs">
            <ul>
                {{#each emps}}
                <li>{{this}}</li>

                {{/each}}
            </ul>

        </td>
    </tr>



</script>


<script id="category-block-tmp" type="text/x-handlebars-template">

    <div class="category-block {{#if isRoot}}root-block{{/if}} {{id}}">
        <div class="title">

            <div class="title-cont">
                <div class="left">
                    <span class="name">{{title}}</span>
                    <div class="text">{{text}}</div>
                </div>
                <div class="right">

                    {{#unless isRoot}}
                    <div class="iblock">
                        <div class="caption">Years experience</div>
                        <div class="value">{{yearsExperience}}</div>
                    </div>
                    <div class="iblock">
                        <div class="caption">Real knowledge</div>
                        <div class="value">{{realKnowledge}}/10</div>
                    </div>
                    {{/unless}}

                </div>
            </div>

        </div>
        
        <div class="sub-cont subCont_{{id}}"></div>

    </div>

</script>





<script>

    function onBodyLoad() {
        currentView = new Views.CVView();

        currentView.init();
    }

</script>