
@{
ViewBag.BodyClass = "cv";
}

<div class="print-block">

    <div class="name-title">
        <div class="ltbl">
            <div class="left">

                <img class="photo" src="/images/Ich_cut.png" />


            </div>
            <div class="right">

                <div class="name">Vaclav Mikeska</div>
                <div class="info">
                    <div>
                        Age 34 - Married, 1 Child.
                    </div>
                    <div>
                        <b>Home location</b>: Prague
                    </div>
                    <div>
                        <b>Current Location</b>: Frankfurt
                    </div>

                </div>

            </div>
        </div>
    </div>
    
    <div class="about-block">
        <div class="title">About me</div>
        <div class="text">
            I am an IT professional with over 14 years of experience.
            I have 10 years of experience in .NET technologies. I have very strong knowledge of full development cycle.
            I have also experience with Project management, Architecture and Research in Big Data field.
        </div>
    </div>
    
    <div class="about-block">
        <div class="title">About developement</div>
        <div class="text">
            I am an IT professional with over 14 years of experience.
            I have 10 years of experience in .NET technologies. I have very strong knowledge of full development cycle.
            I have also experience with Project management, Architecture and Research in Big Data field.
        </div>
    </div>

</div>



<div class="print-block">
    
    <div class="category-block">
        <div class="title">
            
            <div class="title-cont">
                <div class="left">
                    <span class="name">Backend</span>
                </div>
                <div class="right">
                    <div class="iblock">
                        <div class="caption">Years experience</div>
                        <div class="value">8</div>
                    </div>
                    <div class="iblock">
                        <div class="caption">Real knowledge</div>
                        <div class="value">8/10</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="text">
            I am an IT professional with over 14 years of experience. I have 10 years of experience in .NET technologies. I have very strong knowledge of full development cycle. I have also experience with Project management, Architecture and Research in Big Data field.
        </div>
        
        
        <div class="category-block-sub">

            
            <div class="title-cont">
                <div class="left">
                    <span class="name">ASP.NET</span>
                </div>
                <div class="right">
                    <div class="iblock">
                        <div class="caption">Years experience</div>
                        <div class="value">5</div>
                    </div>
                    <div class="iblock">
                        <div class="caption">Real knowledge</div>
                        <div class="value">9/10</div>
                    </div>
                </div>
            </div>
            

            <div class="text">
                I am an IT professional with over 14 years of experience. I have 10 years of experience in .NET technologies. I have very strong knowledge of full development cycle. I have also experience with Project management, Architecture and Research in Big Data field.
            </div>

        </div>
    </div>
    

</div>