@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model ViewModelArticle

@{
    ViewData["Title"] = "5 (cinco) things to do in Seville";    
    ViewBag.BodyClass = "articles";
}

<div class="wrapper">
    
    <h1>5 (cinco) things to do in Seville</h1>
    
    <h2>Uno</h2>
    
    <p>Join a free walking tour of Sevilla, it’s a wonderful city with many landmarks, the catedral the biggest church in the world, the river Guadalquivir, where Sevilla monopolized the new trade with the Americas, the Real Alcázar, a beautiful palace in arabic style, the Barrio Santa Cruz a former jewish neighborhood with narrow streets (if you feel lost, don’t worry, everyone can be lost there), Plaza de Espana, a wonderful building made for the southern america EXPO in 1929, Plaza de toros, one of the biggest and most famous bull fighting arena.  Sevilla has the 3rd largest old centre in Europe where you will find many tapas bars, restaurants, souvenir shops etc.</p>

    <h2>Dos</h2>

    <p>Try Tapas and cerveza!!!  Tapas it’s a small dish with some typical spanish food, it was used to be served for free, while now only in Granada they keep doing it, when you ordered a drink. Now a day it’s a cheap option to get tasty food. It’s full of tapas bar spread in the whole city, especially in the area of Alfalfa and Alameda square. One of the oldest bar in town is called ‘El Rinconcillo’, Calle Gerona. A budget option is a tapas bar called ‘Gitana Loca’, Calle Alfalfa, they serve beer ‘Estrella del sur’ in bottle for 0,50€… Beer (cerveza in spanish, who doesn’t know it??!!) is generally a light pilsner style one, ideally refreshing after a warm day. Local beer is Cruzcampo. Go for it!</p>

    <h2>Tres</h2>

    <p>Stay at the hostel Sevilla Inn Backpackers has a wonderful location, very close to the cathedral.</p>

    <p>Enjoy the chill-out terrace where you can meet nice people and travellers like you,  drink a sangria and eat paella (they teach how to prepare it), one of the activities organized by the hostel.</p>

    <p>Ask the staff for any info and suggestions, they are very helpful and kind. It’s also possible to book your next hostel through them and receive a small discount.</p>

    <h2>Cuatro</h2>

    <p>Watch a Flamenco show, it’s a symbol of Spain but actually its history is related to this region, especially to this city and to be even more precise, to a small minority, the roma/gipsy one (called gitanos in Spain). You can find everywhere bars that offer flamenco nights and shows (few with free entrance), especially in Triana, a former gitanos neighbourhood, where these dance and music were born and developed. Funny thing is that currently in Japan there are more flamenco music academies than in Spain…If you are staying at the Sevilla Inn backpackers is possible to book an incredible show at the ‘Museo del baile flamenco’ (museum of the flamenco dance), where you can assist at a top-level show with famous artists.</p>

    <h2>Cinco</h2>

    <p>Have fun! Nightlife in Sevilla is never-ending and intense, the city is young, with many Erasmus students.</p>

    <p>You should visit Alfalfa and Alameda areas, Alameida is a huge square where locals meet and drink their own ‘home-made’ cocktail brought from home or prepared at the moment by mixing liquors with soft drinks, a very common activity for young spanish, called ‘botellon‘. My favorite bars were ‘Red house’ (in Calle Amor de Dios) and ‘la bicicleteria’ (in Calle Feria) an alternative small (and smoky) bar.</p>

    <p>Whatever you decide to do in Sevilla, enjoy you time in this sunny and nice city!</p>
    
</div>

<script>

function onBodyLoad() {
    currentView = new Views.ViewBase();
}

</script>