@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model ViewModelArticle

@{
    ViewData["Title"] = "Grottaglie: sun, ceramics, wine, street-art, food, oil";    
    ViewBag.BodyClass = "articles";
}

<div class="wrapper">

    <h1>Grottaglie: sun, ceramics, wine, street-art, food, oil</h1>

    <p>Raise your hand if you have ever heard of Grottaglie? I bet only few of you can, and that’s a real pity!</p>

    <p>Grottaglie is the capital of ceramic in South italy.</p>

    <p>The town can be reached via air through 2 airports, Bari and Brindisi, both within less than 100 km.</p>

    <p>It’s a beautiful, though not touristic, town in Apulia, a region that has been re-named by british as salentoshire and trullishire, due to the raising number of english travellers in love with this region.</p>

    <p>And I can’t agree more!</p>

    <p>There are so many reasons to visit this land, I’ll try to list few.</p>

    <h2>Weather</h2>

    <p>Expect a warm sun, almost the whole year, during summer time, expect a really warm weather!</p>

    <h2>Landscape</h2>
    <p>Ionian sea is only 20 km far, it’s the most beautiful sea in continental italy. Adriatic sea is only 60 km far. Ideal for an affordable coast-to-coast. In land is very green and refreshing, with pine forests, fertile soil to grow olives,  tomatoes, almonds and every good product.</p>

    <p>Another interesting caratheristic are the ‘gravine’ kind of caves in natural canyons, where the ancient population lived many centuries ago</p>


    <h2>Food and wine</h2>
    <p>You might not be aware of the fact that an high % of the wine produced in italy has a base made with grapes from this land. The wine ‘Primitivo di Manduria’ (a town far only few km from Grottaglie) is a must to try.</p>

    <p>As mentioned in the landscape, here you can try wonderful BIO products from agriculture. Tomatoes, almonds, grapes, olives, all sort of salads, watermelon and so on…</p>

    <p>My recommendation is to enjoy a great dinner at ‘Casa Lacorte‘, in the historical part of the town. This newly open restaurant has an amazing terrace and also the internal part is very nice. A must to try is the fave’s cream (see picture)!</p>


    <h2>streetart-Street-art</h2>
    <p>Grottaglie has one of the biggest historical centre in the whole region.</p>

    <p>Few years ago a talented and smart young local decided to invite the most famous street artists from Europe, to redecorate streets and buildings.</p>

    <p>Unfortunately the festival (FAME) had been active only for few years, however the pieces of ART are still visible all around the town.</p>

    <p>Take a stroll and admire all of them, there are many huge graffiti taking the whole building, as well as smaller ones.</p>

    <p>Take a stroll and admire all of them, there are many huge graffiti taking the whole building, as well as smaller ones.</p>

    <h2>Ceramic</h2>

    <p>Art lovers will find Grottaglie a paradise also for its ceramics.</p>

    <p>The city is considered the ‘capital’ of this ancient art.</p>

    <p>There is a nice neighborhood/district all dedicated to small stands and shops, where you can fine real pieces of handcraft art.</p>

    <p>Everywhere entrance is free, feel free to ask about the products (however english is not widely spoken, you know italians :)…), take pictures and admire the steps of the long process and creation of a ceramic pitchers, jars, urns…</p>

    <p>Grottaglie has an old castle, entrance is free together with its museum of ceramics.</p>

    <h2>People</h2>

    <p>Despite the evident language barriers, do not hesitate to ask for any information.</p>

    <p>Locals are incredibly nice and kind and will do their best to help out.</p>

    <p>The atmosphere in town is really easy-going, we are in deep South italy, stress is something far from the daily life.</p>

    <p>Expect shops to be closed after lunch, until 16 or even 17, because ‘siesta’ is not only a spanish habbit!</p>

    <p>Best meeting point for a nice chat with locals is Bar delle Torri. The owners, Ciro and Saverio have created a very pleasant place where to have a drink and in general, good time.</p>

</div>

<script>

function onBodyLoad() {
    currentView = new Views.ViewBase();
}

</script>