@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model ViewModelArticle

@{
    ViewData["Title"] = "Malta: sea & sun!";    
    ViewBag.BodyClass = "articles";
}

<div class="wrapper">
    
    <h1>Malta: sea & sun!</h1>

    <p>Malta is an incredible island in the heart of Mediterranean sea.</p>

    <p>The island is small, from the northern point to the southern there are only 20 km…however you will have many things to do and see.</p>

    <p>This was my second time in the island and I haven’t visited yet Gozo and Comino, the other 2 smaller islands, because, there are so many things to do and when you stay in Malta you want to enjoy the relaxed atmosphere too. Then, no hurry!</p>

    <p>Malta is well-connected to the rest of Europe, many low-cost flights are available, once you visit the island you will return back…</p>

    <p>Malta has not only sea and sun, cultural sightseeing will take you busy as well, with a huge number of historical churches, a visit at the former capital,  Mdnia and at the actual one, Valletta (UNESCO World Heritage site for the massive number of historical buildings found in a tiny space).</p>

    <p>I suggest buying a public transportation ticket. A ticket valid for 7 days costs only 6,50 Euro!</p>

    <p>If you are planning to spend some days in Malta, I can only recommend one place: Hostel Malti!</p>

    <p>This hostel is managed by Chris and Aaron, two incredibly friendly guys. They will give you all the info and advises regarding the island and make you feel at home in their hostel.</p>

    <p>Often they organize some events such as parties, BBQ, daily trips, drinking nights…</p>

    <p>The hostel is located in the nightlife district, S. Julien, very close to public bus stops and rocks beaches. Everything you need is at walking distance.</p>

    <p>A chill-out roof terrace, with a jacuzzi available for guests will do the rest, eventually you will return at Hostel Malti!</p>

    <p>Visit Blue Grotto!</p>

    <p>From Hostel Malti, take bus going to Valletta’s HUB (nr. 12 and 13), then take a bus to Zurrieq (71) and from there to Blue grotto. It’s easier to do than to be explained. In any case maltese people and bus drivers are very friendly and they will give you all the info and help you might need.</p>

    <p>It’s a fantastic day trip. I haven’t done it entirely, as I didn’t feel like a tourist.</p>

    <p>However there are small traditional boats, with cheerful Maltese skippers, which will bring you to these big natural caves, you can admire them from the famous deep blue waters…The boat ride costs 8 euros per person. More info here.</p>

    <p>Sunset at Dingli cliffs!</p>

    <p>Another terrific day trip, with wonderful views, is at the Dingli cliffs.</p>

    <p>From Rabat’s autobus hub you can catch bus nr. 201 that brings you to the stunning cliffs.</p>

    <p>With friends or just by yourself, try to get there in the late afternoon, maybe carry a bottle of wine and wait for the sunset…</p>

    <p>Hiking is a pleasant activity to do in the island.</p>

    <p>From and to Dingli you can enjoy a walk in the surrounding area, in the maltese countryside.</p>

    <p>Relax and have fun at S. Julien district.</p>

    <p>It’s known to be the active area of the small island, prefered by youngsters for its nightlife.</p>

    <p>In fact bars, restaurants and clubs are widely spread in this village. Night is long here!</p>

    <p>However I rather enjoyed the ‘brightest’ side of the place, during the day.</p>

    <p>In the early morning you can walk along the promenade, there will be many doing jogging, same as in the evening.</p>

    <p>During warm hours the flat rocks are perfect for sunbathing, swimming and read a book, while the sun is ‘kissing’ you…</p>

    <p>Malta will surprise you, there are many activities to be done, according to your tastes. Outdoor sports, nightlife, good food are always available for your amusement.</p>
    
</div>

<script>

function onBodyLoad() {
    currentView = new Views.ViewBase();
}

</script>