

<script id="flights-empty-template" type="text/x-handlebars-template">

    <div class="other-flights-empty">
        
        <div class="info">
            <span class="smile">:(</span>
            No results were found. You can try to search with lower score level.
        </div>
    </div>

</script>

@*remove this when not needed, was just for test*@
<script id="list-tst-template" type="text/x-handlebars-template">
    <div>{{v}}</div>
</script>

<script id="deals-srch-template" type="text/x-handlebars-template">
    <div class="other-flights-filter">
        
        <div class="multi-conn-cont" style="display: none">
            <div class="title">What connection are you interested?</div>
            <div class="airpairs-filter"></div>
        </div>

            <div class="title">How many days would you like to stay in destination?</div>
            <div class="days-range"></div>

            <div class="title">What month are you interested of?</div>
            <div class="months"></div>

        </div>
</script>

<script id="classics-srch-template" type="text/x-handlebars-template">
    <div class="other-flights-filter">
        
        <div class="multi-conn-cont" style="display: none">
            <div class="tit">What connection are you interested?</div>
            <div class="airpairs-filter"></div>
        </div>

        <div class="ltbl">

            <div class="block">
                <div class="dep-arr dep">
                    <div class="tit">Deparature</div>

                    <div class="middle">
                        <div class="date-cont">
                            <input class="date" type="text" />
                            <span class="icon-calendar"></span>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="time"></div>
                    </div>
                </div>
            </div>
            
            <div class="block">
                <div class="dep-arr arr">
                    <div class="tit">Arrival</div>

                    <div class="date-cont-all">
                        <div class="date-cont">
                            <input class="date" type="text" />
                            <span class="icon-calendar"></span>
                        </div>
                    </div>
                    <div class="time-cont">
                        <div class="time"></div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="srvc">
            <a id="search" class="lbtn" href="#">Search</a>
        </div>

    </div>
</script>

<script id="city-deals-weekend-template" type="text/x-handlebars-template">

    <div class="city-deal" data-gid="{{gid}}">

        <span class="icon-cross close"></span>

        <div class="title-top">
            {{title}}
        </div>

        <div class="splitter">
            <div></div>
        </div>

        <div class="flights">

        </div>

    </div>

</script>

<script id="city-deals-template" type="text/x-handlebars-template">

        <div class="city-deal" data-gid="{{gid}}">
            
            <span class="icon-cross close"></span>

            <div class="title-top">
                {{title}}                
            </div>

            <div class="splitter">
                <div></div>
            </div>

            <div class="title-deal">
                Our best deal
            </div>

            <div class="flights">

            </div>

            <div class="title">
                Not flexible? See another options in following months
            </div>

            <div class="search-tabs">
                <div class="tab active" data-t="deals">
                    Best deal search
                </div>
                <div class="tab" data-t="classic">
                    Classic search
                </div>
            </div>

            <div class="tabs-cont">

            </div>
            
            <div class="splitter">
                <div></div>
            </div>

            <div class="other-flights-preloader">
                <div class="center">
                    <div class="top">
                        <div class="plane-preloader">
                            <img src="/images/n/Plane_icon.svg" />
                        </div>
                    </div>
                    <div class="bottom">
                        <span class="txt">Not flexible ? We are seraching other good flights with similar prices for you</span>
                    </div>
                </div>
            </div>

            <div class="other-flights-cont">

            </div>

        </div>

    </script>

    <script id="air-pair-item-template" type="text/x-handlebars-template">

        <div class="pair" data-f="{{from}}" data-t="{{to}}">{{from}} - {{to}}</div>

    </script>

    <script id="month-item-filter-template" type="text/x-handlebars-template">

        <div class="month" data-m="{{month}}" data-y="{{year}}"><span>{{txt}}</span></div>

    </script>

<script id="filtering-weekend-template" type="text/x-handlebars-template">

        <div class="weekend-deals-filter">

            <div class="all-deals">
                <div id="cbUseDaysFilter" class="checkbox-all">
                    <div class="checker-all">
                        <div class="checker icon-checkmark2"></div>
                    </div>
                    <div class="label">
                        Use days filter
                    </div>
                </div>
            </div>

            <div class="days-filter">
                <div class="ftbl">

                </div>
            </div>

        </div>


    </script>

<script id="weekend-day-selector-template" type="text/x-handlebars-template">
    <div class="cell">
        <div class="day {{c}}" data-i="{{ni}}">{{name}}</div>
    </div>
</script>

    <script id="filtering-template" type="text/x-handlebars-template">

        <div class="filtering">

            <div class="layout-table">
                <div class="l">
                    <div class="locations">

                    </div>
                </div>

                <div class="r">

                    <div class="rating-filter">
                        <div class="levels">

                            <div class="itm">
                                <div class="level lev5 active" data-s="5">
                                    <div class="num">20</div>
                                    <div class="stars">
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                    </div>
                                    <div class="txt">Excellent deals</div>
                                </div>
                            </div>

                            <div class="itm">
                                <div class="level lev3" data-s="3">
                                    <div class="num">99</div>
                                    <div class="stars">
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                        <span class="icon-star-full"></span>
                                    </div>
                                    <div class="txt">Good deals</div>
                                </div>
                            </div>

                            <div class="itm">
                                <div class="level lev1" data-s="1">
                                    <div class="num">20</div>
                                    <div class="stars">
                                        <span class="icon-star-full"></span>
                                    </div>
                                    <div class="txt">Standard deals</div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="sec-line">

            </div>

        </div>

    </script>

    <script id="filter-location-template" type="text/x-handlebars-template">
        <div class="location" data-type="{{type}}">
            <div class="ico-all">
                <span class="icon icon-{{icon}}"></span>
            </div>
            <div class="txt">
                <span>{{txt}}</span>
            </div>
        </div>
    </script>


    <script id="range-slider-template" type="text/x-handlebars-template">

        <div class="slider-cont">

            <div class="tbl">
                <div class="left">
                    <input id="{{id}}_from" type="number" />
                </div>
                <div class="center">
                    <div class="inner-cont-slider">
                        <div id="{{id}}"></div>
                    </div>
                </div>
                <div class="right">
                    <input id="{{id}}_to" type="number" />
                </div>
            </div>

        </div>

    </script>

    <script id="time-slider-template" type="text/x-handlebars-template">

        <div class="slider-cont">

            <div class="tbl">
                <div class="left">
                    <span class="value" id="{{id}}_from"></span>
                </div>
                <div class="center">
                    <div class="inner-cont-slider">
                        <div id="{{id}}"></div>
                    </div>
                </div>
                <div class="right">
                    <span class="value" id="{{id}}_to"></span>
                </div>
            </div>

        </div>

    </script>

    <script id="connection-single-flight-template" type="text/x-handlebars-template">

        <div class="flight-bck-cont {{customClass}}">

            <div class="flight">
                <div class="top-line">
                    {{airName}}
                </div>

                <div class="data-tbl">

                    <div class="di logo-cont">
                        <img class="air-logo" src="{{logoLink}}" />
                    </div>

                    <div class="di flight-dir">
                        <div class="from-to">{{codeFrom}} → {{codeTo}}</div>
                        <div class="flight-no">{{flightNo}}</div>
                    </div>

                    <div class="di">
                        <div class="date">{{date}}</div>
                    </div>

                    <div class="di time-cont">
                        <div class="time">{{timeFrom}} - {{timeTo}}</div>
                        <div class="duration">({{durHours}}h {{durMins}}min)</div>
                    </div>

                    <div class="di direct-cont">

                        {{#ifCond stops 0}}
                        <div class="direct">Direct</div>
                        {{else}}
                        <div class="stops">
                            <a class="stops-btn" href="#"><span class="txt">{{stops}} Stops </span><span class="icon-dropdown-arrow"></span></a>
                        </div>
                        {{/ifCond}}

                    </div>

                </div>

            </div>
        </div>

    </script>

    <script id="connection-flight-template" type="text/x-handlebars-template">

        <div class="conn">

            <div class="layout-tbl">
                <div class="left">

                    @*<div class="service">
                            <a href="#"><span class="txt">show detail </span><span class="icon-dropdown-arrow"></span></a>
                        </div>*@

                </div>
                <div class="right">

                    <div class="book-zone">
                        <div class="score">
                            <div class="txt-score">
                                {{#ifCond scoreText "E"}}Excellent{{/ifCond}}
                                {{#ifCond scoreText "G"}}Good{{/ifCond}}
                                {{#ifCond scoreText "S"}}Standard{{/ifCond}}
                            </div>
                            <div class="stars-score">

                                {{#for 0 scoreStars 1}}
                                <span class="icon-star-full"></span>
                                {{/for}}

                            </div>
                            <div class="cap">
                                Flight score
                            </div>
                        </div>
                        <div class="price-all">
                            <span class="currency">€</span><span class="price">{{price}}</span>
                        </div>

                        <div class="btn-cont">
                            <a href="#">Book now</a>
                        </div>
                    </div>



                </div>
            </div>

        </div>

    </script>

    <script id="offers-expander-template" type="text/x-handlebars-template">
        <tr class="expander">
            <td colspan="4">
                <a class="btn" href="#">more</a>
            </td>
        </tr>
    </script>

    <script id="offers-collapser-template" type="text/x-handlebars-template">
        <tr class="collapser">
            <td colspan="4">
                <a class="btn" href="#">less</a>
            </td>
        </tr>
    </script>

    <script id="continent-group-template" type="text/x-handlebars-template">
        <div class="continent-all">
            <div class="title">
                <span class="txt">{{name}}</span>

                <a href="#" data-v="true" class="visi">collapse</a>
            </div>
            <div class="cont">

            </div>
        </div>
    </script>

    <script id="resultGroupItemCountry-template" type="text/x-handlebars-template">
        <div class="flight-result" data-cc="{{cc}}">
            <div class="img-cont">

                <div class="img-wrap">
                    <img src="/images/n/flags-square/{{cc}}.svg" />
                </div>

                <div class="txt-cont darker">{{title}}</div>
                <div class="price-cont">
                    <div class="wrap">
                        <span class="from">from</span>
                        <br />
                        <span class="price-all">
                            <span class="currency">€</span><span class="price">{{price}}</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">

                <table></table>

            </div>
        </div>
    </script>


    <script id="resultGroupItem-template" type="text/x-handlebars-template">
        <div class="flight-result" data-gid="{{gid}}" data-name="{{title}}">
            <div class="img-cont">

                <img src="/picd/{{gid}}/f" />
                <div class="txt-cont">{{title}}</div>
                <div class="price-cont">
                    <div class="wrap">
                        <span class="from">from</span>
                        <br />
                        <span class="price-all">
                            <span class="currency">€</span><span class="price">{{price}}</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">

                <table></table>

            </div>
        </div>
    </script>


    <script id="resultGroup-priceItem-template" type="text/x-handlebars-template">
        <tr data-f="{{from}}" data-t="{{to}}">
            <td><strong>{{from}} → {{to}}</strong></td>
            <td>from</td>
            <td><strong>€{{price}}</strong></td>
            <td><a class="btn" href="#">see offers</a></td>
        </tr>
    </script>

    <script id="grouped-country-city-template" type="text/x-handlebars-template">
        <tr data-gid="{{gid}}">
            <td><strong>{{name}}</strong></td>
            <td>from</td>
            <td><strong>€{{price}}</strong></td>
            <td><a class="btn" href="#">see offers</a></td>
        </tr>
    </script>


    <script id="weekend-week-template" type="text/x-handlebars-template">
        <div class="weekend-item" data-w="{{week}}" data-t="{{year}}">

            <div class="title">
                <span class="week">{{week}}. weekend</span> <span class="date">({{dateFrom}} - {{dateTo}})</span>
            </div>

            <div class="cont"></div>
        </div>

    </script>

    <script id="custom-menu-btn-template" type="text/x-handlebars-template">

        <div id="{{id}}" class="item" data-id="{{id}}">
            <div class="name">
                <span class="name-txt">{{name}}</span>
                <input class="name-edit" type="text" value="{{name}}" />
            </div>
            <div class="service">
                <span class="edit icon-edit-pencil"></span>
                <span class="delete icon-cross"></span>
                <a class="edit-save" href="#">save</a>
            </div>
        </div>

    </script>


    <script id="freq-item-template" type="text/x-handlebars-template">

        <div class="cell">
            <div class="item" data-d="{{days}}">{{text}}</div>
        </div>

    </script>

<script id="custom-template" type="text/x-handlebars-template">

        <div class="form-custom">

            <div class="searches-menu">
                <a class="adder icon-plus"></a>
                <a class="show-hide" href="#"></a>
            </div>
            
            <div class="form-cont">
                
                <div class="title">What are departing airports?</div>
                <div class="airports-cont">
                    <div class="sta-air-cont">
                        <input id="cbStandard" type="checkbox" />
                        <label for="cbStandard">My standard airports</label>
                    </div>
                    <div class="tagger-cont" id="airTagger"></div>
                </div>

                <div class="title">How many days would you like to spend in destination?</div>
                <div class="days-range-cont"></div>

                <div class="title">When is your earliest deparature and latest arrival?</div>
                <div class="dates">

                    <div class="date-cont">
                        <input class="date" type="text" id="dpDep">
                        <span class="icon-calendar"></span>
                    </div>

                    <div class="date-cont">
                        <input class="date" type="text" id="dpArr">
                        <span class="icon-calendar"></span>
                    </div>

                </div>

                <div class="title">How often would you like to receive newsletter?</div>
                <div class="freq-cont">
                    <div class="itbl">

                    </div>
                </div>

                <div class="action-bar">
                    <a class="lbtn2 inactive" href="#">Start search</a>
                </div>
            </div>
        </div>



    </script>
