.future {
    .future-label {
        color: $color1;
        display: inline-block;
        line-height: 46px;
        margin: 0 10px;
    }
    .future-line {
        line-height: 46px;
        margin-left: 10px;
    }
    .future-table {
        margin-bottom: 7px;
        width: 100%;
        .future-label {
            min-width: 50px;
        }
        .future-select-full {
            width: 856px;
            .selected {
                width: 806px;
            }
        }
        .future-tags-full {
            width: 820px;
        }
        .future-tags-half {
            width: 357px;
        }
    }
    .trips {
        // mapbox fix
        @include transform(translate3d(0px, 0px, 0px));
    }
    @include tablet {
        .future-table {
            .future-select-full {
                width: 656px;
                .selected {
                    width: 606px;
                }
            }
            .future-tags-full {
                width: 620px;
            }
            .future-tags-half {
                width: 257px;
            }
        }
    }
}

.future-popup {
    & > div {
        width: 560px;
    }
    .places {
        margin-top: 5px;
    }
    .future-hometown {
        .inputed {
            width: 400px;
        }
    }
}