<section class="line margin padding">
		<div class="wrapper">
				<h3>Comments</h3>
				<div class="form">
						<div class="table row margin">
								<div class="cell">
										<input id="commentInput" class="width700" type="text" placeholder="Your comment...">
								</div>
								<div class="cell">
										<input id="commentSubmit" type="button" value="Add comment">
								</div>
						</div>
				</div>

				<div id="commentsContainer" class="comments table">



				</div>
		</div>


</section>