
<section class="line margin padding">
    <div class="wrapper">
        <h3>@Model.W("Comments")</h3>
        <div class="form">
            <div class="table row margin">
                <div class="cell">
                    <textarea id="commentInput" class="width700" type="text" placeholder="@Model.W("YourComment")"></textarea>
                </div>
                <div class="cell">
                    <input id="commentSubmit" type="button" value="@Model.W("AddComment")">
                </div>
            </div>
        </div>

        <div id="commentsContainer" class="comments table">

        </div>
    </div>

</section>