

<div class="wrapper comments">
    <h3>@Model.W("Comments")</h3>

    <div class="txt-input">
        <div class="txt">
            <textarea id="commentInput" class="box-sizing" type="text" placeholder="@Model.W("YourComment")"></textarea>
        </div>
        <div class="btn">
            <a id="commentSubmit" class="lbtn" href="#">@Model.W("AddComment")</a>
        </div>
    </div>

    <div id="commentsContainer">

    </div>
</div>

