<div id="dialogUpload" class="upload-holder margin">
    <textarea id="dialogDescription" placeholder="Description or related files"></textarea>

    <div id="entityDocs" class="documents grid col3 margin"></div>

    <div class="upload-droparea" style="display: none">
        <div class="center-vertical">
            <div class="centered">
                <strong>Drop Files Here</strong>
                @Html.Partial("ProgressBar", "")
            </div>
        </div>
    </div>
</div>