<div id="dialogUpload" class="upload-holder margin">
    <textarea id="dialogDescription" placeholder="Description or related files"></textarea>

    <div id="entityDocs" class="documents grid col3 margin"></div>

    <div class="upload-droparea" style="display: none">
        <div class="center-vertical">
            <div class="centered">
                <strong>Drop Files Here</strong>
                <div class="upload-progressbar" style="display: none">
                    <div class="progressbar-holder middle">
                        <div class="progressbar">
                            <div class="progress" style="width:0;"></div>
                            <span>0%</span>
                        </div>
                    </div>
                    @*<a class="button middle mleft5" href="#">Cancel</a>*@
                </div>
            </div>
        </div>
    </div>
</div>