<section class="wrapper margin">
		<h3>All documents</h3>
		<div id="filesContainer" class="documents bordered grid col7">
            <div class="cell">
                <div class="document">
                    <a class="create" href="#">Add file</a>
                </div>
            </div>
		</div>
</section>