<section class="wrapper margin">
		<h3>All documents</h3>
    <div id="filesContainer" class="documents bordered grid col7">
        <span class="noFiles">No files has been added yet</span>
    </div>
    <div id="filesPickerBox"></div>
</section>