<div id="invitationState" class="dropdown blue-trans" style="display: none;">
    <span class="selected"></span>
    <ul>
        <li data-value="0" style="display: none;">
            <span class="icon-invite left mright10"></span>
            Invited
        </li>
        <li data-value="1">
            <span class="icon-accept left mright10"></span>
            Accepted
        </li>
        <li data-value="2">
            <span class="icon-maybe left mright10"></span>
            Maybe
        </li>
        <li data-value="3">
            <span class="icon-refuse left mright10"></span>
            Refused
        </li>
    </ul>
    <input type="hidden">
</div>