@using System.Globalization
@using System.Threading.Tasks
@model Gloobster.Portal.ViewModels.UserViewModel


<div class="cell">
		<div class="table">
				<div class="cell">
						<span class="thumbnail">
								<img src="/PortalUser/ProfilePicture_s/@Model.Id">
						</span>
				</div>
				<div class="cell">@Model.Name</div>
		</div>
</div>