
<section class="bggray margin">
		<div class="wrapper">
				<h3>Joined travelers</h3>
				<div class="team grid col5">
						@foreach (var participant in Model.Participants)
						{
							await Html.RenderPartialAsync("Participant", (object)participant);
						}
				</div>
		</div>
</section>