


<div class="trip-participants">
    <div class="wrapper">
        <h3>@Model.W("JoinedTravelers")</h3>
        <div class="list">
            @foreach (var participant in Model.Participants)
            {
                await Html.RenderPartialAsync("Participant", (object)participant);
            }
        </div>
    </div>
</div>
