@using System.Globalization
@using System.Threading.Tasks
@using Gloobster.Common
@model Gloobster.Portal.ViewModels.UserViewModel

<div class="participant">
    <div class="top">
        <div class="thumb-cont s border">
            <img src="/PortalUser/ProfilePicture_s/@Model.Id"/>
		</div>
    </div>
    <div class="bottom"><a href="/@RoutingConsts.UserDetailMenuName/@Model.Id">@Model.Name</a></div>
</div>
