@using System.Globalization
@using System.Threading.Tasks
@model Gloobster.Portal.ViewModels.TripParticipantViewModel


<div class="cell">
		<div class="table">
				<div class="cell">
						<span class="thumbnail">
								<img src="@Model.PhotoUrl">
						</span>
				</div>
				<div class="cell">@Model.DisplayName</div>
		</div>
</div>