@*@using System.Globalization
		@using System.Threading.Tasks
		@using Gloobster.Portal.Controllers.Portal
		@using Gloobster.Portal.ViewModels
		@mode Gloobster.Portal.ViewModels.TripItemViewModell*@

<div class="daybyday-form margin form" action="#" method="post">
		<div class="table row">
			<div class="cell baseline">
				<div id="cities" class="dropdown left">
							<input class="inputed" type="text" placeholder="Place name">
							<ul></ul>
					</div>				
				@*<h3>Frankfurkt</h3>*@
			</div>
				<div class="cell baseline color1">June averages: Day 32°C • Night 16°C</div>
		</div>
		<textarea placeholder="Description or related files"></textarea>
		<div class="documents grid col3 margin">
				<div class="cell">
						<div class="document">
								<a class="file doc" href="#file">Hotel Ritz Reservation.doc</a>
								<a class="delete" href="#delete">Delete</a>
						</div>
				</div>
				<div class="cell">
						<div class="document">
								<a class="file pdf" href="#">Hotel Ritz Reservation.pdf</a>
								<a class="delete" href="#">Delete</a>
						</div>
				</div>
		</div>
		<div class="table row">
				<div class="cell address">
						<h4>
								Address
								<span class="slim">where I stay</span>
						</h4>
						<div class="dropdown">
								<input class="inputed" type="text" placeholder="">
								<ul>
										<li class="disabled">Cities</li>
										<li data-value="New York">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New York
												<span class="color2">, USA</span>
										</li>
										<li data-value="New Jersey">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New Jersey
												<span class="color2">, USA</span>
										</li>
										<li data-value="New Dili">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New Dili
												<span class="color2">, India</span>
										</li>
										<li class="disabled">Cities 2</li>
										<li data-value="New York">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New York2
												<span class="color2">, USA</span>
										</li>
										<li data-value="New Jersey">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New Jersey2
												<span class="color2">, USA</span>
										</li>
										<li data-value="New Dili">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New Dili2
												<span class="color2">, India</span>
										</li>
								</ul>
						</div>
						<a class="create" href="#">Add a personal note</a>
				</div>
				<div class="cell places">
						<h4>Places to visit</h4>
						<div class="place">
								<span class="thumbnail">
										<img src="~/images/samples/sample11.jpg">
								</span>
								Eis Cafe Frankfurkt
								<a class="more" href="#">More</a>
								<a class="delete" href="#">Delete</a>
						</div>
						<div class="place">
								<span class="thumbnail">
										<img src="~/images/samples/sample11.jpg">
								</span>
								Pub 99 Beers On Tap
								<a class="more" href="#">More</a>
								<a class="delete" href="#">Delete</a>
						</div>
						<div class="dropdown">
								<input class="inputed" type="text" placeholder="+ Pubs, Restaurants, Museums...">
								<ul>
										<li class="disabled">Cities</li>
										<li data-value="New York">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New York
												<span class="color2">, USA</span>
										</li>
										<li data-value="New Jersey">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New Jersey
												<span class="color2">, USA</span>
										</li>
										<li data-value="New Dili">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New Dili
												<span class="color2">, India</span>
										</li>
										<li class="disabled">Cities 2</li>
										<li data-value="New York">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New York2
												<span class="color2">, USA</span>
										</li>
										<li data-value="New Jersey">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New Jersey2
												<span class="color2">, USA</span>
										</li>
										<li data-value="New Dili">
												<span class="thumbnail">
														<img src="~/images/samples/sample11.jpg">
												</span>
												New Dili2
												<span class="color2">, India</span>
										</li>
								</ul>
						</div>
						<input type="submit" value="Add place">
				</div>
		</div>
		<div class="rating-holder">
				Rating
				<span class="rating pct70 bottom"></span>
		</div>
		<a class="close" href="#">Close</a>
</div>