

<script id="addPlace-template" type="text/x-handlebars-template">
		<div id="lastCell" class="cell">
				<a id="addPlace" class="create" href="#"></a>
		</div>		
</script>

<script id="travel-template" type="text/x-handlebars-template">
		<div id="{{id}}" class="cell">
				<div class="transport">
						<span class="{{icon}}"></span>
				</div>
				<div class="timeline falldown {{colorClass}}"></div>
		</div>
</script>


<script id="place-template" type="text/x-handlebars-template">
		<div id="{{id}}" data-row="{{rowNo}}" class="cell">
								
		{{#if isActive}}
				<div class="destination active">
		{{else}}
				<div class="destination">
		{{/if}}
						<span class="name">{{name}}</span>
								<span class="tab">arrival {{arrivalDateLong}}</span>
						</div>
												
				{{#if isFirstDay}}
						<div class="timeline green" style="text-align: center">{{leavingDate}}</div>
				{{else}}
						<div class="timeline {{colorClassArriving}} arrivingDate">{{arrivingDate}}</div>
						<div class="timeline {{colorClassLeaving}} leavingDate">{{leavingDate}}</div>
				{{/if}}
				
		</div>

</script>


<script id="visitItem-template" type="text/x-handlebars-template">
		<div data-id="{{id}}" class="place">
				<span class="{{icon}} left mright10"></span>

				{{name}}
				<a class="more" href="javascript:window.open('{{link}}')">More</a>
				<a class="delete" href="#">Delete</a>
		</div>
</script>

<script id="fileItem-template" type="text/x-handlebars-template">
    <div class="cell">
        <div class="document table">
            <div class="cell middle">
                <a class="file {{fileType}}" href="/Trip/GetFile?fileId={{id}}&tripId={{tripId}}">
                    <span class="display-none">{{fileName}}</span>
                </a>
            </div>
            <div class="cell middle nowrap">
                
                {{#if canManipulate}}
                    <input class="filePublic filePublic{{id}}" id="filePublic{{id}}_a" data-id="{{id}}" type="checkbox" />
                    <label class="mleft10" for="filePublic{{id}}_a">Shr. invited</label>
                {{/if}}

                <a href="/Trip/GetFile?fileId={{id}}&tripId={{tripId}}">{{fileName}}</a>
            </div>
            <div class="cell middle">
                <a class="delete popup-target" data-target="#popup-delete" data-id="{{id}}" href="#"></a>                
            </div>
        </div>
    </div>	
    
    
</script>

<script id="placeDetail-template" type="text/x-handlebars-template">
		<div class="daybyday-form margin form" action="#" method="post">
				<div class="table row">
						<div class="cell baseline">
								<div id="cities" class="dropdown left">
										<input class="inputed" type="text" placeholder="Place name">
										<ul></ul>
								</div>
								@*<h3>Frankfurkt</h3>*@
						</div>
						<div class="cell baseline color1">June averages: Day 32°C • Night 16°C</div>
				</div>
				<textarea id="dialogDescription" placeholder="Description or related files"></textarea>
				<div id="entityDocs" class="documents grid col3 margin">						
                    <span class="noFiles">No files has been added yet</span>
				</div>
                <div id="filesPickerBoxDialog"></div>
				<div class="table row">
						<div class="cell address">
								<h4>
										Address
										<span class="slim">where I stay</span>
								</h4>
								<div id="stayPlace" class="dropdown">
										<input class="inputed" type="text" placeholder="Search for place">
										<ul>											
										</ul>
								</div>
								<input id="stayAddress" class="inputed" type="text" placeholder="Text address">
								@*<a class="create" href="#">Add a personal note</a>*@
						</div>
						<div class="cell places">
								<h4>Places to visit</h4>

								<div id="placeToVisit" class="dropdown">
										<input class="inputed" type="text" placeholder="+ Pubs, Restaurants, Museums...">
										<ul>												
										</ul>
								</div>
								@*<input type="submit" value="Add place">*@
						</div>
				</div>
				@*<div class="rating-holder">
						Rating
						<span class="rating pct70 bottom"></span>
				</div>*@
				<a class="close" href="#">Close</a>
		</div>

</script>

<script id="placeDetailView-template" type="text/x-handlebars-template">
		<div class="daybyday-view margin form">
				<div class="table row">
						<div class="cell baseline">
								<h3>{{name}}</h3>
						</div>						
				</div>
				<p>{{description}}</p>
				<div id="entityDocs" class="documents grid col3 margin">					
				</div>
				<div class="table row">
						<div class="cell places">
								<h4>Going to visit</h4>
								{{#if hasNoWantVisit}}
								<div class="place">										
										No planes so far										
								</div>
								{{/if}}
								{{#each wantVisit}}
										<div class="place">
												<span class="{{icon}} left mright10"></span>												
												{{name}}
												<a class="more" href="javascript:window.open('{{link}}')">More</a>												
										</div>
								{{/each}}								
						</div>
						
                    {{#if hasAddress}}
                        <div class="cell places">
								<h4>Address of the stay</h4>
								<div class="place">
										<span class="{{stayIco}} left mright10"></span>
										{{stayName}}
										<a class="more" href="javascript:window.open('{{stayLink}}')">Link</a>
								</div>
								<div class="place">										
										{{stayAddress}}
                                         @*todo: implement map*@
										<a class="more" href="#">Map</a>
								</div>
								
						</div>
                    {{/if}}
				</div>
				

				<a class="close" href="#">Close</a>
		</div>
</script>

<script id="placeDetailViewFriends-template" type="text/x-handlebars-template">
    <div class="daybyday-view margin form">
        <div class="table row">
            <div class="cell baseline">
                <h3>{{name}}</h3>
            </div>            
        </div>        
        
        <div class="table row">
            <div class="cell places">
                <h4>Going to visit</h4>
                {{#if hasNoWantVisit}}
                <div class="place">        
                    No planes so far
                </div>
                {{/if}}
                {{#each wantVisit}}
                <div class="place">
                    <span class="{{icon}} left mright10"></span>
                    {{name}}
                    <a class="more" href="javascript:window.open('{{link}}')">More</a>
                </div>
                {{/each}}
            </div>
        </div>


        <a class="close" href="#">Close</a>
    </div>
</script>

<script id="travelDetail-template" type="text/x-handlebars-template">
		<div class="daybyday-form margin form" action="#" method="post">
				@*
				<div class="table row">						
						<div class="cell baseline"><h3>PRG → VIE</h3></div>
						<div class="cell baseline color1">Delta Air Flight 2560 from Prague to Vienna • Distance 1200 km</div>
				</div>
				*@
				<div class="margin">
						<div id="travelType" class="dropdown">
								<span class="selected">										
								</span>
								<ul>
										<li data-value="6" data-cls="icon-bike" data-cap="Bike">
												<span class="icon-bike black left mright5"></span>
												Bike
										</li>
										<li data-value="5" data-cls="icon-boat" data-cap="Ship">
												<span class="icon-boat black left mright5"></span>
												Ship
										</li>
										<li data-value="2" data-cls="icon-car" data-cap="Car">
												<span class="icon-car black left mright5"></span>
												Car
										</li>
										<li data-value="1" data-cls="icon-plane" data-cap="Plane">
												<span class="icon-plane black left mright5"></span>
												Plane
										</li>
										<li data-value="4" data-cls="icon-train" data-cap="Train">
												<span class="icon-train black left mright5"></span>
												Train
										</li>
										<li data-value="3" data-cls="icon-train" data-cap="Bus">
												<span class="icon-train black left mright5"></span>
												Bus
										</li>
										<li data-value="0" data-cls="icon-walk" data-cap="Walk">
												<span class="icon-walk black left mright5"></span>
												Walk
										</li>
								</ul>
								<input type="hidden">
						</div>
				</div>

				<div id="flightDetails" class="margin" style="display: none">								
						<div id="airportFrom" class="dropdown">
								<input class="inputed" type="text" placeholder="From">
								<ul>
								</ul>
						</div>
						<div id="airportTo" class="dropdown">
								<input class="inputed" type="text" placeholder="To">
								<ul>										
								</ul>
						</div>
				</div>
								
								@*http://felicegattuso.com/projects/datedropper/#demo*@
								@*http://www.jqueryrain.com/?B83aD_dg*@
								@*http://doptiq.com/smart-forms/demos/samples/flat/datepicker-yellow.html*@
								@*<div class="datepicker">
												24.6.
										</div>
										<div class="datepicker">
												24.6.
										</div>*@

				<div class="margin">
						Leaving: <input id="leavingDate" type="text" size="10" />-						
						<input id="leavingHours" type="number" min="0" max="23" step="1" />:<input id="leavingMinutes" type="number" min="0" max="59" step="1"  />
				</div>
								
				<div class="margin">						
						Arriving: <input id="arrivingDate" type="text" size="10" />-
						<input id="arrivingHours" type="number" min="0" max="23" step="1" />:<input id="arrivingMinutes"  type="number" min="0" max="59" step="1"  />
				</div>
            
            <div id="dialogUpload" class="upload-holder margin">
                <textarea id="dialogDescription" placeholder="Description or related files"></textarea>
                
                <div id="entityDocs" class="documents grid col3 margin"></div>

                <div class="upload-droparea" style="display: none">
                    <div class="center-vertical">
                        <div class="centered">
                            <strong>Drop Files Here</strong>
                            @*<div class="upload-progressbar">
                                <div class="progressbar-holder middle">
                                    <div class="progressbar">
                                        <div class="progress" style="width:60%;"></div>
                                        <span>1.5 MB • 3 minutes</span>
                                    </div>
                                </div>
                                <a class="button middle mleft5" href="#">Cancel</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            
            <a class="close" href="#">Close</a>            
		</div>

</script>

<script id="travelDetailView-template" type="text/x-handlebars-template">
		<div class="daybyday-view margin form">
				
{{#if isFlight}}
	<div class="table row">
		<div class="cell baseline"><h3>{{from}} → {{to}}</h3></div>
		@*<div class="cell baseline color1">{{flightDetails}}</div>*@
        @*todo: when data extraction from flight implemented*@
	</div>
{{/if}}
    @*todo: format date time*@
    <p>{{arrivingDateTime}} - {{leavingDateTime}}</p>
				
    <p>{{description}}</p>
    <div id="entityDocs" class="documents grid col3 margin">
    </div>
    <div class="table row">
				
    </div>
			
    <a class="close" href="#">Close</a>
		</div>
</script>


<script id="travelDetailViewFriends-template" type="text/x-handlebars-template">
    <div class="daybyday-view margin form">
        
        {{#if isFlight}}
        <div class="table row">
            <div class="cell baseline"><h3>{{from}} → {{to}}</h3></div>           
        </div>
        {{/if}}

        @*todo: format date time*@
        <p>{{arrivingDateTime}} - {{leavingDateTime}}</p>

        <a class="close" href="#">Close</a>
    </div>
</script>
