
<script src="~/js/views/requesttojoinview.js"></script>

@Model.W("InfoMessage")
<br/>
<br />

<button id="reqBtn" data-tid="@Model.Id">@Model.W("ButtonText")</button>

<script>
    currentView = new Views.RequestToJoinView();
</script>

