<div class="popup trip-share" id="popup-share">
		<div>
				<h3><span class="slim">Share</span> My Euro Trip</h3>
				<textarea class="margin" placeholder="Message..."></textarea>
				<div class="color1">Share with friends</div>
				<div class="share-friends table margin">
						<div class="row">
								<div class="cell"><span class="thumbnail"><img src="~/images/samples/sample11.jpg"></span>Johnatan Rainbow</div>
								<div class="cell color1"><input id="checkbox1" type="checkbox"><label for="checkbox1"><span>Can edit</span></label></div>
								<div class="cell small color1">Sharing 5 trips</div>
								<div class="cell"><a class="delete" href="#"></a></div>
						</div>
						<div class="row">
								<div class="cell"><span class="thumbnail"><img src="~/images/samples/sample11.jpg"></span>Emanuel Mexico</div>
								<div class="cell color1"><input id="checkbox2" type="checkbox"><label for="checkbox2"><span>Can edit</span></label></div>
								<div class="cell small color1">Invite via Facebook</div>
								<div class="cell"><a class="delete" href="#"></a></div>
						</div>
						<div class="row">
								<div class="cell"><span class="thumbnail"><img src="~/images/samples/sample11.jpg"></span>john@doe.com</div>
								<div class="cell color1"><input id="checkbox3" type="checkbox"><label for="checkbox3"><span>Can edit</span></label></div>
								<div class="cell small color1">Invite via email</div>
								<div class="cell"><a class="delete" href="#"></a></div>
						</div>
						<div class="row">
								<div class="cell">
										<!-- <input type="text" placeholder="Friend name or email..."> -->
										<div class="dropdown gray">
												<input class="inputed" type="text" placeholder="Friend name or email...">
												<ul>
														<li data-value=""><span class="icon-foursquare black left mright10"></span>Foursquare</li>
														<li data-value=""><span class="icon-facebook black left mright10"></span>Facebook</li>
														<li data-value=""><span class="icon-city black left mright10"></span>City</li>
														<li data-value=""><span class="icon-country black left mright10"></span>Country</li>
												</ul>
										</div>
								</div>
								<div class="cell color1"><input id="checkbox4" type="checkbox"><label for="checkbox4"><span>Can edit</span></label></div>
								<div class="cell"></div>
								<div class="cell"></div>
						</div>
				</div>
				<div class="right">
						<p class="color1">
								Share on social media<br>
								<img class="opacity5 middle" src="~/images/share-facebook.png">
								<img class="opacity5 middle mleft10" src="~/images/share-4s.png">
								<img class="opacity5 middle mleft10" src="~/images/share-twitter.png">
								<img class="opacity5 middle mleft10" src="~/images/share-google.png">
						</p>
						<a class="button right" href="#">Share</a>
				</div>
				<a class="close" href="#">Close</a>
		</div>
</div>