<script id="comment-template" type="text/x-handlebars-template">

		<div class="row">
				<div class="cell">
						<span class="thumbnail">
							<img src="{{photoUrl}}">								
						</span>
				</div>
				<div class="cell">
						<div class="author">
								<a href="/PortalUser/Detail/{{id}}"><strong>{{displayName}}</strong></a>
								<span> • {{displayDate}}</span>
						</div>
						<div class="bubble">
								{{text}}
						</div>
				</div>
		</div>

</script>

<script id="file-template" type="text/x-handlebars-template">
		<div class="cell">
				<div class="document">
						<a class="file {{fileType}}" href="/Trip/GetFile?fileId={{fileId}}&tripId={{tripId}}">{{fileName}}</a>
						<a class="delete popup-target" data-target="#popup-delete" data-id="{{fileId}}" href="#">Delete file</a>						
				</div>
		</div>
</script>

<script id="fileCreate-template" type="text/x-handlebars-template">
        <div class="dndBox">
            <div class="dndBoxInput">              
                <input type="file" id="{{id}}" class="dndBoxFile" multiple="">

                <label for="{{id}}">
                    <strong>Click</strong> or drag
                </label>
            </div>
            
            <div class="pb_all" style="display: none;"> 
                <div class="pb_white">
                    <div class="pb_inner">
                        <span class="pb_percent">0%</span>
                    </div>
                </div>
            </div>
        </div>
    
        

</script>