<script id="comment-template" type="text/x-handlebars-template">
    
    <div class="comment-all">
        <div class="comment">
            <div class="photo">
                <div class="thumb-cont s border">
                    <img src="{{photoUrl}}">
                </div>
            </div>
            <div class="post">
                <div class="author">
                    <a href="/PortalUser/Detail/{{id}}"><strong>{{displayName}}</strong></a>
                    <span> • {{displayDate}}</span>
                </div>
                <div class="bubble">
                    {{text}}
                </div>
            </div>
        </div>
    </div>
</script>

<script id="fileView-template" type="text/x-handlebars-template">
    
    <a class="file {{fileType}}" href="/Trip/GetFile?fileId={{id}}&tripId={{tripId}}"><span>{{fileName}}</span></a>

</script>

<script id="fileCreate-template" type="text/x-handlebars-template">    
    
    <a class="photo-button" href="#">
        <input type="file" id="{{id}}">
        <label for="{{id}}">
            <span>@Model.W("ClickOrDrag")</span>
        </label>
    </a>

</script>

<script id="fileCreateGeneral-template" type="text/x-handlebars-template">
    <div class="cell">
        <div class="document">

            <input type="file" id="{{id}}" class="hiddenFile">
            <label for="{{id}}">
                <span class="disc-create">@Model.W("ChooseFile")</span>
            </label>

        </div>
    </div>
    
</script>

