<script id="comment-template" type="text/x-handlebars-template">

    <div class="row">
        <div class="cell">
            <span class="thumbnail">
                <img src="{{photoUrl}}">
            </span>
        </div>
        <div class="cell">
            <div class="author">
                <a href="/PortalUser/Detail/{{id}}"><strong>{{displayName}}</strong></a>
                <span> • {{displayDate}}</span>
            </div>
            <div class="bubble">
                {{text}}
            </div>
        </div>
    </div>

</script>

<script id="file-template" type="text/x-handlebars-template">
    
    <div class="cell">
        <div class="document">
            <a class="file {{fileType}}" href="/Trip/GetFile?fileId={{id}}&tripId={{tripId}}">
                <span class="display-none">{{fileName}}</span>
            </a>
            {{#if canManipulate}}
            <input id="filePublic{{id}}_b" class="filePublic filePublic{{id}}" data-id="{{id}}" type="checkbox" />
            <label title="@Model.W("ShareTitle")" class="mleft10" for="filePublic{{id}}_b">@Model.W("Share")</label>
            <a class="delete popup-target" data-target="#popup-delete" data-id="{{id}}" href="#"></a>
            {{/if}}

            <a href="/Trip/GetFile?fileId={{id}}&tripId={{tripId}}">{{fileName}}</a>
            
        </div>
    </div>
</script>

<script id="fileView-template" type="text/x-handlebars-template">

    <div class="cell">
        <div class="document">
            <a class="file {{fileType}}" href="/Trip/GetFile?fileId={{id}}&tripId={{tripId}}">{{fileName}}</a>            
        </div>
    </div>

</script>

<script id="fileCreate-template" type="text/x-handlebars-template">    
    <div class="cell">
        <input type="file" id="{{id}}" class="hiddenFile" >
        <label for="{{id}}">
            <span class="button fileButton">@Model.W("ClickOrDrag")</span>
        </label>
    </div>    
</script>

<script id="fileCreateGeneral-template" type="text/x-handlebars-template">
    <div class="cell">
        <div class="document">

            <input type="file" id="{{id}}" class="hiddenFile">
            <label for="{{id}}">
                <span class="disc-create">@Model.W("ChooseFile")</span>
            </label>

        </div>
    </div>
    
</script>

