<script id="comment-template" type="text/x-handlebars-template">

    <div class="row">
        <div class="cell">
            <span class="thumbnail">
                <img src="{{photoUrl}}">
            </span>
        </div>
        <div class="cell">
            <div class="author">
                <a href="/PortalUser/Detail/{{id}}"><strong>{{displayName}}</strong></a>
                <span> • {{displayDate}}</span>
            </div>
            <div class="bubble">
                {{text}}
            </div>
        </div>
    </div>

</script>

<script id="file-template" type="text/x-handlebars-template">
    <div class="cell">
        <div class="document">
            <a class="file {{fileType}}" href="/Trip/GetFile?fileId={{id}}&tripId={{tripId}}">{{fileName}}</a>

            {{#if canManipulate}}
            <a class="delete popup-target" data-target="#popup-delete" data-id="{{id}}" href="#">d</a>
            <input id="filePublic{{id}}_b" class="filePublic filePublic{{id}}" data-id="{{id}}" type="checkbox" />
            <label class="mleft10" for="filePublic{{id}}_b">Shr. invited</label>
            {{/if}}


        </div>
    </div>
</script>

<script id="participants-template" type="text/x-handlebars-template">
    <div style="border: 1px solid red">
        Everbody who is invited into the trip will be able to see all information (except private files). Who has "Can edit" permission can on top of that edit all information.
    </div>
    
    <div>                
        <table id="participantsTable" border="1">

        </table>
        
        <div id="friends" class="dropdown gray">
            <input class="inputed" type="text" placeholder="Friend name...">
            <ul></ul>
        </div>
    </div>
</script>

<script id="participant-template" type="text/x-handlebars-template">
    

        <tr id="{{id}}">
            <td>
                {{name}}
            </td>
            <td>
                <input id="isAdmin{{id}}" data-id="{{id}}" class="isAdmin" type="checkbox" {{checked}} />
                <label for="isAdmin{{id}}"><span>Can edit</span></label>
            </td>
            <td>
                State: {{state}}
            </td>
            <td>
                <button class="del" data-id="{{id}}">Uninvite</button>
            </td>
        </tr>
</script>

<script id="menuPrivacy-template" type="text/x-handlebars-template">
    <div style="border: 1px solid red">
        Set privacy of you trip. In participants menu you can select admins of the trip.
    </div>        
    
    <div>
                <input id="friendsPublic" type="checkbox" checked />
                <label for="friendsPublic"><span>Friends can see basic info of the trip, even they are not invited</span></label>
                <br />
                <input id="allowRequestJoin" type="checkbox" />
                <label for="allowRequestJoin"><span>Friends can request to join</span></label>                
            </div>
        </script>

<script id="menuShare-template" type="text/x-handlebars-template">
    <div style="border: 1px solid red">
        Share your trip to social networks and make your friends aware of your trip. This will not give anybody permission to manipulate with your trip, or see your sensitive data. Just basic trip overview will be displayed.
    </div>
    
    <style>
            img.active {
                border: 2px solid green;
            }
        </style>

        <div>
            <textarea id="message" class="margin right" placeholder="Message..."></textarea>

            <div id="shareCont" class="right">
                <a id="share" class="button right" href="#">Share</a>
            </div>
        </div>
    
</script>

        <script id="fileCreate-template" type="text/x-handlebars-template">
            <div class="dndBox">
                <div class="dndBoxInput">
                    <input type="file" id="{{id}}" class="dndBoxFile" multiple="">

                    <label for="{{id}}">
                        <strong>Click</strong> or drag
                    </label>
                </div>

                <div class="pb_all" style="display: none;">
                    <div class="pb_white">
                        <div class="pb_inner">
                            <span class="pb_percent">0%</span>
                        </div>
                    </div>
                </div>
            </div>



        </script>
