<form class="daybyday-form margin" action="#" method="post">
		<div class="table row">
				<div class="cell baseline"><h3>PRG → VIE</h3></div>
				<div class="cell baseline color1">Delta Air Flight 2560 from Prague to Vienna • Distance 1200 km</div>
		</div>
		<textarea placeholder="Description or related files"></textarea>
		<div class="documents grid col3 margin">
				<div class="cell">
						<div class="document">
								<a class="file doc" href="#file">Hotel Ritz Reservation.doc</a>
								<a class="delete" href="#delete">Delete</a>
						</div>
				</div>
				<div class="cell">
						<div class="document">
								<a class="file pdf" href="#">Hotel Ritz Reservation.pdf</a>
								<a class="delete" href="#">Delete</a>
						</div>
				</div>
				<div class="cell">
						<div class="document">
								<a class="file html" href="#">Hotel Ritz Reservation.doc</a>
								<a class="delete" href="#">Delete</a>
						</div>
				</div>
				<div class="cell">
						<div class="document">
								<a class="file xml" href="#">Hotel Ritz Reservation.pdf</a>
								<a class="delete" href="#">Delete</a>
						</div>
				</div>
				<div class="cell">
						<div class="document">
								<a class="file doc" href="#">Hotel Ritz Reservation.doc</a>
								<a class="delete" href="#">Delete</a>
						</div>
				</div>
				<div class="cell">
						<div class="document">
								<a class="file pdf" href="#">Hotel Ritz Reservation.pdf</a>
								<a class="delete" href="#">Delete</a>
						</div>
				</div>
				<div class="cell">
						<div class="document">
								<a class="file xml" href="#">Hotel Ritz Reservation.pdf</a>
								<a class="delete" href="#">Delete</a>
						</div>
				</div>
				<div class="cell">
						<div class="document">
								<a class="file doc" href="#">Hotel Ritz Reservation.doc</a>
								<a class="delete" href="#">Delete</a>
						</div>
				</div>
				<div class="cell">
						<div class="document">
								<a class="file pdf" href="#">Hotel Ritz Reservation.pdf</a>
								<a class="delete" href="#">Delete</a>
						</div>
				</div>
		</div>
		<p class="blue-info color1">This information has been imported from uploaded files. Feel free to edit it.</p>
		<div class="dropdown">
				<span class="selected">Flight</span>
				<ul>
						<li data-value="">
								<span class="icon-bike black left mright5"></span>
								Bike
						</li>
						<li data-value="">
								<span class="icon-boat black left mright5"></span>
								Boat
						</li>
						<li data-value="">
								<span class="icon-car black left mright5"></span>
								Car
						</li>
						<li data-value="">
								<span class="icon-plane black left mright5"></span>
								Plane
						</li>
						<li data-value="">
								<span class="icon-train black left mright5"></span>
								Train
						</li>
						<li data-value="">
								<span class="icon-walk black left mright5"></span>
								Walk
						</li>
				</ul>
				<input type="hidden">
		</div>
		<div class="dropdown">
				<input class="inputed" type="text" placeholder="From">
				<ul>
						<li data-value="Prague">
								Prague
								<span class="color2">• PRG</span>
						</li>
						<li data-value="Prodigy City">
								Prodigy City
								<span class="color2">• PCI</span>
						</li>
						<li data-value="Preston Town">
								Preston Town
								<span class="color2">• PTW</span>
						</li>
						<li data-value="Probe Village">
								Probe Village
								<span class="color2">• PRV</span>
						</li>
				</ul>
		</div>
		<div class="dropdown">
				<input class="inputed" type="text" placeholder="To">
				<ul>
						<li data-value="Prague">
								Prague
								<span class="color2">• PRG</span>
						</li>
						<li data-value="Prodigy City">
								Prodigy City
								<span class="color2">• PCI</span>
						</li>
						<li data-value="Preston Town">
								Preston Town
								<span class="color2">• PTW</span>
						</li>
						<li data-value="Probe Village">
								Probe Village
								<span class="color2">• PRV</span>
						</li>
				</ul>
		</div>
		<div class="datepicker">
				24.6.
		</div>
		<div class="datepicker">
				24.6.
		</div>
		<a class="close" href="#">Close</a>
</form>