<ul class="trip-menu" id="tripMenu_@Model.Id">
    <li>
        <a class="photoButton" href="#">
            <input id="photoInput_@Model.Id" data-tid="@Model.Id" class="inputs" type="file" />
            <label for="photoInput_@Model.Id">
                <span class="icon-photo middle mright5"></span>
                Title Photo
            </label>
        </a>
    </li>
    <li>
        <a data-tid="@Model.Id" class="deleteTrip" href="#">Delete</a>
    </li>
    <li>
        <a class="menuClose" href="#">Close</a>
    </li>

</ul>