@{
    ViewData["Title"] = "About Travel Deals";
    Layout = "_LayoutNew";
}

<p>
    Choose your home airports and places you'd like to visit. We will keep the information saved and anytime you come back you'll be offerd the best travel deals for your favourite places. Set up a long term search and let us help you find your perfect summer trip.
</p>

<p>
    We will evaluate the best travel deals for your holiday, weekend or help make your dream of visiting an exotic country true.
</p>