@{
    ViewData["Title"] = "About travel map";
    Layout = "_LayoutNew";
}

<p>Keep track of cities, countries and places you have traveled. See where your friends travel the most.</p>

<p>Are you new in town ? See what places are visited by most people.</p>