@{
    ViewData["Title"] = "About Travel Buddy";
    Layout = "_LayoutNew";
}

<p>Find your travel companion right here and right now. See other people around you with similar favourite activites.</p>

<p>Are you planning a trip? Let other people know you'll be there. Share your trip from our Trip planner.</p>