@{
    ViewData["Title"] = "About document organizer";
    Layout = "_LayoutNew";
}

<p>Organize your travel documents and notes day by day. Keep track of places you'd like to visit.</p>

<p>Invite your friend or let people know about your trip via social networks.</p>