@{
    ViewData["Title"] = "About travel wiki";
    Layout = "_LayoutNew";
}

<p>Articles full of useful structured information on places all around the world.</p>

<p>Like many others, help us with aricles content and build one of the biggest travel databases in the world.</p>