@{		
//ViewBag.BodyClass = "future";
//ViewBag.MenuGroup = "Planning";
}

@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.ViewModelSkypickerChat


<script type="text/javascript" src="@Url.Content("~/js/Views/FlyChatView.js")"></script>


<section class="wrapper margin3">

    <table id="theTable">
      
        
    </table>
    <button id="btnCall">Call</button>

    <div id="results">
        
    </div>

</section>

<script>
	function onBodyLoad() {
	    currentView = new Views.FlyChatView();
	}

</script>