@{		
    ViewBag.BodyClass = "sp-chat";
    ViewBag.MenuGroup = "Planning";
    Layout = "_LayoutNew";
}

@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model Gloobster.Portal.ViewModels.ViewModelSkypickerChat


<script type="text/javascript" src="@Url.Content("~/js/Views/FlyChatView.js")"></script>


<div class="wrapper">

    <table id="theTable">


    </table>

    <button id="btnCall">Call</button>

    <div id="results">
        
    </div>

</div>

<script type="text/javascript">
	function onBodyLoad() {
	    currentView = new Views.FlyChatView();
	}

</script>