

<script id="anytime-timeSlider-template" type="text/x-handlebars-template">
    <div class="anytime-slider-cont">
        <div class="title">How many days would you like to stay in destination?</div>
        <div class="inner-cont">
            
            <div class="tbl">
                <div class="left">
                    <input id="daysFrom" type="number" />
                </div>
                <div class="center">
                    <div class="inner-cont-slider">
                        <div id="daysSlider"></div>
                    </div>
                </div>
                <div class="right">
                    <input id="daysTo" type="number" />
                </div>
            </div>
            
            
        </div>
    </div>
</script>

    <script id="connection-single-flight-template" type="text/x-handlebars-template">

        <div class="flight-bck-cont {{customClass}}">

            <div class="flight">
                <div class="top-line">
                    {{airName}}
                </div>

                <div class="data-tbl">

                    <div class="di logo-cont">
                        <img class="air-logo" src="{{logoLink}}" />
                    </div>

                    <div class="di flight-dir">
                        <div class="from-to">{{codeFrom}} → {{codeTo}}</div>
                        <div class="flight-no">{{flightNo}}</div>
                    </div>

                    <div class="di">
                        <div class="date">{{date}}</div>
                    </div>

                    <div class="di time-cont">
                        <div class="time">{{timeFrom}} - {{timeTo}}</div>
                        <div class="duration">({{durHours}}h {{durMins}}min)</div>
                    </div>

                    <div class="di direct-cont">

                        {{#ifCond stops 0}}
                        <div class="direct">Direct</div>
                        {{else}}
                        <div class="stops">
                            <a class="stops-btn" href="#"><span class="txt">{{stops}} Stops </span><span class="icon-dropdown-arrow"></span></a>
                        </div>
                        {{/ifCond}}

                    </div>

                </div>

            </div>
        </div>
    
</script>

    <script id="connection-flight-template" type="text/x-handlebars-template">

        <div class="conn">

            <div class="layout-tbl">
                <div class="left">

                    @*<div class="service">
                            <a href="#"><span class="txt">show detail </span><span class="icon-dropdown-arrow"></span></a>
                        </div>*@

                </div>
                <div class="right">

                    <div class="book-zone">
                        <div class="score">
                            <div class="txt-score">
                                excellent
                            </div>
                            <div class="stars-score">

                                <span class="icon-star-full"></span>
                                <span class="icon-star-full"></span>
                                <span class="icon-star-full"></span>
                                <span class="icon-star-full"></span>
                                <span class="icon-star-full"></span>

                                @*{{#for 1 stars 1}}
                                    <span class="icon-star-full"></span>
                                    {{/for}}*@

                            </div>
                            <div class="cap">
                                Flight score
                            </div>
                        </div>
                        <div class="price-all">
                            <span class="currency">€</span><span class="price">{{price}}</span>
                        </div>

                        <div class="btn-cont">
                            <a href="#">Book now</a>
                        </div>
                    </div>



                </div>
            </div>

        </div>

    </script>



<script id="resultGroupItemCountry-template" type="text/x-handlebars-template">
    <div class="flight-result" data-cc="{{cc}}">
        <div class="img-cont">
            
            <div class="img-wrap">
                <img src="/images/n/flags-square/{{cc}}.svg" />
            </div>
            

            <div class="txt-cont">{{title}}</div>
            <div class="price-cont">
                <div class="wrap">
                    <span class="from">from</span>
                    <br />
                    <span class="price-all">
                        <span class="currency">€</span><span class="price">{{price}}</span>
                    </span>
                </div>
            </div>

        </div>
        <div class="items">

            <table></table>

        </div>
    </div>
</script>


<script id="resultGroupItem-template" type="text/x-handlebars-template">
        <div class="flight-result" data-gid="{{gid}}">
            <div class="img-cont">

                <img src="/picd/{{gid}}/f" />
                <div class="txt-cont">{{title}}</div>
                <div class="price-cont">
                    <div class="wrap">
                        <span class="from">from</span>
                        <br />
                        <span class="price-all">
                            <span class="currency">€</span><span class="price">{{price}}</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="items">

                <table></table>

            </div>
        </div>
    </script>


    <script id="resultGroup-priceItem-template" type="text/x-handlebars-template">
        <tr data-f="{{from}}" data-t="{{to}}">
            <td><strong>{{from}} → {{to}}</strong></td>
            <td>from</td>
            <td><strong>€{{price}}</strong></td>
            <td><a class="btn" href="#">see offers</a></td>
        </tr>
    </script>








<script id="weekend-layout-template" type="text/x-handlebars-template">
    <div class="weekend-filter">
            
        <div class="grouping-filter"></div>
            
        <div class="list-order-filter"></div>
    </div>

</script>

<script id="weekend-week-template" type="text/x-handlebars-template">
    <div class="weekend-item">
        
        <div class="title">
            <span>{{week}}.</span> <span>{{dateFrom}} - {{dateTo}}</span>
        </div>

        <div class="cont"></div>
    </div>
    
</script>



<script id="custom-template" type="text/x-handlebars-template">

        <div class="blue-form margin form">
            <div class="table future-table">
                <div class="cell">
                    <span class="future-label"></span>
                </div>
                <div class="cell">
                    <button id="addNewItem">[+]</button>
                    <input id="nameInput" style="display: none" />

                    <button id="nameSaveBtn" style="display: none">[s]</button>
                    <div class="dropdown future-select-full">

                        <span id="selectedSpan" class="selected"></span>
                        <button id="nameEditBtn">[e]</button>
                        <ul id="searchesList"></ul>
                        <input type="hidden">
                    </div>
                </div>
            </div>
            <div class="table future-table">
                <div class="cell">
                    <span class="future-label">From</span>
                </div>
                <div class="cell">
                    <div id="fromAirportsTagger" class="tags future-tags-full">

                        @*<a class="tag" href="#">Frankfurt &bull; FRA</a>
                            <a class="tag" href="#">Barcelona &bull; BCN</a>

                            <div class="dropdown dropdown-open">
                                    <input class="inputed" placeholder="+ Add Tag">
                                    <ul>
                                            <li>Dropdown Menu Item</li>
                                            <li>Another Item</li>
                                            <li>The Last One</li>
                                    </ul>
                            </div>*@

                        <a class="close" href="#">Close</a>
                    </div>
                </div>
            </div>
            <div class="table future-table">
                <div class="cell">
                    <span class="future-label">Time</span>
                </div>
                <div class="cell">
                    <div id="timeTagger" class="tags future-tags-full">
                        <a class="close" href="#">Close</a>
                    </div>
                </div>
            </div>
            <div id="lengthRadio" class="future-line">
                <span class="color1">Rough duration</span>
                <input id="radio1" data-vl="0" name="radio" type="radio" checked>
                <label class="mleft10" for="radio1">Not important</label>
                <input id="radio2" data-vl="3" name="radio" type="radio">
                <label class="mleft10" for="radio2">Weekend</label>
                <input id="radio3" data-vl="7" name="radio" type="radio">
                <label class="mleft10" for="radio3">Week</label>
                <input id="radio4" data-vl="14" name="radio" type="radio">
                <label class="mleft10" for="radio4">Two weeks</label>
                <input id="radio5" data-vl="custom" name="radio" type="radio">
                <label class="mleft10" for="radio5">Custom</label>
                <input style="display: none" id="customLength" type="text" value="0" />
            </div>
        </div>

    </script>
