<div class="popup future-popup" id="popup-future">
		<div>
				<h3 class="slim">Future Travels Settings</h3>
				<form>
						<div class="table width100">
								<div class="row">
										<div class="cell">
												Notification
										</div>
										<div class="cell">
												<input id="email" type="checkbox">
												<label for="email" class="mright10">Email</label>
												<input id="sms" type="checkbox">
												<label for="sms" class="mright10">SMS</label>
												<input id="facebook" type="checkbox">
												<label for="facebook">Facebook</label>
												<br>
												<input id="inform" type="checkbox">
												<label for="inform">Inform me about exceptional deals</label>
												<div class="small mleft20 color1">Based purely on your home airports. Maximum one deal a month.</div>
										</div>
								</div>
								<div class="row">
										<div class="cell middle">
												Hometown
										</div>
										<div class="cell middle">
												<div class="dropdown future-hometown">
														<input class="inputed" type="text" placeholder="" value="Greenwald, Germany">
														<ul>
																<li class="disabled">Cities</li>
																<li data-value="New York">
																		<span class="thumbnail">
																				<img src="./images/samples/sample11.jpg">
																		</span>
																		New York
																		<span class="color2">, USA</span>
																</li>
																<li data-value="New Jersey">
																		<span class="thumbnail">
																				<img src="./images/samples/sample11.jpg">
																		</span>
																		New Jersey
																		<span class="color2">, USA</span>
																</li>
																<li data-value="New Dili">
																		<span class="thumbnail">
																				<img src="./images/samples/sample11.jpg">
																		</span>
																		New Dili
																		<span class="color2">, India</span>
																</li>
																<li class="disabled">Cities 2</li>
																<li data-value="New York">
																		<span class="thumbnail">
																				<img src="./images/samples/sample11.jpg">
																		</span>
																		New York2
																		<span class="color2">, USA</span>
																</li>
																<li data-value="New Jersey">
																		<span class="thumbnail">
																				<img src="./images/samples/sample11.jpg">
																		</span>
																		New Jersey2
																		<span class="color2">, USA</span>
																</li>
																<li data-value="New Dili">
																		<span class="thumbnail">
																				<img src="./images/samples/sample11.jpg">
																		</span>
																		New Dili2
																		<span class="color2">, India</span>
																</li>
														</ul>
												</div>
										</div>
								</div>
								<div class="row">
										<div class="cell middle">
												Airports far
										</div>
										<div class="cell">
												<div class="table width100 margin">
														<div class="cell">
																<div class="dropdown">
																		<span class="selected">up to 500 km</span>
																		<ul>
																				<li>Dropdown Menu Item</li>
																				<li>Another Item</li>
																				<li>The Last One</li>
																		</ul>
																		<input type="hidden">
																</div>
														</div>
														<div class="cell middle">
																add as home airports
														</div>
														<div class="cell tright">
																<a class="button" href="#">Add</a>
														</div>
												</div>
										</div>
								</div>
								<div class="row">
										<div class="cell"></div>
										<div class="cell">
												My home airports
												<div class="places">
														<div class="place">
																<span class="thumbnail">
																		<img src="./images/samples/sample11.jpg">
																</span>
																Frankfurt<span class="color22">, Germany &bull; FRA</span>
																<a class="more" href="#">More</a>
																<a class="delete" href="#">Delete</a>
														</div>
														<div class="place">
																<span class="thumbnail">
																		<img src="./images/samples/sample11.jpg">
																</span>
																Hahn<span class="color22">, Germany &bull; HHN</span>
																<a class="more" href="#">More</a>
																<a class="delete" href="#">Delete</a>
														</div>
														<div class="place">
																<span class="thumbnail">
																		<img src="./images/samples/sample11.jpg">
																</span>
																Prague<span class="color22">, Czech Republic &bull; PRG</span>
																<a class="more" href="#">More</a>
																<a class="delete" href="#">Delete</a>
														</div>
														<div class="dropdown">
																<input class="inputed" type="text" placeholder="+ Search for airports">
																<ul>
																		<li class="disabled">Cities</li>
																		<li data-value="New York">
																				<span class="thumbnail">
																						<img src="./images/samples/sample11.jpg">
																				</span>
																				New York
																				<span class="color2">, USA</span>
																		</li>
																		<li data-value="New Jersey">
																				<span class="thumbnail">
																						<img src="./images/samples/sample11.jpg">
																				</span>
																				New Jersey
																				<span class="color2">, USA</span>
																		</li>
																		<li data-value="New Dili">
																				<span class="thumbnail">
																						<img src="./images/samples/sample11.jpg">
																				</span>
																				New Dili
																				<span class="color2">, India</span>
																		</li>
																		<li class="disabled">Cities 2</li>
																		<li data-value="New York">
																				<span class="thumbnail">
																						<img src="./images/samples/sample11.jpg">
																				</span>
																				New York2
																				<span class="color2">, USA</span>
																		</li>
																		<li data-value="New Jersey">
																				<span class="thumbnail">
																						<img src="./images/samples/sample11.jpg">
																				</span>
																				New Jersey2
																				<span class="color2">, USA</span>
																		</li>
																		<li data-value="New Dili">
																				<span class="thumbnail">
																						<img src="./images/samples/sample11.jpg">
																				</span>
																				New Dili2
																				<span class="color2">, India</span>
																		</li>
																</ul>
														</div>
														<input type="submit" value="Add airport">
												</div>
										</div>
								</div>
								<div class="row">
										<div class="cell"></div>
										<div class="cell tright">
												<a class="button" href="#">Save</a>
										</div>
								</div>
						</div>
				</form>
				<a class="close" href="#">Close</a>
		</div>
</div>