<div id="anytime" class="tab-content tab-open">
		@*<form class="blue-form margin" action="#" method="post">
				<div class="tags">
						<a class="tag" href="#">Frankfurt &bull; FRA</a>
						<a class="tag" href="#">Barcelona &bull; BCN</a>
						<a class="tag" href="#">Frankfurt &bull; FRA</a>
						<a class="tag" href="#">Barcelona &bull; BCN</a>
						<a class="tag" href="#">Barcelona &bull; BCN</a>
						<a class="tag" href="#">Barcelona &bull; BCN</a>
						<a class="tag" href="#">Prague &bull; PRG</a>
						<a class="tag" href="#">Barcelona &bull; BCN</a>
						<a class="tag" href="#">Frankfurt &bull; FRA</a>
						<a class="tag" href="#">Barcelona &bull; BCN</a>
						<a class="tag" href="#">Barcelona &bull; BCN</a>
						<div class="dropdown">
								<input class="inputed" placeholder="+ Add Tag">
								<ul>
										<li>Dropdown Menu Item</li>
										<li>Another Item</li>
										<li>The Last One</li>
								</ul>
						</div>
						<a class="close" href="#">Close</a>
				</div>

		</form>*@
</div>