<div id="custom" class="tab-content">
		<form class="blue-form margin" action="#" method="post">
				<div class="table future-table">
						<div class="cell">
								<span class="future-label"></span>
						</div>
						<div class="cell">
								<div class="dropdown future-select-full">
										<span class="selected">Default Custom Filter</span>
										<ul>
												<li>Dropdown Menu Item</li>
												<li>Another Item</li>
												<li>The Last One</li>
										</ul>
										<input type="hidden">
								</div>
						</div>
				</div>
				<div class="table future-table">
						<div class="cell">
								<span class="future-label">From</span>
						</div>
						<div class="cell">
								<div class="tags future-tags-half">
										<a class="tag" href="#">Frankfurt &bull; FRA</a>
										<a class="tag" href="#">Barcelona &bull; BCN</a>
										<a class="close" href="#">Close</a>
								</div>
						</div>
						<div class="cell">
								<span class="future-label tright">To</span>
						</div>
						<div class="cell">
								<div class="tags future-tags-half">
										<a class="tag" href="#">Frankfurt &bull; FRA</a>
										<a class="tag" href="#">Barcelona &bull; BCN</a>
										<a class="close" href="#">Close</a>
								</div>
						</div>
				</div>
				<div class="table future-table">
						<div class="cell">
								<span class="future-label">Time</span>
						</div>
						<div class="cell">
								<div class="tags future-tags-full">
										<a class="tag" href="#">Frankfurt &bull; FRA</a>
										<a class="tag" href="#">Barcelona &bull; BCN</a>
										<a class="tag" href="#">Frankfurt &bull; FRA</a>
										<a class="tag" href="#">Barcelona &bull; BCN</a>
										<a class="close" href="#">Close</a>
								</div>
						</div>
				</div>
				<div class="future-line">
						<span class="color1">Minimal lenght</span>
						<input id="radio1" name="radio" type="radio" checked>
						<label class="mleft10" for="radio1">Not important</label>
						<input id="radio2" name="radio" type="radio">
						<label class="mleft10" for="radio2">Weekend</label>
						<input id="radio3" name="radio" type="radio">
						<label class="mleft10" for="radio3">Week</label>
						<input id="radio4" name="radio" type="radio">
						<label class="mleft10" for="radio4">Two weeks</label>
						<input id="radio5" name="radio" type="radio">
						<label class="mleft10" for="radio5">Days</label>
						<input class="right" type="submit" value="Save">
				</div>
		</form>
</div>