$margins: 0 5 10 20;

@for $i from 0 through length($margins) - 1 {
    #{if($i == 1, ".margin", ".margin#{$i}")} {
        margin-bottom: $i * $margin;
    }
    #{if($i == 1, ".marginb", ".marginb#{$i}")} {
        margin-bottom: $i * $margin;
        margin-top: $i * $margin;
    }
}

@each $i in $margins {
    .mleft#{$i} {
        margin-left: $i * 1px;
    }
    .mright#{$i} {
        margin-right: $i * 1px;
    }
}