$paddings: 0 5 10 20;

@for $i from 0 through length($paddings) - 1 {
    #{if($i == 1, ".padding", ".padding#{$i}")} {
        padding-bottom: $i * $margin;
    }
    #{if($i == 1, ".paddingb", ".paddingb#{$i}")} {
        padding-bottom: $i * $margin;
        padding-top: $i * $margin;
    }
}

@each $i in $paddings {
    .pleft#{$i} {
        padding-left: $i * 1px;
    }
    .pright#{$i} {
        padding-right: $i * 1px;
    }
}