@using System.Threading.Tasks
@using Gloobster.Entities
@using Gloobster.Portal.Controllers.Portal
@using Octokit
@model IssuesModel

@{
    Layout = "";

    var m = Model;
}

<style>
    

     table {
         /*border: 1px solid black;*/
     }
    td {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }
    .issue {
        border-bottom: 1px solid red;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .issue a {
        color: darkblue;
    }

    th {
        font-size: 25px;
        background-color: lightslategrey;
        color: white;
    }

    tr td:first-child {
        font-size: 25px;
        background-color: chocolate;
        color: white;
    }

</style>


<table>
    <tr>
        <th>Stage</th>
        
        <th>Pins</th>
        <th>Fly</th>
        <th>TravelB</th>
        <th>Trips</th>
        <th>Wiki</th>
        <th>Other</th>
        <th>Presentation</th>
        <th>Marketing</th>
    </tr>
    @Html.Partial("IssueGroup", new FitlerModel { Model = Model, ActFilter = "Bug"})
    @Html.Partial("IssueGroup", new FitlerModel { Model = Model, ActFilter = "Backlog" })
    @Html.Partial("IssueGroup", new FitlerModel { Model = Model, ActFilter = "Plans" })
    @Html.Partial("IssueGroup", new FitlerModel { Model = Model, ActFilter = "Visions" })
</table>