@using System.Threading.Tasks
@using Gloobster.Portal.Controllers.Portal
@model FitlerModel

    <tr>
        <td>@Model.ActFilter</td>

        <td>@foreach (var i in Model.Model.GetIssues("Pins", Model.ActFilter)){@Html.Partial("Issue", i)}</td>
        <td>@foreach (var i in Model.Model.GetIssues("Fly", Model.ActFilter)){@Html.Partial("Issue", i)}</td>
        <td>@foreach (var i in Model.Model.GetIssues("TravelB", Model.ActFilter)){@Html.Partial("Issue", i)}</td>
        <td>@foreach (var i in Model.Model.GetIssues("Trips", Model.ActFilter)){@Html.Partial("Issue", i)}</td>
        <td>@foreach (var i in Model.Model.GetIssues("Wiki", Model.ActFilter)){@Html.Partial("Issue", i)}</td>
        <td>@foreach (var i in Model.Model.GetIssues("Other", Model.ActFilter)){@Html.Partial("Issue", i)}</td>
        <td>@foreach (var i in Model.Model.GetIssues("Presentation", Model.ActFilter)){@Html.Partial("Issue", i)}</td>
        <td>@foreach (var i in Model.Model.GetIssues("Marketing", Model.ActFilter)){@Html.Partial("Issue", i)}</td>
    </tr>
