#{$all-button-inputs} {
    @extend %button; //@extend .button; ... is not correctly
    padding: 9px 29px;
}

#{$all-text-inputs}, select {
    background-color: $white;
    border: 1px solid $color2;
    border-radius: $radius;
    color: $black;
    padding: 9px 14px;
    &:focus,
    &:active {
        background-color: $white;
        border-color: $black;
    }
    @include placeholder {
        color: $color2;
    }
}

select {
    @include appearance(none);
    background-image: url("../images/down-blue.png");
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    height: 46px;
    padding-right: 30px;
}

//http://bavotasan.com/2011/style-select-box-using-only-css/
.select {
    background: $white url("../images/down-blue.png") calc(100% - 10px) center no-repeat;
    border: 2px solid $white;
    border-radius: $radius;
    display: inline-block;
    //float: left;
    height: 42px;
    margin-right: 10px;
    overflow: hidden;
    select {
        @include appearance(none);
        background-color: transparent;
        background-image: none;
        border: 0;
        border-radius: 0;
        height: 42px;
        margin-right: 0;
        width: 120%;
    }
}

input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    & + label {
        @include position(relative);
        cursor: pointer;
        display: inline-block;
        //padding-left: 19px;
        &:before {
            @include size(14px);
            //@include position(absolute, 2px null null 0);
            background: transparent url("../images/checkbox.png") left top no-repeat;
            content: "";
            display: inline-block;
            margin-right: 5px;
        }
    }
    &:checked + label {
        &:before {
            background-position: left bottom;
        }
    }
}

input[type="radio"] {
    & + label:before {
        background-image: url("../images/radio.png");
    }
}