table {
    border: 1px solid $color8;
    border-radius: $radius;
    td, th {
        background-color: $white;
        padding: 10px 20px;
    }
    th {
        background-color: $color8;
        border: 1px solid $color8;
        color: $white;
        font-weight: normal;
        text-align: left;
    }
    tr:nth-child(odd) {
        td {
            background-color: $color23;
        }
    }
    @include mobile {
        td, th {
            font-size: 14px;
            padding: 2px 5px;
        }
    }
}