// media
$desktop: 1919px;
$tablet: 959px;
$mobile: 0;//759px;

// sizes
$margin: 20px;
$radius: 4px;

// animation
$speed: .3s;
$speedily: .2s;

// wrapper
$wrapper-desktop: 940px;
$wrapper-tablet: 740px;
$wrapper-mobile: 300px;

// grid margins
$grid-desktop: 20px 20px 20px 20px 20px 20px 19px 20px;
$grid-tablet: 20px 20px 19px 20px 20px 20px 20px 20px;
$grid-mobile: 20px;

// table margins
$table-desktop: 20px 20px 20px 20px;
$table-tablet: 20px 20px 20px 20px;
$table-mobile: 20px;

// colors
$black: #000;
$white: #fff;
$color1: #4d4d4d;
$color2: #b3b3b3;
$color3: #f66e12;
$color4: #ff9955;
$color5: #009dc4;
$color6: #57c1db;
$color7: #3ea23e;
$color8: #72cf72;
$color9: #ffdd55;
$color10: #cdedf4;
$color11: #f0fafc;
$color12: #e8e8e8;
$color13: #295396;
$color14: #bb0706;
$color15: #f16529;
$color16: #76b14f;
$color17: #abe0ed;
$color18: #e1f4f8;
$color19: #f7fcfd;
$color20: #e6f6fa;
$color21: #b8e7b8;
$color22: #808080;
$color23: #fffae9;
$color24: #caecf3;


// fonts
$font-ptsans: "PT Sans", sans-serif;
$font-lato: "Lato", sans-serif;

// classes
$border-color: $color12;
$border-height: 1px;
$caption-background: $white;
$caption-border: $border-color;
$caption-color: $color12;
$caption-radius: $radius;
$line-color: $border-color;
$line-height: $border-height;
$slim-weight: normal;
$strong-weight: bold;
