
@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model NewWikiModelBase

<div class="links">
    <h3>@Model.W("RelatedLinks")</h3>
    <div>
        @foreach (var link in Model.GetRelatedLinks())
        {
            <a class="lbtn2 blue-yellow" href="@link.Link">@link.Name</a>
        }
    </div>
</div>