
@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model NewWikiModelBase

@if (Model.IsAdmin)
{
    @*<script type="text/javascript" src="@Url.Content("~/js/Views/WikiAdminPageView.js")"></script>*@
    @Html.Partial("AdminTemplates")

    <div class="wrapper admin">
        <input id="adminMode" type="checkbox"><label for="adminMode">Admin mode</label>        
    </div>
}