@using Gloobster.Portal.ViewModels
@model NewWikiModelBase

<div class="info-block">
    <div class="header">
        <span class="title">Photos</span>
        
        <input id="addUserPhoto" type="file" />
        <label for="addUserPhoto">            
            <span class="info-btn">upload</span>
        </label>

    </div>
    <div id="photosCont" class="bcont photos">
        

        

    </div>
</div>