@using Gloobster.Portal.ViewModels
@model NewWikiModelBase

<div class="info-block" id="lbPhotos">
    <div class="header">
        <span class="title">Photos</span>
        
        <span id="openPhotoDialog" class="info-btn">upload</span>
        
    </div>
    <div id="photosCont" class="bcont photos">
        

        

    </div>
</div>