@using System.Threading.Tasks
@using Gloobster.Entities
@using Gloobster.Portal.ViewModels
@model WikiCityViewModel

@{
    var aboutPeople = Model.GetSectionText<SectionTextsSE>("AboutPeople");    
}

<div class="table width100 margin">
    <div class="cell middle">
        <h3 class="margin0">About people</h3>
    </div>
    <div class="cell">
        @Html.Partial("Rating")
    </div>
</div>

<table class="left mright20">    
    <tr>
        <td>Population</td>
        <td>@Model.Article.Data.PopulationCity</td>
    </tr>
    <tr>
        <td>Population metro</td>
        <td>@Model.Article.Data.PopulationMetro</td>
    </tr>
  
</table>

<p class="h4">@aboutPeople.Text</p>