
<style>
    .editTxt {
        width: 100%;
    }
</style>

<script id="blockEdit-template" type="text/x-handlebars-template">
    <div id="edit_{{id}}">
        <input class="position" type="hidden" value="0" />

        <textarea class="editTxt">{{text}}</textarea>
        <div>
            <button data-id="{{id}}" class="cancel">Cancel</button>
            <button data-id="{{id}}" class="save">Save</button>
            
            <div class="right">
                <button data-id="{{id}}" class="back">&#60;&#60;</button>
                <button data-id="{{id}}" class="forward">&#62;&#62;</button>
            </div>
        </div>
    </div>
</script>

<script id="linkItem-template" type="text/x-handlebars-template">
    <div id="linksEdit_{{id}}">
        <input id="name" type="text" value="{{name}}" />
        <div class="links">
           
        </div>
        <div class="buttons">
            <button class="add">Add Link</button>
            <button data-id="{{id}}" class="cancel">Cancel</button>
            <button data-id="{{id}}" class="save">Save item</button>
            <button data-id="{{id}}" class="delete">Delete item</button>
        </div>
    </div>    
</script>

<script id="linkItemLink-template" type="text/x-handlebars-template">   
    <div id="linkItem_{{id}}" data-id="{{id}}" class="linkItem" style="border: 1px solid black;">
        <div class="dropdown">
            <span class="selected">{{selectedName}}</span>
            <ul>
                <li data-value="0">FB</li>
                <li data-value="1">Foursquare</li>
                <li data-value="4">Yelp</li>                
            </ul>
            <input class="selectedValue" type="hidden" value="{{selectedValue}}">
        </div>
        <br />
        <input class="sid" type="text" value="{{sid}}" />
        <br />        
        <button data-id="{{id}}" class="delete">Delete</button>
    </div>       
</script>


<script id="favLink-template" type="text/x-handlebars-template">
    <div id="faviItem_{{id}}" class="favItem" data-id="{{id}}" data-name="{{name}}">
        <b class="txt">{{name}}</b>        
    </div>
</script>

<script id="favLinkLink-template" type="text/x-handlebars-template">
    <a href="{{link}}" target="_blank"><img data-type="{{type}}" data-id="{{id}}" data-sid="{{sid}}" class="opacity5 middle socLink" src="/images/{{ico}}.png"></a>
</script>


<script id="doDontAdmin-template" type="text/x-handlebars-template">
    <textarea placeholder="Add or edit..." style="width: 100%">{{text}}</textarea>
    <br />
    <input type="button" class="save" value="Save">
    <input type="button" class="cancel" value="Cancel">
    <input type="button" class="delete" value="Delete">
</script>

<script id="doDontItem-template" type="text/x-handlebars-template">
    <div data-id="{{id}}" data-t="{{type}}" class="place">
        @*@Html.Partial("PlusMinusDD")*@
        <span>{{text}}</span>
    </div>
</script>

<script id="priceEdit-template" type="text/x-handlebars-template">
    <tr class="priceEdit" data-id="{{id}}">
        <td colspan="2">
            <input type="text" placeholder="0.0 pattern" value="{{value}}" /><button>Reset</button>
        </td>
    </tr>
</script>

<script id="photoEdit-template" type="text/x-handlebars-template">
    <a class="photoButton" href="#">
        <input id="titlePhotoInput" class="inputs" type="file" />
        <label for="titlePhotoInput">
            <span class="icon-photo middle mright5"></span>
            Title Photo
        </label>
    </a>
</script>





