
<style>
    .editTxt {
        width: 100%;
    }
</style>

<script id="blockEdit-template" type="text/x-handlebars-template">
    <div id="edit_{{id}}" class="admin-block-edit">
        <input class="position" type="hidden" value="0" />

        <textarea class="editTxt">{{text}}</textarea>
        <div class="htbl">
            
            <div class="left">
                <button data-id="{{id}}" class="cancel">Cancel</button>
                <button data-id="{{id}}" class="save">Save</button>
            </div>

            <div class="right">
                <button data-id="{{id}}" class="back">&#60;&#60;</button>
                <button data-id="{{id}}" class="forward">&#62;&#62;</button>
            </div>
        </div>
    </div>
</script>




<script id="linkItem-template" type="text/x-handlebars-template">
    <div id="linksEdit_{{id}}" class="link-form">
        <span class="title">Site name: </span> <input class="admin-input" id="name" type="text" value="{{name}}" />
        <div class="title">Links list:</div>
        <div class="links">
           
        </div>
        <div class="links-buttons btns">
            <a href="#" class="add lbtn2">Add Link</a>
        </div>
        <div class="buttons btns">            
            <a href="#" data-id="{{id}}" class="cancel lbtn2 y">Cancel</a>
            <a href="#"  data-id="{{id}}" class="save lbtn2">Save item</a>
            <a href="#" data-id="{{id}}" class="delete lbtn2 r">Delete item</a>
        </div>
    </div>    
</script>

<script id="linkItemLink-template" type="text/x-handlebars-template">   
    <div id="linkItem_{{id}}" data-id="{{id}}" class="linkItem">
        <div class="dropdown">
            <span class="selected">{{selectedName}}</span>
            <ul>
                <li data-value="0">FB</li>
                <li data-value="1">Foursquare</li>
                <li data-value="4">Yelp</li>                
            </ul>
            <input class="selectedValue" type="hidden" value="{{selectedValue}}">
        </div>
        <br />
        <input class="sid admin-input" type="text" value="{{sid}}" />
        <br />        
        <button data-id="{{id}}" class="delete">Delete</button>
    </div>       
</script>


<script id="favLink-template" type="text/x-handlebars-template">
    
    <div id="faviItem_{{id}}" class="favItem" data-id="{{id}}" data-name="{{name}}">
        <span class="name">{{name}}</span>
    </div>

</script>

<script id="favLinkLink-template" type="text/x-handlebars-template">
    
    <a class="ico-link" href="{{link}}" target="_blank">
        <span class="{{ico}}"></span>
    </a>

</script>


<script id="doDontAdmin-template" type="text/x-handlebars-template">
    
    <div>
        <textarea placeholder="Add or edit..." style="width: 100%">{{text}}</textarea>
    </div>
    <a href="#" type="button" class="save lbtn2 green-orange bold">Save</a>
    <a href="#" type="button" class="cancel lbtn2 green-orange bold">Cancel</a>
    <a href="#" type="button" class="delete lbtn2 green-orange bold">Delete</a>
</script>


<script id="priceEdit-template" type="text/x-handlebars-template">
    <tr class="priceEdit" data-id="{{id}}">
        <td colspan="2">
            <input class="admin-input" type="text" placeholder="0.0 pattern" value="{{value}}" /><button>Reset</button>
        </td>
    </tr>
</script>

<script id="photoEdit-template" type="text/x-handlebars-template">
    <div style="margin: 10px;">
        <a class="photo-button" href="#">
            <input id="titlePhotoInput" type="file" />
            <label for="titlePhotoInput">Title Photo</label>
        </a>
    </div>

</script>





