@using System.Threading.Tasks
@using Gloobster.Entities
@using Gloobster.Portal.ViewModels
@model WikiCityViewModel

<style>
    .box.blue table {
        border: none;
        color: black;
    }

    .box.blue td {        
        background-color: transparent
    }
</style>

<div class="table width100">
    <div class="cell">
        <div class="box blue width240 mright20">
            <h3>About</h3>
            <p>
                <table>
                    <tr>
                        <td>
                            <b>Population</b>
                        </td>
                        <td>
                            @Model.Article.Data.PopulationCity
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Metro</b>
                        </td>
                        <td>
                            @Model.Article.Data.PopulationMetro
                        </td>
                    </tr>
                </table>
            </p>
        </div>
    </div>
    <div class="cell">
        <p class="h3">@Model.BaseTexts.BaseText</p>
    </div>
    <div class="cell">
        @Html.Partial("Rating")
    </div>
</div>