@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model BlockVM

<div data-id="@Model.SectionId" class="block-header adminBlock" data-at="@Model.Admin">
    <div class="left">
        <h@(Model.Size) class="margin0">@Model.TranslatedType</h@(Model.Size)>
    </div>
    <div class="right">
        <div class="rating_all">
            @Html.Partial("NewArticleRating")
        </div>
    </div>
</div>
