
@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model WikiModelBase

<div class="breadcrumb">

    @{
        var bc = Model.GetBreadcrumb();
        var cnt = bc.Count;
    }
    
    @for (int act = 0; act <= cnt - 1; act++)
    {
        var item = bc[act];
        bool isLast = act == (cnt - 1);
        if (isLast)
        {            
            <strong>@item.Name</strong>
        }
        else
        {
            <a href="@item.Link">@item.Name</a>
            <span class="arrow">&gt;</span>
        }
    }
</div>