<div class="table row col2 margin">
    <div class="cell places">
        <h3>Try this</h3>
        <div class="place">
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            Be nice about their hats
            <a class="delete" href="#">Delete</a>
        </div>
        <div class="place">
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            Say hello in elevator
            <a class="delete" href="#">Delete</a>
        </div>
        <div class="dropdown">
            <input class="inputed" type="text" placeholder="+ Actions not to do...">
            <ul>
                <li class="disabled">Cities</li>
                <li data-value="New York">
                    <span class="thumbnail">
                        <img src="./images/samples/sample11.jpg">
                    </span>
                    New York
                    <span class="color2">, USA</span>
                </li>
                <li data-value="New Jersey">
                    <span class="thumbnail">
                        <img src="./images/samples/sample11.jpg">
                    </span>
                    New Jersey
                    <span class="color2">, USA</span>
                </li>
            </ul>
        </div>
        <input type="submit" value="Add">
    </div>
    <div class="cell places">
        <h3>Don't try that</h3>
        <div class="place">
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            Wear sandals
            <a class="delete" href="#">Delete</a>
        </div>
        <div class="place">
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            Talk about their religion
            <a class="delete" href="#">Delete</a>
        </div>
        <div class="dropdown">
            <input class="inputed" type="text" placeholder="+ Actions not to do...">
            <ul>
                <li class="disabled">Cities</li>
                <li data-value="New York">
                    <span class="thumbnail">
                        <img src="./images/samples/sample11.jpg">
                    </span>
                    New York
                    <span class="color2">, USA</span>
                </li>
                <li data-value="New Jersey">
                    <span class="thumbnail">
                        <img src="./images/samples/sample11.jpg">
                    </span>
                    New Jersey
                    <span class="color2">, USA</span>
                </li>
            </ul>
        </div>
        <input type="submit" value="Add">
    </div>
</div>