
        <div class="dropdown">
            <input class="inputed" type="text" placeholder="+ Actions not to do...">
            <ul>
                <li class="disabled">Cities</li>
                <li data-value="New York">
                    <span class="thumbnail">
                        <img src="./images/samples/sample11.jpg">
                    </span>
                    New York
                    <span class="color2">, USA</span>
                </li>
                <li data-value="New Jersey">
                    <span class="thumbnail">
                        <img src="./images/samples/sample11.jpg">
                    </span>
                    New Jersey
                    <span class="color2">, USA</span>
                </li>
            </ul>
        </div>

        <input type="submit" value="Add">        
    
