@using Gloobster.Portal.ViewModels
@model WikiPageBlock

    <div class="empty-block" data-sid="@Model.SectionId">
        <div class="ltbl">
            <div class="l txt">TXT</div>
            <div class="r msg">
                @Model.Base.W("NoContentLine1")
                <br />
                @Model.Base.W("NoContentLine2")

            </div>
        </div>
        <div class="contrib-link-cont">
            <span class="contrib-link" href="#">
                <span class="icon-edit-pencil icoo"></span>
                <span class="ttxt">@Model.Base.W("NoContentBtn")</span>
            </span>
        </div>
    </div>
