@model Gloobster.Portal.ViewModels.EmptyVM

@{
    var cls = (Model.Data is string) ? Model.Data : string.Empty;
}

<p class="empty-block @cls">
    <span class="txt">TXT</span>
    <span class="msg">
        @Model.B.W("NoContentLine1")
        <br />
        @Model.B.W("NoContentLine2")
        <a class="contrib-link" href="#">@Model.B.W("NoContentBtn")</a>
    </span>
</p>
