<h3>Section with links</h3>
<div class="tags">
    <a class="tag" href="#">Prague</a>
    <a class="tag" href="#">Brno</a>
    <a class="tag" href="#">South Moravia</a>
    <a class="tag" href="#">Zlin Region</a>
</div>