@using System.Linq;

@{
    ViewBag.StopLayoutGenerate = true;
}

<script type="text/javascript" src="@Url.Content("~/js/Views/WikiHomeView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Views/WikiSearchCombo.js")"></script>


<section class="wrapper margin2 tcenter">
    @if (Model.SocialNetworks.Count == 0)
    {
        @Html.Partial("_DialogJoinSoc")
        @Html.Partial("_DialogJoinEmail")
    }
    <h2>Gloobster Travel Wiki</h2>    
    <div id="SearchCombo" class="dropdown large">
        <input class="inputed" type="text" placeholder="Dropdown Search">
        <ul style="text-align: left"></ul>
    </div>
</section>
<section class="wiki-globe">
    <div class="wrapper">
        @*<a class="button" href="#">Spain</a>
        <a class="button" href="#">Italy</a>
        <a class="button" href="#">Prague</a>
        <a class="button" href="#">Brno</a>
        <a class="button" href="#">France</a>
        <a class="button" href="#">Greece</a>
        <a class="button" href="#">Croatia</a>
        <a class="button" href="#">Finland</a>
        <a class="button" href="#">Poland</a>
        <a class="button" href="#">Turkey</a>*@
    </div>
</section>

<script>
	function onBodyLoad() {
	    currentView = new Views.WikiHomeView();
	}

</script>