@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model WikiModelBase

<div class="info-block" id="lbInfoTable">
    <div class="header"><span class="title">@Model.W("About")</span></div>
    <div class="bcont padding">

        <table>
            @Html.Partial("TableItem", Model.InfoByName("PopulationCity"))
        </table>

    </div>
</div>
