@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model WikiModelBase

<div class="tags margin">
    @foreach (var item in Model.LangVersions)
    {
        <a class="tag" href="@($"/wiki/{item.Language}/{item.LinkName}")">@Model.GetLangName(item.Language)</a>
    }
</div>