@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model WikiModelBase

<div class="langs">
    @foreach (var item in Model.LangVersions)
    {
        <a class="lang lbtn2" href="@($"/wiki/{item.Language}/{item.LinkName}")">@Model.GetLangName(item.Language)</a>
    }
</div>