<div class="article_rating">

    <div class="wrap">
        <div class="frame">
            <div class="score">+5</div>
        </div>
    </div>
    <div class="wrap">
        <div class="frame">
            <a href="#" class="icon-like"></a>
        </div>
    </div>
    <div class="wrap">
        <div class="frame">
            <a href="#" class="icon-dislike"></a>
        </div>
    </div>
    <div class="wrap">
        <div class="frame">
            <a href="#" class="icon-edit-pencil"></a>
        </div>
    </div>

</div>