@using System.Threading.Tasks
@using System.Linq
@using Gloobster.Portal.ViewModels
@model ArticleVM


<div class="article">

    <a class="all-link" href="/wiki/@Model.Link">
        <h2 class="title">@Model.Title</h2>

        <div class="top">
            <img src="/picd/@Model.GID/whs" />
        </div>

        <div class="txt-cont">
            <div class="txt">@Model.About</div>

            <div class="shadow"></div>
        </div>

    </a>

</div>