
@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model WikiModelBase

@if (Model.IsAdmin)
{    
    @Html.Partial("AdminTemplates")

    <div class="wrapper admin">
        <input id="adminMode" type="checkbox"><label for="adminMode">Admin mode</label>        
    </div>
}