@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model DdVM

@{
    bool? liked = Model.Liked;

    var likedIsActive = false;
    var dislikeIsActive = false;
    if (liked.HasValue)
    {
        if (liked.Value)
        {
            likedIsActive = true;
        }
        else
        {
            dislikeIsActive = true;
        }
    }

}

<a title="@Model.B.W("Like")" class="icon-like pmBtn @(likedIsActive ? "active" : string.Empty)" data-like="true" href="#"></a>
<a title="@Model.B.W("Dislike")" class="icon-dislike pmBtn @(dislikeIsActive ? "active" : string.Empty)" data-like="false" href="#"></a>
