@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model PVM

@{
    
    var likeClass = "icon-plus";
    var dislikeClass = "icon-minus";
    if (Model.Liked.HasValue)
    {
        if (Model.Liked.Value)
        {
            likeClass += "Red";
        }
        else
        {
            dislikeClass += "Red";
        }
    }

}

<a title="@Model.B.W("IncreasePrice")" class="button-icon @likeClass priceBtn" data-like="true" href="#"></a>
<a title="@Model.B.W("DecreasePrice")" class="button-icon @dislikeClass priceBtn" data-like="false" href="#"></a>