@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model bool?

@{
    bool? liked = Model;

    var likeClass = "icon-plus";
    var dislikeClass = "icon-minus";
    if (liked.HasValue)
    {
        if (liked.Value)
        {
            likeClass += "Red";
        }
        else
        {
            dislikeClass += "Red";
        }
    }

}

<a class="button-icon @likeClass priceBtn" data-like="true" href="#"></a>
<a class="button-icon @dislikeClass priceBtn" data-like="false" href="#"></a>