@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model PVM

@{
    bool? liked = Model.Liked;

    var likedIsActive = false;
    var dislikeIsActive = false;
    if (liked.HasValue)
    {
        if (liked.Value)
        {
            likedIsActive = true;
        }
        else
        {
            dislikeIsActive = true;
        }
    }

}

<a title="@Model.B.W("IncreasePrice")" class="icon-plus priceBtn @(likedIsActive ? "active" : string.Empty)" data-like="true" href="#"></a>
<a title="@Model.B.W("DecreasePrice")" class="icon-minus priceBtn @(dislikeIsActive ? "active" : string.Empty)" data-like="false" href="#"></a>