
<div class="evaluate evaluate-open2">
    <ul class="buttons table">
        <li><a class="icon-heart" data-like="true" href="#">Like</a></li>
        <li><a class="icon-nosmile" data-like="false" href="#">No like</a></li>        
    </ul>    
</div>

@*@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model BlockVM

@{    
    bool? liked = Model.Liked;

    var likeClass = "icon-heart";
    var dislikeClass = "icon-nosmile";
    if (liked.HasValue)
    {
        if (liked.Value)
        {
            likeClass += "Red";
        }
        else
        {
            dislikeClass += "Red";
        }
    }

}*@

@*
<div data-id="@Model.SectionId" class="evaluate evaluate-open2 evaluate-right">
    <ul class="buttons table">
        <li><a class="@likeClass ratingBtn" data-like="true" href="#">Like</a></li>
        <li><a class="@dislikeClass ratingBtn" data-like="false" href="#">No like</a></li>
        <li><a class="icon-flag" href="#">Report</a></li>
    </ul>
    <div class="bubble">
        <strong>Let us know where to improve</strong>
        <input type="text" placeholder="Your opinion...">
        <div class="tright">
            <a class="noneline mright20" href="#">Cancel</a>
            <a class="button" href="#">Send</a>
            <!--<input type="submit" value="Send">-->
        </div>
    </div>
</div>
*@