
@*@Model.CustomClass*@

<div class="evaluate evaluate-open2 evaluate-right">
    <ul class="buttons table">
        <li><a class="icon-heart" href="#">Like</a></li>
        <li><a class="icon-nosmile" href="#">No like</a></li>
    </ul>
    <div class="bubble">
        <strong>Let us know where to improve</strong>
        <input type="text" placeholder="Your opinion...">
        <div class="tright">
            <a class="noneline mright20" href="#">Cancel</a>
            <a class="button" href="#">Send</a>
            <!--<input type="submit" value="Send">-->
        </div>
    </div>
</div>