@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model BlockVM

@Html.Partial("BlockHeader")


@if (Model.Text.ToLower() == "no content" || Model.Text == string.Empty)
{
    <div class="empty-cont" data-sid="@Model.SectionId">@Html.Partial("Empty", new EmptyVM { B = Model.B })</div>
    <p id="text_@Model.SectionId" class="h4"></p>
}
else
{
    <p id="text_@Model.SectionId" class="h4">@Model.Text</p>
}