@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@model BlockVM

@Html.Partial("BlockHeader")


@if (Model.Text.ToLower() == "no content")
{
    <div class="wrapper empty-cont" data-sid="@Model.SectionId">@Html.Partial("Empty")</div>
}
else
{
    <p id="text_@Model.SectionId" class="h4">@Model.Text</p>
}