

$cal-blue: $info-blue2;

.my-calendar-win {
    margin-top: 40px;
    margin-bottom: 40px;
}

.calendar-cont {
    position: relative;
    display: inline-block;

     .move-month {
         font-size: 1.1em;
         font-weight: bold;

         cursor: pointer;         
         border-radius: 4px;
         padding: 2px;
         display: inline-block;
         width: 1em;

         &:hover {
             background-color: $cal-blue;
             color: white;
         }
     }

     .calendar-input {
        border-radius: 2px;
        border: 1px solid $light-blue !important;    
    }


    .my-calendar-win {
        position: absolute;
        left: 0;
        top: 30px;

        background-color: white;

        z-index: 99999999;

        border: 1px solid $info-blue2;

        display: inline-block;
        padding: 8px;

        -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.75);

        border-radius: 4px;

        .months {
            display: table;

            width: 100%;

            font-weight: bold;
        
            .l-arr {
                display: table-cell;
            }
        
            .date {
                display: table-cell;
            }

            .r-arr {
                display: table-cell;
            }
        }

        .day {
            width: 35px;
        }

        .days-title {
            display: table;
            font-weight: bold;

            margin-top: 12px;
            margin-bottom: 8px;

            padding-bottom: 8px;

            border-bottom: 1px solid $darker-gray;

            .day {
                display: table-cell;            
            }

            .weekend{
                color: $cal-blue;
            }
        }

        .week-row {
            display: table;
        
            margin-bottom: 8px;

            .day {
                display: table-cell;

                &.weekend {
                    color: $cal-blue;
                }
            
                &.old {
                    color: $darker-gray;
                }

                &.active {
                    border-radius: 4px;
                    background-color: $cal-blue;
                    color: white;
                    cursor: pointer;
                }
            }

            .selectable:hover {
                    border-radius: 4px;
                    background-color: $cal-blue;
                    color: white;
                    cursor: pointer;
                }
        }

        .bottom {            
            border-top: 1px solid $darker-gray;

            text-align: right;
            padding-right: 12px;

            .close {
                display: inline-block;
                cursor: pointer;
                background-color: $cal-blue;
                color: white;

                font-size: 0.45em;
                padding: 8px;
                border-radius: 50%;

                &:hover {
                    color: $orange;

                }
            }
        }

    }
}

