
.cv {

    
    $color1: #fc0707;
    $color2: #0711fe;
    $color3: #0ab72c;
    $color4: #f78909;
    $color5: #f5f212;

    table { border-collapse:collapse }

    font-size: 19px;

    .menu_all {
        display: none;
    }

    footer {
        display: none;
    }

    text-align: left;

    .block {
        width: 1000px;        
        margin-left: auto;
        margin-right: auto;

        &.margin {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .text-block {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }

    .print-block {
        @extend .block;
        
        min-height: 1414px;

        page-break-after: always;

        border-top: 1px dotted $dark-blue;
        border-bottom: 1px dotted $dark-blue;
        
        @media print {
            border:0;
        }

    }

    .name-title {
        
        padding-top: 4em;

        .ltbl {
            display: table;

            .left {
                display: table-cell;
                vertical-align: top;
            }

            .right {
                display: table-cell;
                vertical-align: top;
                padding-left: 2em;
            }
        }

        .photo {
            width: 200px;
            border-radius: 50%;
        }

        .name {
            font-size: 3em;
            color: $dark-blue;
        }

        .info {
            font-size: 0.9em;
        }
    }

    .langs-table {
        margin-top: 0.5em;
        width: 100%;

        .first {
            width: 15%;
        }
        .second {
            width: 35%;
        }
        .third {
            width: 50%;
        }

        td,th {        
            padding: 0.3em;
        }

    }

    .title-techno {
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 0.3em;
    }

    .title-skills {
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 0.3em;
        text-align: center;
        margin-top: 30px;
    }

    .skills-cont {
        padding-left: 1em;
    }

    .first-page-table {
        margin-bottom: 1em;

        .left {
            vertical-align: middle;
        }
        .right {
            vertical-align: middle;
        }
    }

    .about-block {
        margin-top: 3em;
        margin-bottom: 0.5em;

        .title {
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    .title-cont {
        display: table;
        width: 100%;

        .left {
            display: table-cell;
            text-align: left;
        }

        .right {
            display: table-cell;
            text-align: right;
        }

        .name {
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    .category-block {
        page-break-inside: avoid;
        .title {
        }
    }

    .root-block {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .sub-cont {
        margin-left: 1em;

        .name {
            font-size: 1.2em;
        }
    }

    .iblock {
        display: inline-block;
        margin: 0.3em;
        color: $dark-blue;
        text-align: center;
        border-radius: 4px;
        border: 2px solid $dark-blue;
        font-weight: bold;

        .caption {
            font-size: 0.7em;
            color: white;
            background-color: $dark-blue;
            padding: 0.2em;
        }

        .value {
            font-size: 1.4em;
            padding: 0.2em;
        }
    }

    .section-title {
        background-color: $ribbon-blue;
        color: white;
        font-size: 2em;
        padding: 0.8em;
    }

    .tbl-employers {

        td {
            border-bottom: 1px solid black;
        }

        .group-name {
            font-weight: bold;
        }

        .years {
            width: 120px;
        }

        .cities {
            font-weight: bold;
        }

        .projs {
            ul {
                li {
                    font-weight: bold;
                }
            }
        }
    }

    .projects-cont {
        text-align: left;

        .proj-item {
            page-break-inside: avoid;
            margin-top: 1em;
            padding-bottom: 1em;
            
            border-bottom: 2px solid $dark-blue;

            .top-tbl {
                display: table;
                width: 100%;

                .left {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 4px;
                    width: 140px;
                }

                .right {
                    display: table-cell;
                    vertical-align: top;

                    .ico {
                        color: $dark-blue;
                        margin-right: 0.5em;
                        display: inline-block;                        
                        text-align: left;
                    }
                }
            }

            .description {
                border-top: 1px solid $darker-gray;
                padding-top: 0.5em;
                margin-top: 0.5em;
                padding-left: 0.5em;
            }

            .pos {
                font-weight: bold;
            }

            .duration {
                font-size: 0.9em;
            }

            .logo {
                width: 100px;
                display: inline-block;
            }
        }
    }
}
