
.dashboard {

    .f-calendar {
        max-width: 100%;            
    }

    .navi-cont {
        margin-top: 20px;
    }

    .topics {

        margin-top: 10px;

        display: table;
        width: 100%;

        .topic-block {
            display: table-cell;
            vertical-align: top;

            padding-left: 10px;
            padding-right: 10px;

            .title {
                font-weight: bold;
                font-size: 1.1em;

                margin-bottom: 10px;
            }

            .content {
                text-align: left;                
            }

        }


        /*.tb-friends {
            width: 350px;
        }

        .tb-portal {
            width: 350px;
        }
*/

        @include above-width(750) {

            .tb-web {
                width: 460px;            
            }
        }

    }

    .web-item {
        
        margin-bottom: 10px;

        .web-title {
            font-weight: bold;
            background-color: $info-blue2;
            color: white;

            padding: 4px;
            text-align: center;
        }

        .web-cont {
            background-color: $very-light-blue3;
        }

        .srv-zone {
            text-align: left;
            padding: 8px;

            .srv-btn {
                background-color: $orange;
                color: white;
                font-weight: bold;

                padding-top: 1px;
                padding-bottom: 1px;
                padding-left: 6px;
                padding-right: 6px;

                &:hover {
                    background-color: $green;
                }
            }
        }

        &.dark {
            .web-title {
                background-color: $dark-blue;
            }

            .web-cont {
                background-color: $info-blue2;                     
            }
        }
    }    

    .portal-item {
        
        margin-bottom: 10px;

        h3 {
            margin-top: 0;
            margin-bottom: 4px;
            
        }

        p {
            margin: 0;
            padding: 0;
            font-size: 0.9em;
        }

        img {
            float: left;
            margin-right: 10px;
        }
        
            
    }

    .friends-item {
        
        background-color: $very-light-blue3;
        border-radius: 2px;

        margin-bottom: 6px;

        padding: 6px;

        .f-tbl {
            display: table;

            .l, .r {
                display: table-cell;
                vertical-align: top;
            }

            .r {
                padding-left: 8px;
            }
        }

        img {
            border-radius: 50%;
        }

        .name-cont {

        }

        .txt {
            font-size: 0.9em;
        }

    }

    
        .your-map-all {
            
            #bg {                
                fill: none;
            }

            [cc] {
                fill: $info-blue2;                
            }
        }


        .your-deals-all {
            color: white;
            text-align: center;

            padding: 10px;

            .no-data-txt {
                font-size: 1.1em;
                font-weight: bold;
                margin-bottom: 12px;
            }

            .redirect-btn {
                color: white;
                background-color: $yellow;
                font-weight: bold;

                &:hover {
                    background-color: $green;
                }
            }

            .icos-tbl {
                display: table;
                width: 100%;
            }

            .ico-block {
                display: table-cell;
                
                font-weight: bold;

                .txt {
                    font-size: 0.9em;
                }
            }

            .loc {
                font-size: 0.9em;
                margin-top: 12px;

                input {
                    
                    border: 2px solid $dark-blue;

                    text-align: center;
                }
            }
        }
    

        .your-deals-result-all {
        
            padding-top: 10px;

            .preload-all {
                position: relative;
                height: 42px;
                background-color: white;
                border-radius: 4px;

                margin-bottom: 12px;
                margin-right: 12px;
                margin-left: 12px;


                $preload-size: 30px;

                .preloader {            
                    position: absolute;
                    top: 6px;
                    left: 6px;

                    display: inline-block;

                    width: $preload-size;
                    height: $preload-size;

                    img {
                        @include spin($preload-size);                        
                    }            
                }

                .txt {
                    margin-left: 50px;
                    display: inline-block;
                    font-size: 1.1em;
                    margin-top: 8px;
                }
            }

            .cats {
                text-align: center;

                .category {
                    border: 2px solid $dark-blue;
                    border-radius: 4px;
                    display: inline-block;
                    padding: 8px;
                    background-color: white;

                    .no {
                        font-size: 1.5em;
                        font-weight: bold;
                        color: $light-blue3;
                    }

                    .stars {
                        span {
                            display: inline-block;
                            color: $yellow;
                        }
                    }

                    .txt-level {
                        color: $darker-gray;
                    }
                }
            }

            
                
        }

        

    .your-trips-all {
        .items {
            .item {                
                padding: 6px;

                a {
                    text-decoration: none;
                    color: $info-blue2;

                    &:hover {
                        color: $orange;
                        font-weight: bold;
                    }
                }

                img {
                    vertical-align: middle;
                    width: 40px;
                    height: 40px;                    
                    border-radius: 2px;
                }

                .txt{
                    vertical-align: middle;
                }
            }
        }

    }

}