
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hidable-hide {
    display: none;
}

.list-state-collapsed {
    .expander {
       
    }
    
    .collapser {
        display: none;
    }
}

.list-state-expanded {
    .expander {
       display: none;
    }
    
    .collapser {
        
    }
}

.fly-tickets{
   
    .search-form {

        border-top: 2px solid $light-blue3;

        position: relative;
        background-color: $very-light-blue3;
        height: 300px;

        .bck {
            width: 1920px;
            height: 300px;
            @include centerer;
            background-image: url(/images/n/deals-title.jpg);
        }

        .darker {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(black,0.3);
        }

        .inner {
            padding-top: 3em;
            position: relative;               
            border: 1px solid red;

        }

        label {
            color: white;
        }

        .search-group {
            display: inline-block;
        }
        
        .search-field {
            
            display: inline-block;

            .capt {
                font-weight: bold;
                text-align: left;
                color: white;                
            }

            .ctrl {

            }
        }

        .sec-row  {
            text-align: left;
            
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;


            border: 1px solid red;
        }

        @include below-width(1045) {
            .city-airport-search {
                width: 45%;
                border: 1px solid pink;
            }
        }
    }

    .deals-block-all {
        background-color: $dark-blue;
        padding: 1em;

        border-top: 2px solid $light-blue3;

        .motto {
            color: white;
            font-size: 1.1em;
        }

        .icons {
            display: table;
            width: 100%;

            .ico {
                display: table-cell;                
                width: 33.3%
            }

            .svg-img {
                width: 120px;
                height: 120px;
            }
        }

        .labels {
            color: white;
            display: table;
            width: 100%;

            .label {
                display: table-cell;                
                width: 33.3%;
                font-weight: bold;

            }
        }

        .loc {
            margin: 2em;

            input {
                text-align: center;
             }   
        }
    }


    .expander, .collapser {
        text-align: left;        
    }

    .queue-all{
        $preload-size: 1.3em;

        position: relative;
        text-align: left;
        
        padding-left: $preload-size * 1.3;

        .preloader {            
            position: absolute;
            top: 6px;
            left: 0;

            display: inline-block;

            width: $preload-size;
            height: $preload-size;

            img {
                @include spin($preload-size);
                color: $dark-blue;
            }
            
        }

        .cont {
            .item{
                display: inline-block;
                border: 2px solid $light-blue3;
                padding:3px;
                border-radius: 4px;
                margin: 2px;
                font-weight: bold;
            }
        }

        &.hidden{
            display: none;
        }
    }

    .form-custom {
        background-color: $very-light-blue3;
        padding: 12px;
        text-align: left;
        border-radius: 4px;
        margin-bottom: 4px;

        .title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .searches-menu {
            position: relative;                        
            padding-right: 30px;


            .item {
                @include noselect;

                display: inline-block;
                border-radius: 4px;
                padding: 8px;
                color: white;
                background-color: $light-blue;
                font-weight: bold;
                cursor: pointer;
                margin-right: 10px;

                .name{
                    display: inline-block;

                    .name-txt {
                        
                    }

                    .name-edit {
                        display: none;
                        vertical-align: middle;
                    }
                }

                .service {
                    display: inline-block;

                    .edit, .delete {
                        display: none;

                        color: $dark-blue;
                        margin-left: 4px;

                        &:hover{
                            color: $orange;
                            cursor: pointer;
                        }
                    }

                    .edit-save {
                        display: none;
                        vertical-align: middle;

                        background-color: $green;
                        color: white;
                        padding: 8px;
                        text-decoration: none;
                        border-radius: 4px;
                        border: 1px solid white;

                        &:hover {
                            background-color: $orange;
                        }
                    }

                }

                &.state-active {
                    background-color: $light-blue3;

                    .edit, .delete {
                        display: inline-block;
                    }
                }

                &.state-editing {
                    
                    .edit, .delete {
                        display: none;
                    }

                    .name-edit{
                        display: inline !important;
                    }

                    .name-txt {
                        display: none !important;
                    }

                    .edit-save {
                        display: inline-block !important;
                    }
                }

                
            }

            .adder {
                display: inline-block;
                border-radius: 4px;
                border: 1px solid $light-blue3;
                padding: 8px;
                cursor: pointer;

                &:hover {
                    color: $orange;
                    border-color: $orange;
                }
            }

            .show-hide{
                position: absolute;
                right: 0;
                top:5px;
            }
        }

        .form-cont {
            border-top: 1px dotted $light-blue3;
            margin-top: 6px;

            .disabled-block {
                position: relative;

                filter: grayscale(70%);
                
                .click-blocker {
                    display: block !important;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    cursor: default;
                }
            }

            .fixed-part {
                &.hidden {
                    display: none;
                }
            } 

            .dates-static {
                .cap {
                    font-weight: bold;
                    color: $input-color; 
                }

                .val {
                    font-weight:bold;
                }

                &.hidden {
                    display: none;
                }
            }

            &.hidden {
                display: none;
            }
        }

        .tag {
            padding: 4px;
        }
        .tagger{
            input {
                padding: 5px 19px;
            }

            .icon-search{
                font-size: 19px;
            }            
        }

        .airports-cont {
            border-radius: 4px;
            background-color: white;
            padding-left: 4px;
            padding-right: 4px;

            .sta-air-cont {
                background-color: $light-blue;

                display: inline-block;
                color: white;
                border-radius: 4px;
                padding: 5px;
            }

            .tagger-cont {
                
                border-radius: 4px;
                display: inline-block;
                padding-left: 4px;
                padding-right: 4px;
                padding-top: 4px;                
            }
        }

        

        .days-range-cont {

        }

        .freq-cont {
            margin-top: 10px;
            margin-bottom: 10px;

            .itbl {
                display: table;
                width: 100%;

                .cell{
                    display: table-cell;
                    width: 33%;
                }

                .item {
                    @include noselect;

                    text-align: center;                    
                    color: white;
                    font-weight: bold;
                    background-color: $light-blue;
                    border-radius: 4px;
                    padding: 10px;
                    margin-left: 5px;
                    margin-right: 5px;
                    cursor: pointer;

                    &.active {
                        background-color: $orange;
                    }
                }
            }
        }

        .action-bar {
            margin-top: 8px;
            padding-top: 8px;

            border-top: 1px dotted $light-blue3;

            .finish-dates-btn {
                color: white;
                background-color: $green3;

                &:hover {
                    background-color: $orange;
                }
            }

        }
        
    }


    .navi-cont {
        margin-bottom: 5px;

        @include below-width(700) {
            .btn {
                margin-left: 10px;
            }
        }   

    }

    .map-cont {
        position: relative;
         
        .map {            
            width: 100%;
            height: 400px;            
            background-color: $light-blue2;
        }

        .map-disabled {
            display: block !important;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: default;
            background-color: dimgray;
            opacity: 0.7;
            
            z-index: 9999999;
        }

        .map-type-switch {
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 20px;
            z-index: 999999;


            .items-tbl {
                display: table;
                .btn {
                    @include noselect;
                    display: table-cell;
                    cursor: pointer;
                    border: 1px solid white;
                    color: white;
                    font-weight: bold;
                    padding: 8px;

                    background-color: $light-blue;

                    &.active, &:hover {
                        background-color: $orange;
                    }
                }

                .country {
                    border-bottom-left-radius: 8px;
                    border-top-left-radius: 8px;
                }

                .city {
                    border-bottom-right-radius: 8px;
                    border-top-right-radius: 8px;
                }

            }
        }
     }



    .mainCont {    
        width: 100%;
        height: 370px;
        margin-bottom: 30px;
        border-bottom: 2px solid black;
    }

    .tabBlock {        
        width: 49%;
        height: 350px;
        float: left;
    }

    .other-flights-empty{
        text-align: center;

        .smile {
            display: inline-block;
            font-size: 40px;
            font-weight: bold;
            color: $dark-blue;
            margin-right: 25px;
        }

        .info {
            margin: 10px;
            display: inline-block;
            font-weight: bold;
            padding: 20px;
            border: 2px solid $orange;
            font-weight: bold;
            border-radius: 4px;
        }
    }

    .months-filter {
        margin-top: 8px;
        margin-bottom: 8px;
        

        .month{
            display: inline-block;
            background-color: $light-blue3;
            color: white;
            padding: 4px;
            
            margin-left: 2px;
            margin-right: 2px;
            margin-bottom:4px;

            border-radius: 4px;            
            cursor: pointer;
            @include noselect;

            span {
                white-space: nowrap;
            }
            

            &:hover {
                background-color: $dark-blue;
            }

            &.active {
                background-color: $dark-blue;
            }
        }
    }

    .slider-cont {        
        width: 100% !important;
        display: inline-block;

        input {
            border: 1px solid $light-blue;
            border-radius: 4px;
            width: 30px;
            text-align:center;
        }

        .value {
            border: 1px solid $light-blue;
            border-radius: 4px;
            width: 30px;
            text-align:center;
            padding: 4px;
            background-color: white;
            font-weight: bold;
        }

        .tbl {
            display: table;
            width: 100%;

            .left {
                display: table-cell;

                padding-right: 16px;
            }

            .center {
                display: table-cell;
                width: 100%;

                .inner-cont-slider {
                    display: block !important;
                }
            }

            .right {
                display: table-cell;

                padding-left: 16px;
            }
        }
    }


    .top-ribbon{
        text-align: left;
        margin-top: 8px;
        margin-bottom: 8px;

        .icon-home {
            color: $dark-blue;
            font-size: 1.3em;
            margin-right: 4px;
        }

        .home-location-name {
            font-size: 1.1em;
        }

        .airports{
            display: inline-block;

            .airport{
                display: inline-block;
                border: 1px dotted $light-blue;
                padding-left: 1px;
                padding-right: 1px;
                border-radius: 4px;
                margin-left: 2px;
                margin-right: 2px;
                font-size: 0.9em;
            }
        }
    }

    .no-airs-info {
        background-color: $orange;
        border-radius: 4px;
        padding: 6px;
        text-align: left;
        margin-top: 8px;
        
        .icon {
            float: left;
            color: $dark-blue;
            font-size: 1.3em;
            margin-right: 10px;
        }

        .txt {
            font-weight: bold;
            color: white;
            font-size: 1.1em;
        }


    }

    .location-dialog{
        position: relative;

        border-top: 4px solid $ribbon-blue;
        background-color: $very-light-blue3;

        margin-top: 12px;
        margin-bottom: 12px;

        padding-left: 8px;
        
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;

        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        text-align: left;

        &.hidden {
            display: none;
        }

        .title{            
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 3px;
        }

        .input-block {
            display: inline-block;
            margin-right: 12px;

            margin-top: 10px;

            &.hidden {
                display: none;
            }
        }

        .bottom-line {
            margin-top: 10px;
            padding-bottom: 6px;
        }

        .add-btn{
            color: white;
            font-weight: bold;
            background-color: $light-blue3;

            &:hover {
                background-color: $orange;
            }
        }


        .airports-cont{
            display: inline-block;

            .airport{
                color: white;
                border-radius: 4px;
                display: inline-block;
                background-color: $light-blue;

                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 4px;
                padding-right: 4px;

                margin: 2px;

                .icon-cross{
                    color: $dark-blue;
                    font-size: 0.8em;

                    &:hover{
                        color:$orange;
                    }
                }
            }
        }

        .refresh-line {
            padding-bottom: 6px;

            &.hidden {
                display: none;
            }

            .refresh-results {
                color: white;
                background-color: $green3;
                font-weight: bold;

                &:hover {
                    background-color: $orange;
                }
            }
        }

    }

    .checker-all{        
        border: none;
        
        .icon-checkmark{
            color: $green3;
        }
        .icon-checkmark2{
            color: $orange;
        }
    }

    .rating-filter {
        display: inline-block;

        .levels{
            display: table;
            width: 460px;

            .itm {
                display: table-cell;
                width: 33.3%;
            }

            .level {
                @include noselect;
                
                &.active {
                    border: 2px solid $light-blue3;
                }

                border-radius: 4px;
                margin: 6px;

                background-color: white;
                text-align: center;
                cursor: pointer;
                
                .num {
                    color: $light-blue3;
                    font-size: 2em;
                    font-weight: bold;
                }

                .stars{
                   span{
                        color: $yellow;
                    }
                }

                .txt {
                    font-size: 0.9em;
                    color: darkgray;
                }
            }
        }
    }


    .filtering {        
        margin-bottom: 20px;

        padding: 12px;

        background-color: $very-light-blue;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        .layout-table{
            display: table;
            width: 100%;
            
            .l {
                display: table-cell;
                vertical-align: top;
                text-align: left;
            }

            .r {
                display: table-cell;
                vertical-align: middle;
                text-align: right;
            }
        }

        @include below-width(890) {
            .layout-table{
                display: block;
            
                .l {
                    display: block;           
                    text-align:center;
                }

                .r {
                    display: block;   
                    text-align:center;             
                }
            }
        }

        .locations {
            margin-bottom: 10px;

            .location {
                display: inline-block;                
                text-align: center;
                margin-right: 50px;

                &:last-of-type {
                    margin-right: 0;
                }

                .ico-all{
                    cursor: pointer;
                            
                    .icon {
                        font-size: 100px;
                        color: $light-blue5;
                            
                        &:hover {
                            color: $dark-blue;
                        }
                    }
                }

                .txt {
                    margin-top: 6px;
                    font-weight: bold;                    
                }

                &.active {
                    .icon {
                        color: $orange !important;
                    }
                }
            }
        }

        .sec-line {
            text-align: left;            
            padding-top: 12px;
            
            .weekend-deals-filter {
                padding-top: 12px;    
                border-top: 1px dotted $light-blue3;

                .all-deals {
                    vertical-align: top;
                    display: inline-block;
        
                    margin-top: 8px;
        
                    font-weight: bold;
        
                    white-space: nowrap;
                }
    
                .days-filter {
                    display: inline-block;
                    text-align: center;

                    .ftbl {
                        display: table;

                        .cell {
                            display: table-cell;
                        }
                    }

                    .txt {
                        display: inline-block;
                        font-weight: bold;
                        margin-left: 10px;
                        margin-right: 25px;
                    }
    
                    .day{
                        position: relative;
                        box-sizing: border-box;
                        border-width: 2px;
                        border-style: solid;

                        display: inline-block;
                        background-color: $light-blue3;
                        color: white;
                        border-radius: 4px;
            
                        padding-top: 20px;
                        padding-bottom: 20px;
            
                        font-weight: bold;
                        margin-left: 4px;
                        width: 66px;
                        @include noselect;

                        &.act {
                            background-color: $orange;
                        }

                        &.foc {
                            width: 74px;
                            padding-top: 24px;
                            padding-bottom: 24px;

                            /*top: -2px;*/
                            left: -4px;
                        }

                        &.perm-sel{
                            background-color: $orange;
                            cursor: default !important;
                        }
                    }

                    &.enabled {
                        .day {
                            cursor: pointer;
                        }
                    }

                    &.disabled {
                        filter: grayscale(70%);
                    }
                }
            }
  

        }
    }

    .flight-results {
        margin-top: 12px;
        
        .weekend-item{
            .title{
                margin-bottom: 12px;
                text-align: left;

                padding: 1em;

                background-color: $info-blue2;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;

                color: white;

                .week {
                    font-weight: bold;                    
                    font-size: 1.2em;                    
                }

                .date {
                    font-size: 0.8em;
                    vertical-align: central;
                }
            }
        }

        .cont {
            text-align: left;

            @include below-width(649) {
                text-align: center;
            }

            /*@include above-width(1280) {
              
                @include display-flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    align-content: flex-start;
            }*/
        }

        

        .flight-result {            
            width: 306px;
            margin-bottom: 8px;

            display: inline-block;
            
            margin-right: 4px;

            @include above-width(1280) {
                margin-right: 14px;
            }

            &:last-of-type {
                margin-right: 0;
            }

            .img-cont {
                position: relative;

                img {
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                    width: 100%;                    
                    vertical-align: middle;
                }

                .img-wrap {
                    position: relative;
                    z-index: 1;
                    
                    width: 306px;
                    height: 200px;
                        
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    overflow: hidden;
                    
                    img {
                        width: 330px !important;
                        @include centerer;
                    }
                }
                

                .txt-cont {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;

                    z-index: 10;

                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                    background-color: rgba(black, 0.5);

                    &.darker {
                        background-color: rgba(black, 0.7);
                    }

                    color: white;                    
                    font-weight: 600;
                    font-size: 1.1em;

                    padding: 0.8em;
                }

                .price-cont{
                    display: inline-block;
                    position: absolute;
                    top: 60px;
                    left: -12px;
                    
                    z-index: 15;

                    width: 60px;
                    height: 60px;

                    padding: 12px;
                    border: 2px solid white;
                    border-radius: 50%;

                    background-color: $green3;
                    color: white;

                    text-align: center;

                    .wrap {
                        display: inline-block;
                        
                        .from{
                            display: inline-block;
                            font-size: 0.8em;                            
                        }

                        .price-all{
                            display: inline-block;
                            font-weight: bold;
                            font-size: 1.3em;                                                        
                        }
                    }
                }
            }

            .items {                
                border-left: 1px solid $light-blue;
                border-bottom: 1px solid $light-blue;
                border-right: 1px solid $light-blue;

                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                padding-top: 12px;
                padding-bottom: 12px;

                table{
                    font-size: 0.8em;
                    width: 100%;
                    margin: 0;
                    
                    border-spacing:0; 
                    border-collapse: collapse;  

                    td{
                        padding-bottom: 4px;
                        cursor: pointer;

                        &:first-of-type{
                            padding-left: 8px;
                        }
                    }

                    tr {                        
                        
                        &:hover {
                            background-color: $light-blue4;

                            .btn {
                                color: white;
                                background-color: $dark-blue;                                
                            }

                        }
                    }
                }

                .btn{
                    display: inline-block;
                    vertical-align:middle;
                    
                    font-weight: bold;
                    text-transform: uppercase;

                    border-radius: 4px;

                    color: black;                    
                    text-decoration: none;

                    padding-left: 2px;
                    padding-right: 2px;

                    background-color: $light-blue4;
                    white-space: nowrap;
                }
            }

        }
    }

    .continent-all {
        .title {

            background-color: $info-blue2;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            color: white;
            padding: 1em;

            position: relative;
            margin-bottom: 6px;
            text-align: left;

            .txt{
                font-size: 1.4em;
                font-weight: bold;
            }

            .visi{
                display: inline-block;
                position: absolute;
                right: 1em;
                top: 1em;
                color: white;
            }
        }
    }
      
    .conn {              
        margin-bottom: 12px;

        .layout-tbl {
            display: table;
            width: 100%;

            .left {
                display: table-cell;
                vertical-align: top;
                width: 100%;
            }

            .right {
                display: table-cell;
                vertical-align: top;
                text-align: right;
                      
            }
        }

        .flight-bck-cont {

            background-color: $very-light-blue;

            padding-top: 10px;

            &.sub-part {
            background-color: white !important;
                &:last-of-type{
                    margin-bottom: 12px;
                }
            }

            .flight {
                padding-left: 20px;
                text-align: left;
                border-bottom: 1px solid $light-blue6;

                .top-line {                          
                    font-size: 0.8em;
                    color: darkgray;
                    margin-bottom: 14px;
                }

                .data-tbl {
                    display: table;
                    width: 100%;
                    white-space: nowrap;
                        
                    /*text-align: left;*/

                    .di {
                        display: table-cell;
                        vertical-align: top;
                        padding-bottom: 12px;

                        &:first-of-type {                                  
                            /*padding-left: 20px;*/
                        }
                    }

                    .logo-cont {
                            width: 15%;

                        .air-logo {
                            width: 50px;                                  
                        }
                    }

                    .flight-dir {
                        width: 25%;
                              
                        .from-to{
                            font-weight: bold;
                            font-size: 1.2em;                              
                        }

                        .flight-no{
                            font-size: 0.8em;
                            color: darkgray;
                        }
                    }

                    .date {
                        width: 20%;

                        font-weight: bold;
                    }

                    .time-cont{
                        width: 20%;

                        .time {
                            font-weight: bold;
                        }

                        .duration {
                            font-size: 0.8em;
                            color: darkgray;
                        }
                    }

                    .direct-cont {
                        width: 20%;
                        text-align: right;
                        padding-right: 20px;

                        .direct {                            
                            font-weight: bold;
                            color: $green2;
                        }

                        .stops {
                                
                            .stops-btn {
                                text-decoration: none;
                                
                                .txt {
                                    display: inline-block;
                                    vertical-align:top;

                                    text-decoration: underline;

                                    color: $light-blue;
                                }

                                .icon-dropdown-arrow {

                                    &.opened {
                                        transform: scale(1, -1);
                                    }

                                    display: inline-block;
                                    vertical-align:top;

                                    color: white;
                                    border-radius: 4px;
                                    padding: 3px;

                                    color: white;
                                    background-color: $light-blue;

                                    font-weight: 100;
                                    font-size: 0.8em;

                                    margin-left: 8px;
                                }
                            }                            
                        }
                    }

                }

            }

            .flights-sub {
                padding-left: 20px;
                background-color: white;
            }
        }
        .book-zone {
            display: inline-block;

            padding: 20px;

            background-color: $light-blue6;

            .score {
                background-color: white;
                border: 1px solid $light-blue3;
                border-radius: 4px;
                padding: 8px;
                text-align: center;

                .txt-score {
                    font-weight: bold;
                    font-size: 1.1em;
                }

                .stars-score{
                    color: $yellow;
                    font-size: 0.7em;
                }

                .cap{
                    font-size: 0.75em;
                    color: gray;
                }
            }

            .price-all {
                font-weight: bold;
                text-align: right;

                .currency {
                              
                }

                .price{
                    font-size: 2em;                              
                }
            }

            .btn-cont{
                a{
                    font-weight: bold;
                    text-decoration: none;
                    display: inline-block;
                    color: white;
                    background-color: $green3;
                    padding: 10px;
                    border-radius: 4px;
                    white-space: nowrap;

                    &:hover {
                        background-color: $green2;                                
                    }
                }
            }

        }

        @include below-width(720) {
            .layout-tbl{
                display: block;

                .left,.right{
                    display: block;
                    width: initial;
                }
            }

            .book-zone {                      
                display: block;
                position: relative;
                padding: 5px;

                .score {                      
                    display: inline-block;  
                    vertical-align: top;

                    position: absolute;
                    left: 10px;
                    top: 8px;


                .txt-score {
                    display: inline-block;  
                }

                .stars-score{
                    display: inline-block !important;  
                }

                .cap{
                    display: inline-block !important;  
                }
            }

                .price-all {
                    display: inline-block;  
                    vertical-align: top;
                }
                      
                .btn-cont {
                    display: inline-block;  
                    vertical-align: top;
                }
        }
        }

              

    }

      
  .city-deal {
      position: relative;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: 1px solid $light-blue;
      border-top: 5px solid $light-blue3;
      
      margin-bottom: 20px;

      .title-top {
          font-size: 1.3em;
          font-weight: bold;
          padding: 12px;
          background-color: $very-light-blue;    
      }

      .title-deal {
          position: relative;
          min-height: 30px;

          background-color: $very-light-blue;          
          
          

          .txt {
              display: inline-block;
              font-size: 1.3em;
              font-weight: bold;          
              text-decoration: underline;
              margin-left: 14px;
              margin-bottom: 12px;
          }

          .deals-ordering {
              display: inline-block;
              position: absolute;
              top: 1px;
              right: 5px;
              
              .items-table {
                  display: table;

                  .cell {
                      display: table-cell;
                  }
              }

              .item{
                  display: inline-block;
                  border: 2px solid white;
                  background-color: $light-blue;
                  color: white;
                  font-weight: bold;
                  padding: 3px;
                  cursor: pointer;

                  &:hover{
                      background-color: $orange;
                  }
                      
                  &.active {
                      background-color: $orange;
                  }
              }

              .l {
                  border-bottom-left-radius: 5px;
                  border-top-left-radius: 5px;
              }

              .r {
                  border-bottom-right-radius: 5px;
                  border-top-right-radius: 5px;
              }
          }
          

          
      }

      .splitter{
          padding: 12px;
          background-color: $very-light-blue;
          div{
              border-top: 1px solid $light-blue;
          }
      }

      .search-tabs {
          background-color: white;
          padding-top: 20px;

          .tab{              
              display: inline-block;
              margin-left: 30px;
              font-weight: bold;
              font-size: 1.1em;
              color: $light-blue3;
              border-bottom-width: 0;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
              padding: 12px;
              cursor: pointer;
              background-color: $very-light-blue;

              &.active,&:hover{
                border: 1px solid $light-blue3;
                color: $dark-blue;
                border-bottom-width: 0;
                position:relative;
              bottom: -1px;
              }
          }
      }

      .tabs-cont{
          
          background-color: $very-light-blue;
          border-top: 1px solid $light-blue3;
      }

      .title {
          font-size: 1.3em;
          font-weight: bold;
          margin-bottom: 12px;
          text-decoration: underline;
          padding-left: 14px;

          &.blue{
              background-color: $very-light-blue;
          }
      }

      .other-flights-filter {
          padding-left: 12px;
          padding-right: 12px;

        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        .tit{
              font-weight: bold;
              font-size: 1.2em;
              margin-bottom: 6px;
          }

        .airpairs-filter {
              .pair {
                  display: inline-block;
                  background-color: $light-blue3;
                  color: white;
                  padding: 6px;
                  margin-left: 2px;
                  margin-right: 2px;
                  border-radius: 4px;
                  cursor: pointer;
                  @include noselect;

                  &.active {
                      background-color: $orange;
                  }
              }
          }

        .ltbl{
            width: 100%;
            display: table;

            .block{
                width: 50%;
                display: table-cell;                
            }
        }

        @include below-width(800) {
            .ltbl{                
                display: block;

                .block{
                    width: initial;
                    display: block;
                }
            }
        }

    }

      .dep-arr {          
          padding: 10px;

          
          .time-cont {
              display: block;              
          }
      }

      .srvc{
          padding: 12px;

          .lbtn{
              color: white;
              background-color: $orange;
              font-weight: bold;

              &:hover {
                  background-color: $dark-blue;
              }
          }
      }

      .other-flights-preloader {
          text-align: center;

          .center {
              margin: 10px;
              display: inline-block;
              font-weight: bold;
              padding: 20px;
              border: 2px solid $orange;
              font-weight: bold;
              border-radius: 4px;
            }
          
      }

  }

  .plane-preloader{      
      $size: 60px;
      
        position:relative;
        display: inline-block;
        width: $size;
        height: $size;
            
        img{                
            @include spin($size);
            color: $dark-blue;
        }
    }  
}