
.fly-tickets{
   
     .map {
        max-width: 1280px;
        width: 100%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }


     .myTabs {
         width: 100%;         
     }

    .myTab {
        border: 1px solid white;      
        background-color: #57c1db;
        color: white;        
        display: inline-block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer; cursor: hand;
        padding-top: 14px;
    }

    .myTab.act {
        background-color: red;
    }


    .mainCont {    
        width: 100%;
        height: 370px;
        margin-bottom: 30px;
        border-bottom: 2px solid black;
    }

    .tabBlock {        
        width: 49%;
        height: 350px;
        float: left;
    }

    .anytime-slider-cont {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        .title {
            font-weight: bold;
        }

        .inner-cont {
            width: 80%; 
            display: inline-block;

            input {
                border: 1px solid $light-blue;
                border-radius: 4px;
                width: 30px;
                text-align:center;
            }

            .tbl {
                display: table;
                width: 100%;

                .left {
                    display: table-cell;

                    padding-right: 16px;
                }

                .center {
                    display: table-cell;
                    width: 100%;

                    .inner-cont-slider {
                        display: block !important;
                    }
                }

                .right {
                    display: table-cell;

                    padding-left: 16px;
                }
            }
        }
       
    }


    .top-ribbon{
        text-align: left;
        margin-top: 8px;
        margin-bottom: 8px;

        .icon-home {
            color: $dark-blue;
            font-size: 1.3em;
            margin-right: 4px;
        }

        .home-location-name {
            font-size: 1.1em;
        }

        .airports{
            display: inline-block;

            .airport{
                display: inline-block;
                border: 1px dotted $light-blue;
                padding-left: 1px;
                padding-right: 1px;
                border-radius: 4px;
                margin-left: 2px;
                margin-right: 2px;
                font-size: 0.9em;
            }
        }
    }

    .location-dialog{
        border: 1px solid $light-blue;
        margin: 12px;
        padding: 12px;
        border-radius: 4px;
        text-align: left;

        .title{            
            font-weight: bold;
            font-size: 1.1em;
        }

        .tbl-wrap {
            display: table;
            width: 100%;

            .left{
                display:table-cell;
                border-right: 1px dotted gray;
                padding-right: 12px;
            }

            .right{
                display:table-cell;
                padding-left: 12px;
            }
        }

        .airports-cont{
            .airport{
                color: white;
                border-radius: 4px;
                display: inline-block;
                background-color: $light-blue;

                padding: 2px;
                margin: 2px;

                .icon-cross{
                    color: $dark-blue;

                    &:hover{
                        color:darkred;
                    }
                }
            }
        }
    }

    .checker-all{        
        border: none;
        
        .icon-checkmark{
            color: $green3;
        }
        .icon-checkmark2{
            color: $orange;
        }
    }

    .filtering {
        margin-top: 20px;
        margin-bottom: 20px;

        padding: 12px;

        background-color: $very-light-blue;
        border-radius: 4px;

        .title {
            font-size: 1.1em;
            font-weight: bold;
            text-align: left;
            margin-bottom: 8px;
        }

        .layout-table{
            display: table;
            width: 100%;
            
            .l {
                display: table-cell;
                vertical-align: top;
                text-align: left;
            }

            .r {
                display: table-cell;
                vertical-align: middle;
                text-align: right;
            }
        }

        .locations {
            .location {
                display: inline-block;                
                text-align: center;
                margin-right: 50px;

                &:last-of-type {
                    margin-right: 0;
                }

                .ico-all{
                    cursor: pointer;
                            
                    .icon {
                        font-size: 100px;
                        color: $light-blue5;
                            
                        &:hover {
                            color: $dark-blue;
                        }
                    }

                    .txt {
                        font-weight: bold;
                        color: $dark-blue;                           
                    }
                }

                &.active {
                    .icon {
                        color: $orange !important;
                    }
                }
            }
        }

    }

    
    .flight-results {

        margin-top: 12px;
        
        text-align: left;

        /*@include display-flex;
        flex-flow: wrap;
        justify-content: space-around;*/
        
        .weekend-item{
            .title{
                margin-bottom: 12px;

                .week {
                    font-weight: bold;
                    text-decoration: underline;
                    font-size: 1.2em;
                }

                .date {
                    font-size: 0.8em;
                    vertical-align: central;
                }
            }
        }


        .flight-result {
            width: 310px;
            margin-bottom: 8px;

            display: inline-block;
            margin-left: 4px;
            margin-right: 4px;

            .img-cont {
                position: relative;

                img {
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                    width: 100%;                    
                    vertical-align: middle;
                }

                .img-wrap {
                    position: relative;
                    z-index: 1;
                    /*display: inline-block;*/
                        
                    width: 310px;
                    height: 204px;
                        
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    overflow: hidden;
                        
                    /*box-sizing: border-box;*/
                    /*border-width: 1px;
                    border-style: solid;*/
                    /*border: 1px solid white;*/


                    img {
                        width: 330px !important;
                        @include centerer;
                    }
                }
                

                .txt-cont {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;

                    z-index: 10;

                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                    background-color: rgba(black, 0.5);

                    &.darker {
                        background-color: rgba(black, 0.7);
                    }

                    color: white;                    
                    font-weight: 600;
                    font-size: 1.1em;

                    padding: 0.8em;
                }

                .price-cont{
                    display: inline-block;
                    position: absolute;
                    top: 60px;
                    left: -12px;
                    
                    z-index: 15;

                    width: 60px;
                    height: 60px;

                    padding: 12px;
                    border: 2px solid white;
                    border-radius: 50%;

                    background-color: $green3;
                    color: white;

                    text-align: center;

                    .wrap {
                        display: inline-block;
                        
                        .from{
                            display: inline-block;
                            font-size: 0.8em;                            
                        }

                        .price-all{
                            display: inline-block;
                            font-weight: bold;
                            font-size: 1.3em;                                                        
                        }
                    }
                }
            }

            .items {                
                border-left: 1px solid $light-blue;
                border-bottom: 1px solid $light-blue;
                border-right: 1px solid $light-blue;

                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                padding-top: 12px;
                padding-bottom: 12px;

                table{
                    font-size: 0.8em;
                    width: 100%;
                    margin: 0;
                    
                    border-spacing:0; 
                    border-collapse: collapse;  

                    td{
                        padding-bottom: 4px;
                        cursor: pointer;

                        &:first-of-type{
                            padding-left: 8px;
                        }
                    }

                    tr {
                        
                        
                        &:hover {
                            background-color: $light-blue4;

                            .btn {
                                color: white;
                                background-color: $dark-blue;                                
                            }

                        }
                    }
                }

                .btn{
                    display: inline-block;
                    vertical-align:middle;
                    
                    font-weight: bold;
                    text-transform: uppercase;

                    border-radius: 4px;

                    color: black;                    
                    text-decoration: none;

                    padding-left: 2px;
                    padding-right: 2px;

                    background-color: $light-blue4;
                    white-space: nowrap;
                }
            }

        }
    }

    /*@include below-width(1279) {
        
        .flight-results {
         display: initial;
        }


        .flight-result {
            display: inline-block;
         width: 300px !important;
        }
    }

    @include below-width(990) {
        .flight-results {
         display: initial;
        }

        .flight-result {
            display: inline-block;
         width: 280px !important;         
        }
    }*/
  

  .flight-conns {
      .conns{
          margin-top: 12px;

          .conn {              
              margin-bottom: 12px;

              .layout-tbl {
                  display: table;
                  width: 100%;

                  .left {
                      display: table-cell;
                      vertical-align: top;
                      width: 100%;
                  }

                  .right {
                      display: table-cell;
                      vertical-align: top;
                      text-align: right;
                      
                  }
              }

              .flight-bck-cont {

                  background-color: $very-light-blue;

                  padding-left: 20px;
                  padding-top: 10px;

                  &.sub-part {
                    background-color: white !important;
                        &:last-of-type{
                            margin-bottom: 12px;
                        }
                    }

                  .flight {
                    text-align: left;
                    border-bottom: 1px solid $light-blue6;

                    .top-line {                          
                        font-size: 0.8em;
                        color: darkgray;
                        margin-bottom: 14px;
                    }

                    .data-tbl {
                        display: table;
                        width: 100%;
                        white-space: nowrap;
                        
                        /*text-align: left;*/

                        .di {
                            display: table-cell;
                            vertical-align: top;
                            padding-bottom: 12px;

                            &:first-of-type {                                  
                                /*padding-left: 20px;*/
                            }
                        }

                        .logo-cont {
                             width: 15%;

                            .air-logo {
                                width: 50px;                                  
                            }
                        }

                        .flight-dir {
                            width: 25%;
                              
                            .from-to{
                                font-weight: bold;
                                font-size: 1.2em;                              
                            }

                            .flight-no{
                                font-size: 0.8em;
                                color: darkgray;
                            }
                        }

                        .date {
                            width: 20%;

                            font-weight: bold;
                        }

                        .time-cont{
                            width: 20%;

                            .time {
                                font-weight: bold;
                            }

                            .duration {
                                font-size: 0.8em;
                                color: darkgray;
                            }
                        }

                        .direct-cont {
                            width: 20%;
                            text-align: right;
                            padding-right: 20px;

                            .direct {                            
                                font-weight: bold;
                                color: $green2;
                            }

                            .stops {
                                
                                .stops-btn {
                                    text-decoration: none;
                                
                                    .txt {
                                        display: inline-block;
                                        vertical-align:top;

                                        text-decoration: underline;

                                        color: $light-blue;
                                    }

                                    .icon-dropdown-arrow {

                                        &.opened {
                                            transform: scale(1, -1);
                                        }

                                        display: inline-block;
                                        vertical-align:top;

                                        color: white;
                                        border-radius: 4px;
                                        padding: 3px;

                                        color: white;
                                        background-color: $light-blue;

                                        font-weight: 100;
                                        font-size: 0.8em;

                                        margin-left: 8px;
                                    }
                                }                            
                            }
                        }

                    }

                }
              }
                .book-zone {
                    display: inline-block;

                    padding: 20px;

                    background-color: $light-blue6;

                    .score {
                        background-color: white;
                        border: 1px solid $light-blue3;
                        border-radius: 4px;
                        padding: 8px;
                        text-align: center;

                        .txt-score {
                            font-weight: bold;
                            font-size: 1.1em;
                        }

                        .stars-score{
                            color: $yellow;
                            font-size: 0.7em;
                        }

                        .cap{
                            font-size: 0.75em;
                            color: gray;
                        }
                    }

                    .price-all {
                        font-weight: bold;
                        text-align: right;

                        .currency {
                              
                        }

                        .price{
                            font-size: 2em;                              
                        }
                    }

                    .btn-cont{
                        a{
                            font-weight: bold;
                            text-decoration: none;
                            display: inline-block;
                            color: white;
                            background-color: $green3;
                            padding: 10px;
                            border-radius: 4px;
                            white-space: nowrap;

                            &:hover {
                                background-color: $green2;                                
                            }
                        }
                    }

                }

              @include below-width(720) {
                  .layout-tbl{
                      display: block;

                      .left,.right{
                          display: block;
                          width: initial;
                      }
                    }

                    .book-zone {                      
                      display: block;
                      position: relative;
                      padding: 5px;

                      .score {                      
                          display: inline-block;  
                          vertical-align: top;

                          position: absolute;
                          left: 10px;
                          top: 8px;


                        .txt-score {
                            display: inline-block;  
                        }

                        .stars-score{
                          display: inline-block !important;  
                        }

                        .cap{
                          display: inline-block !important;  
                        }
                    }

                      .price-all {
                          display: inline-block;  
                          vertical-align: top;
                      }
                      
                      .btn-cont {
                          display: inline-block;  
                          vertical-align: top;
                      }
                }
              }

              

          }

      }
  }
}