

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/pins/icomoon.eot?f4h0hv');
  src:  url('/fonts/pins/icomoon.eot?f4h0hv#iefix') format('embedded-opentype'),
    url('/fonts/pins/icomoon.ttf?f4h0hv') format('truetype'),
    url('/fonts/pins/icomoon.woff?f4h0hv') format('woff'),
    url('/fonts/pins/icomoon.svg?f4h0hv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-message:before {
  content: "\e91d";
}
.icon-auction:before {
  content: "\e91c";
}
.icon-male:before {
  content: "\e91a";
}
.icon-female:before {
  content: "\e91b";
}
.icon-toggle-on:before {
  content: "\e90d";
}
.icon-toggle-off:before {
  content: "\e917";
}
.icon-gear:before {
  content: "\e916";
}
.icon-home:before {
  content: "\e918";
}
.icon-camera:before {
  content: "\e915";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-bell:before {
  content: "\e951";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-foursquare:before {
  content: "\ead6";
}
.icon-yelp:before {
  content: "\ead7";
}
.icon-location-on-road:before {
  content: "\e919";
}
.icon-envelope:before {
  content: "\e90c";
}
.icon-star-left:before {
  content: "\e913";
}
.icon-star-right:before {
  content: "\e914";
}
.icon-dropdown-arrow:before {
  content: "\e912";
}
.icon-close-cross:before {
  content: "\e911";
}
.icon-ico-travel-buddy:before {
  content: "\e90a";
}
.icon-ico-wiki:before {
  content: "\e900";
}
.icon-ico-travel-map:before {
  content: "\e901";
}
.icon-ico-organizer:before {
  content: "\e902";
}
.icon-friends:before {
  content: "\e90b";
}
.icon-dislike:before {
  content: "\e90e";
}
.icon-edit-pencil:before {
  content: "\e908";
}
.icon-like:before {
  content: "\e909";
}
.icon-share:before {
  content: "\e907";
}
.icon-city:before {
  content: "\e906";
}
.icon-country:before {
  content: "\e905";
}
.icon-everybody-data:before {
  content: "\e903";
}
.icon-friends-data:before {
  content: "\e904";
}
.icon-my-data:before {
  content: "\e90f";
}
.icon-places:before {
  content: "\e910";
}

