
.image-db {

     .no-city {
        border: 2px solid blue;
        font-size: 26px;
        padding: 20px;
        background-color: lightyellow;
        margin: 10px;
        border-radius: 4px;
    }


     .new-photo-cont {

         /*text-decoration: none;*/
     
         input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

         label {        
             font-weight: bold;
             font-size: 30px;
             display: inline-block;
             padding: 15px;
             margin: 15px;


            color: white;
            border: 2px solid $light-blue3;
            background-color: $light-blue;

            cursor: pointer;

            border-radius: 4px;
        }

     }

     /*.preloader-cont {
         display: inline-block;
         position: relative;

         width: 200px;
         height: 200px;

         text-align: center;

         img {
             position: absolute;
             top: 0;
             left: 0;
             right: 0;
             bottom: 0;
         }

         .percent-cont {
             z-index: 999999;
             display: inline-block;

             margin-top: 50px;

             padding: 8px;
             
             background-color: white;

             border: 2px solid $dark-blue;
         }
     }*/


     .new-photo-form {

         position: relative;
         text-align: left;

         .input-form {
             display: inline-block;
             
             background-color: lightyellow;
             border: 2px solid blue;
             padding: 5px;
             border-radius: 4px;
             margin: 8px;
         }

         .file-info{
             display: inline-block;
             position:absolute;
             right: 0;
             

             background-color: lightyellow;
             border: 2px solid blue;
             padding: 5px;
             border-radius: 4px;
             margin: 8px;
         }

     }

     




    .myTabs {
         width: 100%;         
     }

    .myTab {
        border: 1px solid white;      
        background-color: #57c1db;
        color: white;        
        display: inline-block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer; cursor: hand;
        padding-top: 14px;
    }

    .myTab.act {
        background-color: red;
    }

    #naviCont {
        margin-top: 16px;
        margin-bottom: 8px;
    }

     #newPhotoForm {
         border: 2px solid black;
         margin: 8px;
         padding: 8px;
     }

    .photoOverFrame {
        border: 2px solid black;
        margin-bottom: 8px;
    }

    .img {        
        display: inline-block;
        width:  150px;
        height: 100px;
        background-position: 50% 50%;
        background-repeat:   no-repeat;
        background-size:     cover;

        margin-left: 8px;
        margin-top: 8px;
        border: 2px solid black;
        
        cursor: pointer; cursor: hand;
    }

    .img  {
        position: relative;

        .delete {
            display: inline-block;
            position: absolute;
            top: -12px;
            right: -12px;

            border: 2px solid $dark-blue;

            color: $dark-blue;
            font-weight: bold;
            
            background-color: white;
            
            border-radius: 50%;
            
            &:hover{
                color: red;
            }
        }
    }

    #photosList {
        height: 204px;

        border-top: 2px solid black;
        padding: 8px;
        margin-top: 16px;        

        overflow-y: scroll;
    }

    #picCutsList {
        border-top: 2px solid black;
        margin-top: 8px;
        margin-bottom: 8px;
        padding-top: 8px;
    }

    .cutListItem {
        margin-top: 4px;
        border-bottom: 1px solid black;
    }

    #cutCreateForm {
        margin-top: 8px;
        margin-bottom: 8px;
        border: 1px solid black;
    }
    
    .cutsList {
        margin-top: 8px;
        margin-bottom: 8px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

   

}