

.new-admin {
    
    text-align: left;

    .lbtn2 {
            color: white;
            background-color: $green;

            &:hover {
                background-color: $orange;
            }
        }

    .tab-menu {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .page-cont {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 2px solid $dark-blue;
    }


    .sections-content {
        table{
            border: 1px solid black;
        }
    }

    .del-cross {
        color: red;
        cursor: pointer;
        &:hover {
            color: $orange;
        }
    }

    .new-section-cont {
        margin: 10px;
        padding: 10px;

        border-top: 2px solid $dark-blue;

        input {
            border: 1px solid $dark-blue;
        }

    }

    .add-city {

    }

    .task-all {
        background-color: $very-light-blue3;
        border-radius: 4px;
        margin-bottom: 1em;

        .task-header {
            color: white;
            font-weight: bold;
            padding: 1em;
            background-color: $dark-blue;
        }

        .task-inner {
            padding: 1em;
        }

        .title {
            font-weight: bold;
            font-size: 1.1em;
        }

        .line {
            margin-bottom: 1em;
        }

        .white-txt {
            background-color: white;
            border-radius: 4px;
            padding: 1em;
        }

        .actions {
            padding: 1em;
        }
    }

    .super-admins-mgmt {
       
        .item {
        
            background-color: $light-blue;
            border-radius: 4px;
            padding: 8px;
            display: inline-block;

            margin-right: 4px;
            margin-bottom: 4px;
                
            .name {

            }

            .del {                
                color: red;
                cursor: pointer;
            }
        }
    }

}