

.new-admin {
    
    text-align: left;

    input, textarea {
            border: 1px solid $dark-blue;
        } 

    .tab-menu {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .page-cont {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 2px solid $dark-blue;
    }


    .sections-content {
        table{
            border: 1px solid black;
        }
    }

    .del-cross {
        color: red;
        cursor: pointer;
        &:hover {
            color: $orange;
        }
    }

    .new-section-cont {
        margin: 10px;
        padding: 10px;

        border-top: 2px solid $dark-blue;

        input {
            border: 1px solid $dark-blue;
        }

    }

    .add-city {

    }

    .task-all {
        background-color: $very-light-blue3;
        border-radius: 4px;
        margin-bottom: 1em;

        .task-header {
            color: white;
            font-weight: bold;
            padding: 1em;
            background-color: $dark-blue;
        }

        .task-inner {
            padding: 1em;
        }

        .title {
            font-weight: bold;
            font-size: 1.1em;
        }

        .line {
            margin-bottom: 1em;
        }

        .white-txt {
            background-color: white;
            border-radius: 4px;
            padding: 1em;
        }

        .actions {
            padding: 1em;
        }
    }

    .super-admins-mgmt {
       
        .item {
        
            background-color: $light-blue;
            border-radius: 4px;
            padding: 8px;
            display: inline-block;

            margin-right: 4px;
            margin-bottom: 4px;
                
            .name {

            }

            .del {                
                color: red;
                cursor: pointer;
            }
        }
    }

    .articles-admins-mgmt {
        
        
        .adding-form {
            background-color: $light-blue4;
            padding: 1em;
            margin: 1em;

            .title {
                font-weight: bold;
            }

            .dropdown {

            }
        }

        .users-splitter {
            font-weight: bold;
            font-size: 1.1em;
            border-bottom: 2px solid $dark-blue;
            margin-bottom: 1em;
        }

        .users-cont {
            
            .user-item {
                margin-bottom: 1em;
                
                    
                .name-cont {
                    font-weight: bold;
                    background-color: $light-blue;
                    padding: 0.5em;

                    .del {
                            color: darkred;
                            cursor: pointer;

                            &:hover {
                                color: $orange;
                            }
                        }
                }

                .places {
                    border: 1px solid $light-blue;
                    padding: 1em;

                    .article-item {
                        background-color: $light-blue3;
                        border-radius: 4px;
                        padding: 0.5em;
                        display:inline-block;
                        margin-right: 0.2em;
                        margin-bottom: 0.2em;

                        .name {
                            color: white;
                            font-weight: bold;
                        }

                        .del {
                            color: darkred;
                            cursor: pointer;

                            &:hover {
                                color: $orange;
                            }
                        }
                    }
                }

                .adder {
                    .title {
                        font-weight: bold;
                        margin-right: 1em;
                    }
                }
                
            }
        }
    }



    .quiz-detail {
        
        .title, .title-url {
            width: 400px;
        }

        .item-file-input {
            width: 0.1px;
            height: 0.1px;
            display: none;
        }

        .info {
            border-bottom: 2px solid $dark-blue;
            padding: 0.5em;
            margin: 0.5em;
        }

        .items {
            .item {
                /*border: 1px solid $dark-blue;*/

                .options {
                    /*border-bottom: 1px solid $dark-blue;*/

                    .option {
                        border-bottom: 2px solid $dark-blue;
                        padding: 1em;


                        display: table;
                        width: 100%;

                        .l {
                            display: table-cell;
                            vertical-align:top;
                            font-weight: bold;
                            width: 3em;
                        }

                        .r {
                            display: table-cell;
                            vertical-align:top;

                            input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}