
.pins{

    .head-icons-all {        
        position: relative;
   
        height: 160px;

        .data-type {
            left: 0;
        }

        .data-set {
            right: 0;
        }

        .block{
            display: inline-block;

            position: absolute;
            top: 20px;

            .ico_all{
                display: inline-block;            
                text-align: center;
            
                .ico{                                            
                    font-size: 4em;
                    width: 1.5em;

                    background-color: $light-blue4;
                    border-radius: 2px;

                    a {                                  
                     text-decoration: none;   
                     color: $light-blue;
                    }

                    a:hover{
                        color: $dark-blue;
                    }

                    .active{
                        color: $dark-blue;
                    }
                }

                .txt{
                    margin-top: 8px;
                    font-size: 0.8em;
                    font-weight: bold;
                    color: $light-blue;

                    @include below-width(680) {
                        font-size: 0.7em;
                    }

                    .cmb_all{
                        position: relative;

                        .cmb{                    
                            text-decoration: none;
                            color: $light-blue;
                        }

                        .cmb:hover{
                                color: $dark-blue;                    
                        }

                        .list{
                            display: block;
                            position: absolute;
                            top: 30px;
                            right:0;
                            text-align: left;
                                                
                            height: 300px;
                            width: 300px;

                            z-index: 999999;
                            background-color: white;

                            border: 1px solid $light-blue;

                            border-bottom-left-radius: 2px;
                            border-bottom-right-radius: 2px;

                            font-size: 20px;
                            font-weight: 500;

                            .clear{
                                border-bottom: 1px solid $light-blue;
                                padding-left: 10px;

                                a {                                
                                    color: darkred;
                                    /*font-size: 18px;*/
                                    text-decoration: none;
                                    font-weight: 600;
                                }
                                a:hover{
                                    color: $dark-blue;
                                }
                            }

                            .cont {

                                .item{
                                    border-bottom: 1px solid $light-blue;
                                    padding-left: 10px;                            
                                }
                            }

                        }
                    }
                }

            }
        }

        @include below-width(770) {
            .ico {
                font-size: 3.5em !important;
                width: 1.3em !important;
            }

            height: 140px;
        }

        @include below-width(590) {
            .ico {
                font-size: 3.2em !important;
                width: 1.15em !important;
            }

            height: 130px;
        }






    }


    .map-wrap {
        position: relative;

        .map-type{
            position: absolute;
            top: 20px;
            left: 270px;

            z-index: 99999; 
        }  

        .share{
            position: absolute;
            top: 17px;
            right: 10px;

            z-index: 99999; 

            text-align:center;
            padding-top:1px;
        
            color: $light-blue;
            font-size: 32px;

            width: 44px;
            height: 44px;

            background-color: white;
            border-radius: 4px;

            &:hover{
                color: $dark-blue;        
            }
        }

        .place-search{    
            position: absolute;
            display: inline-block;
            top: 21px;
            left: 10px;
        
            z-index: 99999; 

            height: 46px;    

            font-size: 18px;
    
            .loader {
                position: absolute; 
                right: 5px; 
                top: 5px;
            }

            input {
                background: url(/images/n/magnifier.svg) no-repeat scroll 7px 7px;
                background-color: white;
                background-position-y: 10px;
                background-position-x: 10px;
                padding-left:37px;
                width: 200px;
            }

            .results {            
                background-color:rgba(255, 255, 255, 0.95);

                position: absolute;            
            
                top: 47px;   
                left: -45px;     

                .base-cont{
                    width: 660px;
                    @include below-width(700){
                        width: 335px;
                    }

                    text-align: left;
                    margin-top: 10px;

                    ul{
                        width: 320px;
                    
                        display: inline-block;
                    
                        li{
                            list-style: none;
                            margin-bottom: 3px;
                            text-align: left;

                            .icon-city,.icon-country {
                                font-size: 26px;
                                color: $orange;
                            }
                        }
                    }        
                }

                .soc-nets {                
                
                    ul {
                        list-style: none;
                        text-align: left;
                        margin: 0;
                        padding: 0;

                        li{
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .soc-item {
                        display: inline-block;
                        vertical-align: top;
                        width: 210px;
                        margin-right:3px;
                    }
                }

                .search-soc{
                    margin-left: 20px;
                    color: black;
                    font-size: 22px;
                }
            }

        }

        .preloader-cont {
            width: 100%;
            height: 500px;
            background-color: white;

            img {
                width: 128px;
                height: 128px;
                position: absolute;
                left: 50%;
                top: 50%; 
                margin-left: -64px;
                margin-top: -64px;
            }
        }

        #map {
            max-width: 1280px;
            width: 100%;
            height: 600px;       
            background-color: white;
        }

    }




    .stats{
    
        margin-top: 12px;
        color: white;

        .bor{
            margin-left: 20px;

            @include below-width(959){            
                margin-left: 10px;            
            }


            @include below-width(480){            
                margin-left: 5px;
            }
        }

        table {
            width: 100%;
        
            div{
                height: 70px;
                background-color: $green;
                border-radius: 2px;
            
                strong{
                    font-size: 30px;
                }
            } 
        }
    }

    .badge_all {
        width: 80px;
        display: inline-block;
        vertical-align:top;
        margin-right: 20px;

        .icon {            
            width: 80px;
            height: 80px;

            border-radius: 50%;
            overflow: hidden;

            margin-bottom: 10px;
        }
        .txt {

        }
    }

    .badges {
        text-align: center;
        margin-top: 40px;    
    } 

    .cities_all{
        .continent {
        
            display: inline-block;
        
            .title{
                text-align: left;
            }

            .cities{
                .badge_all{
                    margin-top: 10px;

                    .icon{                 
                        opacity: 0.5;
                        cursor: pointer; cursor: hand;
                    }

                    .active{                    
                        opacity: 1 !important;
                    }

                    .txt{
                        a{
                            color: $light-blue;
                        }
                        a:hover{
                            color: $dark-blue;
                        }
                    }
                }
            }

        }
    } 

    .my-legend {            
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: black;
        font-family: "PT Sans", sans-serif;
        font-size: 16px;
        z-index: 99999;
        background-color: white;
        opacity: 0.7;
        border-radius: 10px;
    }
        
    .my-legend .legend-title {
        text-align: left;
        margin: 5px;
        font-weight: bold;
        font-size: 90%;
    }

    .my-legend .legend-scale ul {
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
        float: left;
        list-style: none;
    }

    .my-legend .legend-scale ul li {
        font-size: 80%;
        list-style: none;
        margin-left: 0;
        line-height: 18px;
        margin-bottom: 2px;
    }

    .my-legend ul.legend-labels li span {
        display: block;
        float: left;
        height: 16px;
        width: 30px;
        margin-right: 5px;
        margin-left: 5px;
        border: 1px solid #999;
    }

}



