
.travelb-home{
    
    text-align: left;

    textarea{
        border: 1px solid $light-blue3;
    }

    .checkin-icon{
        z-index: 99999 !important;

        .thumb-cont{
            width: 40px;
            height: 40px;

            img{
                width: 40px;
                height: 40px;
            }
        }
    }

    .checkin-you-icon {
        z-index: 99999 !important;

        background-color: white;
        border: 2px solid red;
        border-radius: 4px;
        text-align: center;

        span{
            font-size: 38px;
            display: inline-block;
            line-height: 1;
        }

    }

    .mp-icon{
        z-index: 99998 !important;
        
        .cont{
            width: 40px;
            height: 40px;

            border: 1px solid black;
            border-radius: 4px;
            

            img{
                width: 38px;
                height: 38px;
            }
        }
    }

    .info-block{
        
        padding: 8px;
        text-align: center;


        .block{
            
            width: 48%;
            min-width: 320px;
            display: inline-block;
            vertical-align: top;

            @include below-width(700){            
                width: 95%;
            }

            .block-inner{
                display: table;
                
                .img-all{
                    
                    display: table-cell;
                    vertical-align: middle;
                    width: 30%;

                    img{            
                        width: 100%;                            
                    }
                }

                .txt{                    
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                    width: 60%;                    
                    width: auto;

                    padding: 10px;
                }
            }

        }

    }

    .itag{
        padding-left: 3px;
        padding-right: 3px;
        /*padding-top: 1px;
        padding-bottom: 1px;*/
        margin-left: 2px;
        margin-right: 2px;

        border-radius: 4px;
        color: white;
        background-color: $light-blue;
    }

    .g-icon{
        font-size: 22px;  
        margin-left: 2px;
        margin-right: 2px;
        color: black;
    }

    .g-icon-group{
        .g-icon{
            margin-left: 0;
            margin-right: 0;
            color: lightgray;
        }
                
        .g-icon:last-of-type{
            color: black;
            margin-left: -5px;
        }

    }

    .wantDosMain {
    
            .tabsCont{
                .myTab {
                    background-color: $light-blue3;
                    
                    &.act{
                        background-color: $orange;
                    }
                }
            }

            .dataCont {
                min-height: 40px;
                padding: 6px 6px 0 6px;

                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                background-color: white;

                .tag {
                     cursor: pointer;
                }
            }

            .selected {
                padding: 6px 6px 0 6px;
                min-height: 40px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                background-color: white;

                .empty{                    
                    padding: 8px;
                    color: gray;
                }
            }
        }

    
    .notifs{
                
        .notif{
            margin-top: 8px;
            
            .notif-body{
                display: table;

                border: 1px solid $orange;
                border-radius: 2px;
                
                .ico{                    
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 40px;
                    color: $orange;
                    padding-right: 8px;
                    padding-left: 8px;
                }
                
                .cont{                    
                    display: table-cell;
                    vertical-align: top;
                    padding-right: 10px;
                }

                .acts{                    
                    display: table-cell;
                    vertical-align: middle;

                    .act-btn{                        
                        margin: 10px;
                        white-space: nowrap;
                        display: inline-block;
                        
                        &.icon-user-check{
                            color: $green;
                            font-size: 26px;
                        }

                        &.icon-cross{
                            color: darkred;
                            font-size: 22px;
                        }

                        .lato{                            
                            font-size: 24px;
                            color: black;
                        }

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .status-row {
        /*border: 1px solid red;*/

        margin-top: 15px;
        margin-bottom: 15px;

        padding-left: 46px;
        position: relative;

        .icon-location{
            font-size: 46px;
            position: absolute;
            left: 0;
            top: 5px;
            color: lightgray;            
        }

        .place{
            .edit{
                position: absolute;
                right: 0;

                font-size: 24px;
                color: $dark-blue;
            }

            .delete{
                position: absolute;
                right: 28px;

                font-size: 24px;
                color: $dark-blue;
            }
        }

        .data{
            .item {
                display: inline-block;

                .name{
                    display: inline-block;
                    font-weight: bold;
                }

                .cont{
                    display: inline-block;
                }
            }

            
        }
    }

    .checkin-row{
        padding: 16px;
        
        .now-checkin-btn{
            font-size: 28px;
            color: lightgray;
            text-decoration: none;

            .lato{
                color: $light-blue2;
                font-size: 24px;
                text-decoration: underline !important;
            }

            &:hover{
                color: $dark-blue;
                
                .lato{
                    line-height: 28px;
                    color: $dark-blue;
                    text-decoration: none;
                }
            }
        }

    }

    .main-menu{        
        margin-top: 10px;

        .tbl {
            display: table;
            width: 100%;
            div{
                display: table-cell;
                text-align: center;
                width: 50%;
                background-color: $light-blue;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                color: white;

                &:first-of-type{
                    border-top-left-radius: 4px;
                }
                &:last-of-type{
                    border-top-right-radius: 4px;
                }
            }

            
        }

        .active{
            background-color: $dark-blue !important;
        }
    }

    .no-location-perm{
        background-color: $yellow;
        font-size: 0.8em;
        padding: 4px;
    }

    .checkin-win {
        position: relative;
        background-color: $light-gray;
        border: 1px solid $light-blue3;
        border-radius: 4px;

        padding: 8px;

        textarea {
            resize: none;
            border: 0;
        }

        .multi{
            white-space: nowrap;
        }

        .dropdown { 
            
            .selected {
                border: 0 !important;            
                color: black !important;
                
            }
        }

        .title{
            font-weight: bold;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .confirm{
            background-color: $light-blue3;
            color: white;
            /*margin: 8px;*/
            display: inline-block;
        }

        .cancel{
            position: absolute;
            right: 5px;
            top: 5px;

            &:hover{
                color: darkred;
            }
        }

        .double-tbl{
            width: 100%;
            display: table;
            .cell{
                display: table-cell;
                width: 50%;
            }
        }

        @include below-width(620){            
            .double-tbl{
                
                display: block;
                .cell{
                    display: block;
                    width: 100%;
                }
            }
        }
    }


    .map {
        width: 100%;        
        height: 500px;

        .entities-filter{
            background-color: white;

            border: 1px solid $light-blue3;
            border-radius: 4px;
            padding: 6px;
            z-index: 99999;

            position: absolute;
            top: 10px;
            right: 10px;

            @include below-width(479){   
                top: 60px;
            }

            label{
                font-weight: 600;
            }

        }
    }

    .mp-popup{
        display: table;
        width: 300px;

        .photo-frame{
            display: table-cell;
            vertical-align: top;

            img{
                border-radius: 4px;
            }
        }

        .txt{
            display: table-cell;
            vertical-align: top;
            padding-left: 4px;

            .name {
                font-weight: bold;
                color: black;
                font-size: 1.2em;
            }
            .cats {
                span {
                    font-weight: bold;
                }
            }
            .people-met {

            }

        }
    }

    .user-popup{

        .line{
            margin-top: 3px;
            margin-bottom: 3px;

            .title{
                font-weight: bold;
            }
        }

        .top{
            display: table;

            .left{
                display: table-cell;
                vertical-align: top;

                .photo{
                    width: 60px;
                    height: 60px;
                    border-radius: 4px;
                    overflow: hidden;
                }

            }
            .right{
                display: table-cell;
                vertical-align: top;

                padding-left: 4px;

                .flag {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .checkin{

        }

        .msg{
            border-top: 1px dotted gray;
        }
    }

    .filter-menu{
        

        .checkbox-all{
            display: inline-block;
            margin: 5px;
            cursor: pointer;

            .checker-all{
                display: inline-block;
                vertical-align: top;
                padding: 2px;
                position: relative;
                border: 1px solid gray;
                border-radius: 4px;

                .checker{                    
                    font-size: 37px;                    
                }

                .icon-checkmark{
                    color: $green;
                }
                .icon-checkmark2{
                    color: $orange;
                }
            }

            .label{
                display: inline-block;
                vertical-align: top;
                line-height: 37px;
                font-size: 1.2em;
            }
        }
    }

    .filter {
        background-color: $light-gray;
        padding: 6px 10px 6px 10px;
        border-radius: 4px;

        .title{
            font-weight: bold;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .split{
            font-size: 30px;
        }

        .langs-filter{
            background-color: white;
            padding: 6px 6px 0 6px;
            border-radius: 4px;
        }
    }

    .results{

        .title{
            font-size: 24px;
            font-weight: bold;
            padding: 8px;
        }

        .tbl{
            display: table;
            width: 100%;
        }

        .meeting-points{            
            display: table-cell;
            width: 29%;            
            
            .no-mp-all {
                display: table;
                width: 100%;
                margin-bottom: 10px;

                .img{                                    
                    display: table-cell;
                    vertical-align: top;

                    background:url("/images/n/no-meeting-points.svg");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 150px;
                    height: 150px;
                    opacity: 0.8;
                }
                .txt{
                    display: table-cell;
                    vertical-align: middle;

                    max-width: 400px;

                    padding-left: 16px;
                    font-size: 28px;
                    color: gray;
                }
            }

            .meeting-point{
                position: relative;
                padding-left: 67px;
                padding-right: 75px;
                margin: 10px;

                min-height: 70px;                
                border-bottom: 1px dotted slategray;

                &:last-of-type {
                    border-bottom: 0;
                }

                .photo-cont {
                    
                    position: absolute;
                    left: 0;
                    top: 0;

                    .photo{                        
                        width: 60px;
                        height: 60px;
                        border-radius: 2px;
                    }
                } 
                
                .cont {
                    
                    .people-met{
                        font-size: 14px;
                    }
                } 
                
                .btn-cont {
                    
                    position: absolute;
                    right: 0;
                    top: 5px;

                    
                    a{
                        text-align: center;
                        display: inline-block;
                            
                        text-decoration: none;
                        background-color: $light-blue;
                        border-radius: 4px;
                        padding: 5px;
                        color: white;
                        font-size: 16px;
                            
                        .icon-bubbles2{
                            font-size: 24px;
                        }

                        &:hover{
                            color: $dark-blue;
                        }
                    }
                }
            }

        }

        .people{
            
            display: table-cell;            
            width: 68%;

            .no-people-all {
                display: table;
                width: 100%;
                margin-bottom: 10px;

                .img{                                    
                    display: table-cell;
                    vertical-align: top;

                    background:url("/images/n/no-people.svg");
                    background-repeat: no-repeat;
                    
                    background-size: 100%;
                    width: 150px;
                    height: 150px;
                    opacity: 0.8;
                }
                .txt{
                    display: table-cell;
                    vertical-align: middle;

                    max-width: 400px;

                    padding-left: 16px;
                    font-size: 28px;
                    color: gray;
                }
            }

            .person{
                position:relative;
                
                margin: 10px;
                padding:7px;

                background-color: $light-gray;
                border-radius: 4px;

                .data{
                    display: table;
                    width: 100%;

                    .photo-cont{                        
                       display: table-cell;
                       vertical-align: top;
                       width: 70px;
                       height: 70px;
                       
                    
                       .photo-all{
                           position: relative;
                           width: 60px;
                           height: 60px;

                           .photo{                               
                                /*border: 1px solid black;*/
                                border-radius: 2px;
                           }

                           .c-flag{
                                position: absolute;
                                top: -11px;
                                right: -11px;

                                width: 22px;
                                height: 22px;                            
                            }

                           .c-flag-other{
                                position: absolute;
                                top: -11px;
                                right: 7px;

                                width: 22px;
                                height: 22px;                            
                            }
                       }
                       
                    }

                    .cont{                        
                        display: table-cell;
                        vertical-align: top;

                        .first{
                            .flag{
                                width: 18px;
                                height: 18px;
                            }
                        }  
                    }

                    .btn-cont{                        
                        display: table-cell;
                        vertical-align: top;
                        width: 120px;

                         .chat-btn{
                            text-align: center;
                            display: inline-block;
                            
                            text-decoration: none;
                            background-color: $light-blue;
                            border-radius: 4px;
                            padding: 5px;
                            color: white;
                            
                            .icon-bubbles2{
                                font-size: 24px;
                            }

                            &:hover{
                                color: $dark-blue;
                            }
                        }
                    }
                }

                .message-all{
                    .pointer{
                        /*display: inline-block;*/
                        border-bottom:  10px solid white;
                        border-right:  10px solid transparent;
                        border-left:  10px solid transparent;
                        border-top:  0;

                        height: 0;
                        width: 0;
                        margin-left: 20px;

                        /*position: absolute;
                        top: 0;
                        left: -10px;
                        height: 0;
                        width: 0;
                        border-bottom: 10px solid transparent;
                        border-right: 10px solid #e8e8e8;
                        border-top: 10px solid transparent;
                        content: "";*/
                    }

                    .message{
                        background-color: white;
                        border-radius: 15px;
                        padding: 15px;

                    }
                }

                

                
            }
        }

        @include below-width(959){
            .meeting-points{
                display: block;
                width: 100%;
            }
            .people{
                display: block;
                width: 100%;
                
            }
        }
    }

    .nchat-all{
        $border-color: gray;

        border: 1px solid $border-color;
        position: fixed;
        bottom:0;
        left: calc(50% - 320px);
        
        width: 640px;

        @include below-width(640){
            left: 0;            
            width: 100%;                        
        }

        background-color: white;

        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        z-index: 99999;

        .tbl{
            display: table;
            width: 100%;
        }

        .service{
            position: relative;
            height: 24px;
            background-color: $dark-blue;
            text-align: right;
            padding-right: 8px;
            color: white;

            .chat-with{
                position: absolute;
                    left: 5px;

                .name{
                    
                }
            }

            .min{
                display: inline-block;
                vertical-align: top;

                line-height: 24px;

                font-size: 14px;
                font-weight: bold;
                color: white;

                &:hover{
                    color: $light-blue;
                }
            }
        }

        .people{            
            border-bottom: 1px solid $border-color;

            .person{
                display: inline-block;
                
                background-color: $light-blue4;
                border-radius: 4px;
                
                margin-top: 4px;                
                margin-left: 4px;

                .wrap{
                    padding-left: 4px;
                    padding-top: 4px;
                    padding-right: 4px;
                    display: table;
                }

                .photo-cont{
                    display: table-cell;
                    vertical-align: middle;
                    
                    .thumb-cont{                        
                        box-sizing: border-box;
                        width: 40px;
                        height: 40px;  

                        img{
                            width: 40px;
                            height: 40px;                            
                        }
                    }
                }
                
                .name-cont{
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 4px;
                    padding-right: 4px;

                    .name-active{
                    
                        font-weight: bold;

                        &:hover{
                            color: $dark-blue;
                        }
                    }

                    .name{                                                                        
                        font-weight: bold;
                    }
                }   

                .icon-cont{
                    display: table-cell;
                    vertical-align: middle;

                    position: relative;

                    .actions{                                 
                        font-size: 32px;
                        color: $dark-blue;

                        &:hover{
                            color: darkred;
                        }
                    }

                    .actions-cont{
                        position: absolute;
                        right: 5px;
                        top: 30px;

                        width: 200px;
                        border: 1px solid $border-color;
                        border-radius: 4px;

                        background-color: white;

                        .row{
                            border-bottom: 1px solid $border-color;
                            padding: 5px;
                        }
                    }

                    .stop{                           
                        font-size: 16px;
                        color: $dark-blue;

                        &:hover{
                            color: darkred;
                        }
                    }
                }

                @include below-width(640){
                    .photo-cont{
                    
                        .thumb-cont{                        
                 
                            width: 26px;
                            height: 26px;  

                            img{
                                width: 26px;
                                height: 26px;                            
                            }
                        }
                    }
                }

                

                

            
            }
        }
        

        .messages{
            height: 240px;            
            overflow-y:scroll;
            border-bottom: 1px solid $border-color;

            .message{
                margin-top: 4px;

                .data{
                    font-size: 16px;
                    padding-left: 5px;
                    padding-right: 5px;

                    &.l{
                        text-align: left;
                    }

                    &.r{
                        text-align: right;
                    }

                    .name{
                        font-weight: bold;
                    }

                    .time{
                        color: dimgray;
                    }
                }

                .padding-r{
                    padding-right: 35px;
                }

                .padding-l{
                    padding-left: 35px;
                }

                .photo{
                    display: table-cell;
                    padding: 3px;
                    vertical-align: top;
                    width: 32px;
                }

                .txt{
                    
                    display: table-cell;                    
                    vertical-align: top;
                    
                    &.r{
                        text-align: right;
                    }

                    .msg{
                        display: inline-block;
                        background-color: $light-gray;
                        border-radius: 6px;
                        padding: 4px;
                        font-size: 16px;
                    }
                    
                }
            }
        }

        .new-message{

            input{
                width: 100%;
                box-sizing: border-box;
                font-size: 16px;
            }


            /*.txt{
                display: table-cell;
                vertical-align: top;
                height: 60px;

                textarea{
                    resize: none;                    
                    height: 60px;
                    border-radius:0;
                }
            }

            .btn{
                display: table-cell;
                vertical-align: top;
                height: 60px;
                width: 60px;

                a{
                height: 50px;
                width: 50px;    
                    display: inline-block;
                    padding: 5px;
                    text-decoration: none;
                    text-align: center;
                    color: white;
                    background-color: $light-blue;
                }
            }*/
        }
    }




    




    #searchCity {
        z-index: 99999;
        position: absolute;
        top: 10px;
        left: 40px;
    }

    #theCont {
        overflow-y: scroll;
    }

    #theCont .items {
        height: 340px;
    }

    #theCont .mgmt {
        height: 30px;
        border-top: 1px solid black;
        font-size: 20px;
    }

     .myTabs {
         width: 100%;         
     }

    .myTab {
        border: 1px solid white;      
        background-color: #57c1db;
        color: white;        
        display: inline-block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer; cursor: hand;
        padding-top: 14px;
    }

    .myTab.act {
        background-color: red;
    }

    .mainCont {    
        width: 100%;
        height: 370px;
        margin-bottom: 30px;
        border-bottom: 2px solid black;
    }

    .tabBlock {        
        width: 49%;
        height: 350px;
        float: left;
    }

    .listCont {
        border: 1px solid black;
    }
     
}