
.trip-root {

    

    .setting-wrap{
        display: inline-block;
        position: relative;
    }

    .setting{        
        font-size: 32px;
        color: $yellow;
        cursor: pointer;
        
        &:hover{
            color: $orange;
        }
    }

    .trip-menu{
        position: absolute;
        top: 25px;
        right: 5px;
        /*display: inline-block;*/
        padding: 0;
        z-index: 10;

        font-size: 0.9em;

        list-style: none;
        text-align: left;

        border-radius: 4px;
        border: 1px solid gray;
        background-color: rgba(black, 0.5);

        li{
            border-bottom: 1px solid lightgray;
            padding: 5px;

            a{
                color: $light-blue3;
                text-decoration: none;
                font-size: 18px;
                white-space: nowrap;

                .lato{
                    color: white;
                }

                &:hover{
                    .lato{
                        color: $light-blue3;
                    }
                }
            }

            &:last-of-type{
                border-bottom: 0;
            }
        }
    }

    .blue-holder-all{
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: right;

        .blue-holder{
            display: inline-block;
            background-color: #f0fafc;
            border-radius: 4px;
            padding: 8px;
            margin-right: 8px;

            a{
                display: inline-block;
                text-decoration: none;
                font-size: 34px;
                color: $light-blue2;
                margin: 0;
                padding: 4px;

                &:hover{
                    color: $dark-blue;
                }

                &.active{
                    border: 1px solid $light-blue2;
                    border-radius: 4px;
                
                }

                &:first-of-type{
                    margin-right: 6px;
                }
            }

        }

    }

    .trips-table{
        display: table;
        width: 100%;
        text-align: left;
        margin-bottom: 30px;

        .row{
            display: table-row;
            

            .cell{
                display: table-cell;
                vertical-align: middle;
                padding: 8px;

                border-bottom: 1px solid $light-blue2;
            }

            .date-cell {
                min-width: 120px;
            }

        }

        .headers {
            font-weight: bold;
        }

        .photo{
            display: inline-block;
            border-radius: 4px;
            overflow: hidden;
            width: 70px;
            height: 70px;

            img{
                display: inline-block;
                margin: 0;
            }
        }

        .you{
            border: 1px solid $orange;
            padding: 6px;
            border-radius: 4px;
            color: $orange;
        }

        .btn-create{
            color: white;
            background-color: $green;
            font-weight: bold;

            &:hover {
                background-color: $orange;
            }
        }

        .service-row{

            textarea{                    
                resize: none;
            }

            .plus-ico-all{
                display: inline-block;
                padding: 15px;
                
                background-color: $light-blue2;
                border-radius: 4px;
                
               
                .icon-plus{
                    display: inline-block;                    
                    font-size: 40px;
                    color: white;
                    vertical-align: top;
                }
            }
        }
    }

    @include below-width(650) {
        .photo-cell {
            display: none !important;
        }

        .cell {
            padding: 2px !important;            
        }
        
    }

    .title {
            font-weight: bold;
            font-size: 1.3em;
            text-align: left;
            padding-top: 1em;
            padding-bottom: 1em;
        }

    .trips-big{
        
        

        .cont {
            text-align: left;

            @include below-width(641) {
                text-align: center;
            }
            /*@include above-width(650) {
                @include display-flex;
                flex-flow: wrap;
                justify-content: space-between;
            }*/
        }

        .trip-new{
            display: inline-block;
            position: relative;
            width: 300px;
            height: 370px;
            border-radius: 4px;
            overflow: hidden;

            margin-bottom: 15px;
            
            background-color: #cdedf4;

            textarea{
                background-color: #cdedf4;
                resize: none;
                width: 280px;
                height: 150px;
                border-bottom: 1px solid white;
                margin-right: 8px;
                margin-left: 8px;
                box-sizing:border-box;
            }

            .create{
                display: inline-block;
                text-decoration: none;
                position: absolute;
                bottom: 5px;
                right: 7px;
                vertical-align: middle;
                line-height: 40px;
                font-size: 22px;
                padding-right: 34px;

                .icon-plus{
                    display: inline-block;                    
                    font-size: 26px;
                    position: absolute;
                    right: 0;
                    top:8px;
                }
            }
        }

        .trip-all{
            margin-right: 4px;

            @include above-width(1280) {
                margin-right: 15px;
            }

            &:last-of-type {
                margin-right: 0;
            }

            position: relative;
            display: inline-block;
            width: 300px;
            height: 370px;
            border-radius: 4px;
            overflow: hidden;
            
            margin-bottom: 15px;
            

            &:last-of-type {
                margin-right: 0;
            }

            img{
                position: absolute;
                top: 0;
                left: 0;

            }

            .serv{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                
                color: white;

                padding: 1em;
                
                font-size: 16px;
                
                background: rgba(black, 0.3);
                text-align: left;
            }

            .setting{
                position: absolute;
                top: 5px;
                right: 5px;                
            }

            .title {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;

                padding: 0.8em;
                
                font-size: 1.1em;
                font-weight: bold;
                color: white;
                text-align: left;

                background-color: rgba(black, 0.5);

            }

            

        }
    }

}