
$light-gray: #f2f2f2;

.stars {
    .star{        
        display:inline-block;
        font-size: 30px;
        
        .active {
            color: $yellow;
        }

        .inactive {
            color: lightgray;
        }

        .icon-star-left {
            float: left;
        }
        .icon-star-right {
            margin-left: -0.4px;
            float: right;
        }
    }
}

.wiki {

    h1{
        text-align: center;
    }

    .search {
        
        input {            
            border:0;
        }

        li{
            min-width: 320px;

            a {
                display: inline-block;                
            }

            .stars {
                position: absolute;
                right: 5px;
                display: inline-block;                
                .star{
                    font-size: 18px;
                }
            }
        }
    }

    .wiki_header_all {
        height: 450px;
        position: relative;
        text-align: center;

        .wiki_header{
            border-bottom: 2px solid $dark-blue;
    
            height: 450px;
            overflow: hidden;
            position: relative;

            .bck {            
                width: 1920px;
                height: 450px;

                text-align: center;

                @include centerer;

                background-image: url("/images/n/nyc1.jpg");   
            
                .search_all{                
                    display: inline-block;
                    position: relative;
                    height: 450px;
                    width: 600px;
                
                    .circle-bck{
                        height: 450px;
                        width: 600px;
                        position: relative;
                        background: url("/images/n/middle-circle.svg");
                        opacity: 0.7;
                    }
                }         
            }

             
        }

        .cont{            
            display: inline-block;
            position: absolute;
            top: 0;
            min-width: 320px;
            max-width: 400px;
            height: 450px;
            transform: translateX(-50%);

            h1 {                
                color: white;
                font-weight: 500;
                margin-top: 80px;
            }
        }

        @include below-width(700) {
                .circle-bck {
                    display: none;
                }

                .cont{
                    display: block;

                    top: 80px;

                    min-width: initial;
                    max-width: initial;
                    transform: initial;

                    background-color: rgba($light-blue3, 0.7);

                    height: initial;

                    padding-top: 20px;
                    padding-bottom: 20px;

                    h1 {
                        margin-top: 0;
                    }
                }

            }   

    }

    .wiki_info{    
        background-color: $dark-blue;
 
        .bl{
            margin-right: 30px;

            @include below-width(803){
                margin-right: 0;        
            }
        }

        .br{
            margin-left: 30px;

            @include below-width(803){     
                margin-left: 0;
            }
        }

        .block { 
            display: inline-block;
            vertical-align: top;
            padding-top: 50px;
            max-width: 360px;
            min-width: 320px;
            /*border: 1px solid red;*/

            .ico {
                width: 180px;
                height: 180px;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 35px;
            }
            .title {
                color: $yellow2;            
            }
            .text {            
                color: white;
                height: 170px;
            }
            .btn {            
                height: 50px;

                .lbtn {
                    color: $light-blue3;
                    background-color: $yellow2;
                }
            }
        }
    }

    
    .all-articles {
        padding-left: 6px;
        padding-right: 6px;
    }



    .wiki_article_wide{  
    
        .photo {
            height: 450px;
            overflow: hidden;
            position: relative;
            border-radius: 2px;

            .bck{
            
                width: 1280px;
                height: 450px;

                @include centerer;

                /*background-image: url("/images/n/wiki_wide.jpg");*/            
            }
        }

        .service {                
                position: relative;
                height: 20px;
                
                .title {                    
                    position: absolute;
                    left: 0;

                    a {
                        color: $light-blue3;
                        vertical-align: top;

                        h2{
                            font-weight: 500;
                            font-size: 28px;
                            margin-top: 0;
                            margin-bottom: 0;
                        }                        
                    }
                }

                .stars{                    
                    position: absolute;
                    right: 0;
                    top: 5px;
                     
                     .star{        
                        font-size: 26px;
                     }
                }
            }

        .txt{                        
            padding-left: 0;
            padding-right: 0;
            margin-top: 0.7em;
            margin-bottom: 1em;
            text-align: left;

        }
    
    }

    .wiki_articles{
        
        > :nth-child(odd){
            margin-right: 10px;
            @include below-width(1280){
                margin-right: 0;
            }
        }
    
        .article{                    
            display:inline-block;
            vertical-align: top;
            max-width: 626px;
            margin-bottom: 20px;
            /*height: 416px;*/

            .photo{
            
                img {
                    max-width: 626px;

                    border-radius: 2px;

                    @include below-width(626){
                        max-width: 100%;
                    }
                }
            }

            .service {                
                position: relative;
                height: 20px;
                
                .title {                    
                    position: absolute;
                    left: 0;

                    a {
                        color: $light-blue3;
                        vertical-align: top;

                        h2{
                            font-weight: 500;
                            font-size: 24px;
                            margin-top: 0;
                            margin-bottom: 0;
                        }                        
                    }
                }

                .stars{                    
                    position: absolute;
                    right: 0;
                     
                     .star{        
                        font-size: 26px;
                     }
                }
            }

            /*.rate {
                display:inline-block;
                vertical-align: top;
            }*/

            .txt{
                text-align: left;

                    height: 100px;                    
                    overflow: hidden;
                    padding-left: 0;
                    padding-right: 0;
                    margin-top: 0.7em;
                    margin-bottom: 0.3em;
                }

            .more{
                text-align: left;
                
                a {
                    color: $light-blue3;
                }
            }
        }
    }

    .counties {

        h2{
            font-weight: 500;
        }

        background-color: $light-gray;
        padding-bottom: 20px;
        padding-top: 20px;

        .block {
            display: inline-block;
            vertical-align: top;
            width: 250px;
            margin-top: 30px;

            .item{
                a {
                    color: $light-blue3;
                }
            }
        }        
    }
}