
$light-gray: #f2f2f2;

.stars {
    .star {
        display: inline-block;
        font-size: 30px;

        .active {
            color: $yellow;
        }

        .inactive {
            color: lightgray;
        }

        .icon-star-left {
            float: left;
        }

        .icon-star-right {
            margin-left: -0.4px;
            float: right;
        }
    }
}

.wiki {

    $bck-display-width: 800;

    .wiki-search-header {
        position: relative;
        height: 350px;
        border-bottom: 4px solid $dark-blue;

        .picture-cont {
            position: relative;
            overflow: hidden;
            background-color: $light-blue3;
            height: 350px;

            @include below-width($bck-display-width) {

                .picture {
                    display: none;
                }
            }

            @include above-width($bck-display-width) {
                .picture {
                    background-image: url("/images/n/nyc2.jpg");
                    width: 1920px;
                    height: 350px;

                    @include centerer;
                }
            }

            @include above-width($bck-display-width) {

                .background-circle {
                    background-color: rgba($light-blue3, 0.6);
                    border-radius: 50%;
                    height: 600px;
                    width: 600px;

                    @include centerer;
                }
            }
        }

        .title-block {
            /*position: absolute;*/
            @include centerer;
            top: 3em;
            color: white;
            width: 100%;

            h1 {
                padding: 0;
                margin: 0;
                font-weight: 400;
                display: inline-block;
            }
        }

        .search {
            @include centerer;
            font-size: 1.1em;

            .icon-logo-pin {
                font-size: 1.1em;
                position: absolute;
                top: 0.6em;
                left: 0.5em;
                color: $orange;
                z-index: 2;
            }

            input {
                width: 300px;
                padding: 0.6em;
                padding-left: 1.6em;
                padding-right: 1.3em;
                border: 0;
            }

            ul {
                top: 2.3em;

                li {
                    min-width: 320px;

                    a {
                        display: inline-block;
                    }

                    .stars {
                        position: absolute;
                        right: 5px;
                        display: inline-block;

                        .star {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }


    .wiki-info-all {
        background-color: $dark-blue;
        position: relative;

        .wiki-info-btn-cont {
            display: none;

            padding .more-btn {
                padding-left: 1.5em;
                padding-right: 1.5em;
            }
        }

        .close {
            display: inline-block;
            color: $yellow;
            position: absolute;
            right: 1em;
            top: 1em;
            font-size: 1.2em;
            cursor: pointer;

            &:hover {
                color: $red;
            }
        }

        .wiki-info {
            .bl {
                margin-right: 30px;

                @include below-width(803) {
                    margin-right: 0;
                }
            }

            .br {
                margin-left: 30px;

                @include below-width(803) {
                    margin-left: 0;
                }
            }

            .block {
                display: inline-block;
                vertical-align: top;
                padding-top: 50px;
                max-width: 360px;
                min-width: 320px;
                /*border: 1px solid red;*/
                .ico {
                    width: 180px;
                    height: 180px;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 35px;
                }

                .title {
                    color: $yellow2;
                }

                .text {
                    color: white;
                    height: 170px;
                }

                .btn {
                    height: 50px;

                    .lbtn {
                        color: $light-blue3;
                        background-color: $yellow2;
                    }
                }
            }
        }

        &.collapsed {

            .wiki-info-btn-cont {
                display: block;
            }

            .wiki-info {
                display: none;
            }

            .close {
                display: none;
            }
        }
    }

    .wiki-articles-all {
        background-color: $dark-blue;
        padding-top: 1em;

        .wiki-articles {
            padding-top: 1em;
            padding: 1em;
            color: white;

            .tbl {
                display: table;
                width: 100%;

                .i {
                    vertical-align: top;
                    display: table-cell;
                    width: 33%;
                }

                @include below-width(900) {
                    .i {
                        width: 50%;
                    }

                    .r {
                        display: none;
                    }
                }
            }

            .article {

                .all-link {
                    text-decoration: none;
                    color: white;
                }

                display: inline-block;
                vertical-align: top;
                margin-left: 0.5em;
                margin-right: 0.5em;

                .title {
                    padding: 0;
                    padding-bottom: 0.3em;
                    margin: 0;
                    text-align: left;
                    font-weight: 400;
                    font-size: 1.6em;                    
                }

                img {
                    width: 100%;
                    border: 1px solid $light-blue;
                    border-radius: 2px;
                }

                .txt-cont {
                    height: 160px;
                    position: relative;
                    overflow: hidden;

                    .txt {
                    }

                    .shadow {
                        position: absolute;
                        top: 60px;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 999999;
                        background: linear-gradient(transparent, $dark-blue);
                    }
                }


                .txt {
                    text-align: left;
                    font-size: 0.9em;
                }
            }
        }
    }

    .wiki-stats-all {
        padding: 1em;

        .block-title {
            color: $dark-blue;
        }

        .tbl {
            display: table;
            width: 100%;

            .i {
                vertical-align: top;
                display: table-cell;
                width: 50%;
            }

            .r {
                vertical-align: middle;
            }
        }

        .example {
            text-decoration: none;

            .title {
                padding: 0;
                margin: 0;
                text-align: left;
            }

            img {
                width: 100%;
                border-radius: 6px;
            }
        }

        .links {
            font-size: 1.2em;
            padding-left: 1em;

            a {
                display: block;
            }

            @include below-width(700) {
                font-size: 1.1em;
                text-align: left;
            }
        }

        .btn-cont {
            padding-top: 2em;
        }
    }


    .wiki-quiz-all {
        background-color: $very-light-blue;
        padding: 1em;
        border-radius: 6px;
        margin-bottom: 1em;

        .block-title {
            color: $light-blue2;
        }

        .tbl {
            display: table;
            width: 100%;
            margin-top: 1em;

            .i {
                vertical-align: middle;
                display: table-cell;
            }

            .l {
                width: 250px;
            }

            .r {
                padding: 1em;
            }
        }

        /*img {
            border-radius: 50%;
            width: 250px;
            height: 250px;
        }*/

        .current-quiz {
            text-decoration: none;

            .txt {
                font-size: 2em;
                font-weight: bold;
                color: $light-blue2;
                margin-bottom: 0.7em;
                vertical-align: middle;
            }

            .btn-start-quiz {
            }

             @include below-width(600) {
                .txt {
                    font-size: 1.3em;
                }
            }
        }

        .quiz-pic {
            width: 250px;
            height: 250px;
            border-radius: 100%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            background-color: $light-blue3;

            .question-mark {
                font-size: 10em;
                color: $dark-blue;
            }

        }
    }

    .counties {

        h2 {
            font-weight: 500;
        }

        background-color: $light-gray;
        padding-bottom: 20px;
        padding-top: 20px;

        .block {
            display: inline-block;
            vertical-align: top;
            width: 250px;
            margin-top: 30px;

            .item {
                a {
                    color: $light-blue3;
                }
            }
        }
    }
}
