
$buttons-active: darkred;

.wiki-page {

    h1 {
        font-size: 1.4em;
    }

    @include below-width(479){
        .title-white{
            display: none;
        }
    }

    .titlePhoto{
        position: relative;
        
        
        img {
            width: 100%;
            margin: 0;
            border-radius: 4px;
        }
        
        .h-cont{
            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;

            background-image: -webkit-linear-gradient(rgba(0,0,0,.4),transparent);
                background-image: linear-gradient(rgba(0,0,0,.4),transparent);

            h1{
            
            /*left: 10px;
            top: 10px;*/
            color: white;
            padding:0;
            margin:0;
            margin-left: 10px;

            
            }
        }

        

        
    }

    .empty-block{
        border: 3px dotted lightgray;
        border-radius: 4px;
        padding: 16px;
        margin-right: 8px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        
        &.noborder{
            border: 0;
        }

        & > div{
            display: inline-block;
            vertical-align: top;
        }

        .txt{
            text-decoration: line-through;
            font-size: 60px;
            color: gray;
            margin-right: 15px;
        }

        .msg{
            /*line-height: 78px;*/
        }

    }

    .admin-block-edit{
        textarea {
            width: 100%;
            height: 150px;
            border: 1px solid $light-blue3;
            border-radius: 4px;
            margin: 8px;
            font-family: $font-ptsans;
            font-size: 18px;
        }
    }

    .admin-input {
        border: 1px solid $light-blue3;
    }

    .article_rating{
        width: 155px;
        height: 41px;
        color: $light-blue3;
        display: table;
        border: 1px solid $light-blue3;
        border-radius: 2px;
        position: relative;

        .active{
            color: $buttons-active !important;
        }
        .green{
            color: darkgreen;
        }
        .blue{
            color: $light-blue3;
        }

        .plus{
            color: darkgreen;
        }
        .minus{
            color: darkred;
        }

        
        .wrap{                
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            
            .frame{            
                display: inline-block;
                text-align: center;
                width: 40px;
                height: 32px;
                border-left: 1px solid $light-blue3;

                a{                                
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    font-size: 21px;       
                    text-decoration: none;   
                    color: $light-blue3;      
                }

                .score{
                    display: inline-block;
                }

                a:hover{
                    color: $dark-blue;
                }

                .icon-edit-pencil{
                    margin-top: 4px;                    
                }

                .icon-dislike {
                    margin-top: 9px;                    
                }

                .icon-like {
                    margin-top: 2px;                    
                }

                .score{                
                    width: 32px;
                    margin-top: 2px;                    
                    font-weight: 600;
                    text-align: center;
                }
            }
        }

        .wrap:first-of-type {
            .frame{
                border: 0;
            }
        }

        .bubble{
            position: absolute;
            top: 42px;
            right: 0;
            border: 1px solid $light-blue3;
            padding: 8px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: white;
            z-index: 9999;

            .title {
                color: black;
            }

            input {
                border: 1px solid $light-blue3;
            }

            .btns{
                margin-top: 10px;

                a {
                   color: white;
                   background-color: $light-blue3;
                }
            }
        }
    
    }

    $color8: #72cf72;
    $color23: #fffae9;
    .tbl {
        border-collapse:collapse;
        border: 1px solid $color8;
        border-radius: 2px;
                
        td, th {
            background-color: white;
            padding: 10px 20px;
            
        }
        th {
            background-color: $color8;
            border: 1px solid $color8;
            color: white;
            font-weight: normal;
            text-align: left;
        }
        tr:nth-child(odd) {
            td {
                background-color: $color23;
            }
        }
        
        .icon-plus,.icon-minus{
            height: 20px;
            width: 20px;
            color: $light-blue3;
            text-decoration: none;
            border: 1px solid $light-blue3;
            border-radius: 2px;
            padding: 5px;            
        }

        .icon-plus:hover,.icon-minus:hover {
            color: $dark-blue;
        }

        .active{
            color: $buttons-active !important;
        }
    }

    text-align: left;

    .breadcrumb {
        
        margin-top: 10px;
        margin-bottom: 10px;

        a {
            text-decoration: none;
            color: $light-blue;
        }
    }

    .langs {
        margin-bottom: 10px;

        a {
            @extend .lbtn;
            line-height: inherit;
            background-color: $light-blue;
            color: white;
        }
    }

    .title-photo {
        img {
            border-radius: 4px;
        }
    }

    .blue-block{
        
        h3 {
            color: #009dc4;
        }

        .about{
            float: left;
            padding-left: 14px;
            margin-right: 20px;
            margin-bottom: 10px;            
            background-color: rgba(87,193,219,.3);
            border-radius: 6px;
            width: 300px;

            table{
                margin-left: 10px;
                width: 100%;

                td:nth-child(even) {
                    text-align: right;                        
                    padding-right: 20px;    
                }
            }
        }

        .article_rating{
            float: right;
        }
    }

    .block-header{
        display: table;
        width: 100%;
        
        .left{
            
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            width: auto;

            h3,h4 {                
                display: inline-block;
                margin: 0;
            }
        }
        .right{            
            display: table-cell;
            text-align: right;            
            width: auto;

            .rating_all{
                display: inline-block;
            }
        }
    }

    .does-donts {
        display: table;
        width: 100%;

        .active{
            color: $buttons-active !important;
        }

        .block{
            display: table-cell;
            max-width: 50%;

            .item{
                
                margin-bottom: 8px;

                .icon-like,.icon-dislike{
                    height: 20px;
                    width: 20px;
                    color: $light-blue3;
                    text-decoration: none;
                    border: 1px solid $light-blue3;
                    border-radius: 2px;
                    padding: 5px;

                }
                .icon-like:hover,.icon-dislike:hover{
                    color: $dark-blue;
                }
            }

            
        }
    }

    .gallery-photos{
        .photo{
            display: inline-block;

            img {
                border-radius: 2px;
            }            
        }

        .recomm-photo{
            .lbtn{
                color: white;
                background-color: $light-blue3;
            }
        }

        .photos-form{
            a {
                color: $light-blue3;
                text-decoration: none;
            }
        }
    }

    .links{
        margin-bottom: 30px;

        .lbtn{
            background-color: $light-blue3;
            color: white;
        }
    }

    

    .favItem {
        border: 1px solid #009DC4; 
        display: inline-block; 
        padding: 2px 6px 2px 6px;
        margin: 4px; 
        border-radius: 5px;

        .cont {
            display: table;

            .cell{
                display: table-cell;                
            }
        }

        .name {
            margin-top: 8px;
            margin-right: 4px;
            display: inline-block;
            vertical-align: top;
            font-weight: 600;
            font-size: 18px;
        }

        img {
            width: 32px;
            height: 32px;
        }

        a {
            margin-top: 4px;
            display: inline-block;
            vertical-align: top;
        }
    }

}