
$font-ptsans: "PT Sans", sans-serif;
$font-lato: "Lato", sans-serif;

$dark-blue: #005476;

$light-blue: #65BDD7;
$light-blue2: #009EC4;
$light-blue3: #3298C1;
$light-blue4: #ccedf5;
$light-blue5: #57c1db;
$light-blue6: #9FD2E3;

$info-blue: #99DBEC;
$info-blue2: #009EC4;

$ribbon-blue: #57C2DB;
$input-margin-blue: #AAE0ED;
$input-color: #9999B1;

$very-light-blue: #F0F8FA;
$very-light-blue2: #D0E7EE;
$very-light-blue3: #F0FAFC;

$green: #3DA33D;
$green3: #3DA243;
$orange: #F56E12;
$yellow: #FFC400;
$yellow2: #F5C519;

$red: #E02327;


$light-gray: #EAEAEA;
$light-gray2: #E8E8E8;
$darker-gray: #BCB3B8;

$trans-white: rgba(255, 255, 255, 0.9);

$tablet-width: 959px;

$brown10: #FCF4BD;
$brown20: #F0C300;
$brown30: #CA8403;
$brown40: #9D6100;

@mixin noselect {

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */

}

@mixin tablet {
    @media screen and (max-width: $tablet-width) {
        @content;
    }
}


@mixin above-width($width) {
    @media screen and (min-width: $width + 'px' ) {
        @content;
    }
}

@mixin below-width($width) {
    @media screen and (max-width: $width + 'px' ) {
        @content;
    }
}



@mixin spin($size) {
    
    $size-half: $size/2;
    $spin: 1s;
    
    position: absolute;
    top: 50%;
    left: 50%;
                
    width: $size;
    height: $size;
    
    margin-top: - $size-half;
    margin-left: - $size-half;

    -webkit-animation:spin $spin linear infinite;
    -moz-animation:spin $spin linear infinite;
    animation:spin $spin linear infinite;
}

@mixin text-justify{
    text-align: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify; /* not implemented yet, and will not be */
    text-align-last: justify; /* IE */
}

@mixin display-flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
body {
    font-family: $font-ptsans;

    /*font-family: helvetica,arial,verdana,sans-serif;*/

    min-width: 480px;    
    margin: 0;
    text-align: center;    
    font-size: 19px;
    font-weight: 400;
}

@include below-width(641) {
    body { font-size: 18px; }
}

@include below-width(481) {
    body { font-size: 17px; }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hidable-hide {
    display: none !important;
}

/*.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}*/

/*.list-state-collapsed {
    .expander {
       
    }
    
    .collapser {
        display: none;
    }
}

.list-state-expanded {
    .expander {
       display: none;
    }
    
    .collapser {
        
    }
}*/

.place-combo {
    position: relative;

    input {
        padding-left: 28px !important;
    }

    .icon-logo-pin {
        display: inline-block;
        color: $input-margin-blue;

        position: absolute;
        font-size: 1.2em;
        top: 10px;
        left: 8px;
    }
}

.air-combo {
    position: relative;

    input {
        padding-left: 32px !important;
    }

    .icon-airplane {
        color: $input-margin-blue;
        display: inline-block;

        position: absolute;
        font-size: 1.1em;
        top: 12px;
        left: 8px;
    }
}

.nowrap {
    white-space: nowrap;
}

.master-cont {
    min-height: 600px;
    position: relative;
}

a {
    color: $light-blue3;
}

.svg-img{         
        -webkit-backface-visibility: hidden;
    }

.lato{
    font-family: $font-lato;
}    


.tab-menu {    
    text-align: left;

    display: table;

    .btn-cont {
        display: table-cell;        
    }

    .btn {
        @include noselect;

        display: inline-block;
        
        margin-left: 20px;
        /*width: 170px;*/
            
        cursor: pointer;

        color: $light-blue2;
        background-color: $very-light-blue3;
            
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;

        &.act, &:hover {
            background-color: $light-blue2;
            color: white;
        }
    }
}

.tagger{
    position: relative;

    input {            
        font-size: 20px !important;      
        padding-left: 33px !important;    
        width: 70px;  
    }

    .icon-search {
        position: absolute;
        top: 9px;
        left: 6px;
        color: gray;
        display: inline-block;
        font-size: 24px;
    }
}

.hidden {
    display: none !important;
}

.disabled {
    filter: grayscale(100%);
    pointer-events: none;
}

.checkbox-all{
    display: inline-block;
    
    cursor: pointer;

    .checker-all{
        display: inline-block;
        vertical-align: middle;
        padding: 2px;
        position: relative;
        /*border: 1px solid gray;*/
        border-radius: 4px;

        .checker{                    
            font-size: 37px;  
            vertical-align: top;
        }

        .icon-checkmark{
            color: $orange;
        }
        .icon-checkmark2{
            color: dimgray;
        }
    }

    .label{
        display: inline-block;
        vertical-align: middle;
        line-height: 1.2em;
        font-size: 1.2em;
    }
}


input[type="text"],input[type="password"],input[type="number"],input[type="date"],input[type="email"],textarea{    
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.6em;
    padding-left: 0.6em;

    border: 0;
    border-radius: 4px;
    font-size: 1em;
    color: $input-color;
    border-color: $input-margin-blue;
}

select {
    border: 1px solid $input-margin-blue;
    border-radius: 2px;
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.6em;
    padding-left: 0.6em;
     
    color: $input-color;
    font-size: 1em;    
    font-weight: bold;
}

input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    margin-right: 0.5em;
}

label {
    vertical-align: middle;
}

input[type="date"] {
    font-family: $font-lato;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  border-color: $input-margin-blue;
  color: $input-color;
}

textarea{
    width: 100%;
    font-family: $font-lato;
    @extend .box-sizing;
    border-color: $input-margin-blue;
    color: $input-color;
}

.lbtn{
    border-style: solid;
    border-width: 0;
    border-radius: 4px; 
    /*font-weight: 700;*/
    height: 20px;
    line-height: 40px;

    margin: 0 5px;
    padding: 9px;

    text-decoration: none;
    cursor: pointer;
    white-space:nowrap;
}

.lbtn2 {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    white-space:nowrap;

    padding: 9px;
    border-radius: 4px;
    @include noselect;
}

 .green-orange {
     background-color: $green;
     color: white;

     &:hover {
         background-color: $orange;
     }
 }

 .red-orange {
     background-color: $red;
     color: white;

     &:hover {
         background-color: $orange;
     }
 }

 .yellow-orange {
     background-color: $yellow;
     color: white;

     &:hover {
         background-color: $orange;
     }
 }

 .yellow-green {
     background-color: $yellow;
     color: white;

     &:hover {
         background-color: $green;
     }
 }

 .bold {
     font-weight: 700;
 }

.form-close {
    position: absolute;
    top: -18px;
    right: -18px;
    font-size: 0.8em;

    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: $light-blue3;

    cursor: pointer;

    &:hover {
        color: $red;
    }
}

@include below-width(1280) {
    .form-close {
        top: 3px;
        right: 2px;        
    }
}

.standard-form {
    position: relative;

    margin-top: 24px;

    .ribbon {
        background-color: $ribbon-blue;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        height: 5px;
    }

    .form-cont-all {
        background-color: $very-light-blue3;
        padding: 16px;

        .form-title {
            font-weight: bold;
            font-size: 1.2em;
        }

        .form-caption {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .form-cont {

            

        }
    }

    @include below-width(560) {
        .form-cont-all {
            padding-left: 6px;
            padding-right: 6px;
        }
    }
}

.thumb-cont{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;

    &.s{
        width: 60px;
        height: 60px;
    }

    &.xs{
        width: 26px;
        height: 26px;
    }

    &.border{
        border: 1px solid black;
    }    
}

.box-sizing{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
}

.wrapper{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    @include below-width(1310) {
        padding-left: 6px;
        padding-right: 6px;
    }
}

@include below-width(1023){

    .menu_all:nth-of-type(2){
        display: none;
    }

}

h1{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    padding: 0;
    margin: 0;
}

 .photo-button{ 
     
     text-decoration: none;
     
     input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

     label {
        @extend .lbtn2;
        color: white;
        background-color: $green;

        cursor: pointer;

        &:hover {
            background-color: $orange;
            border: 0 !important;
            color: white !important;
        }
    }

     &.light {
         label {
             color: $light-blue2;
             background-color: white;
             border: 1px solid $dark-blue;

             &:hover {
                 color: $dark-blue !important;
                 border: 1px solid $dark-blue !important;
             }
         }
     }

     &.yellow {
         label {             
             background-color: $yellow;
         }

         &:hover {                
             label {             
                background-color: $orange;
            }            
        }
     }
 }

 .photo-link{
     input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

     label {        
        color: $light-blue3;        
        cursor: pointer;
    }
 }

  .htbl{
      display: table;
      width: 100%;      

      > div {
          display: table-cell;          
          width: 50%;
      }

      .left{
          text-align: left;          
      }

      .right{       
          text-align: right;
      }

  }


button{
    color: white;
    font-weight: bold;
    background-color: $light-blue3;
    border: none;
    border-radius: 4px;
    padding: 9px 29px;
    text-decoration: none;
    box-shadow:none !important;
    margin: 4px;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

button:active {
    outline: none;
    border: none;
}

.tag{    
    /*margin: 0 6px 6px 0;*/
    padding: 6px 10px;
    
    background-color: $light-blue2;    
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    
    .icon-cross-small{
        margin-left: 10px;
        margin-top: 4px;
        display: inline-block;
        text-decoration: none;
        color: $dark-blue;
        font-size: 0.7em;

        &:hover {
            color: $red;
        }
    }

}

.tleft{
    text-align: left;
}
.tright{
    text-align: right;
}
.tcenter{
    text-align: center;
}

.padding1{
    padding: 4px;    
}

.padding2{
    padding: 8px;    
}

.share-cont {
    text-align: left;

    .icon-holder {
        width: 60px;
        height: 60px;
        position: relative;
        cursor: pointer;
    }

    .icon-visited{
        position: absolute;
        top: -5px;
        right: -5px;
    }
}

.comments{

        .txt-input{
            margin-bottom: 20px;

            .txt{
                display: inline-block;
                vertical-align: top;
                
                width: 80%;
                min-width: 300px;

                textarea{
                
                }
            }

            .btn{
                display: inline-block;
                vertical-align: top;
                
                .lbtn2{
                    color: white;
                    background-color: $light-blue3;

                    &:hover {
                        background-color: $orange;
                    }
                }
            }
        }

        .comment-all{
            .comment{
                display: table;
                margin-bottom: 15px;

                .photo{                    
                    display: table-cell;
                    vertical-align: top;
                    padding-right: 20px;
                }

                .post{                    
                    display: table-cell;
                    vertical-align: top;

                    .author {
                        margin-bottom: 5px;

                        span {
                            color: #b3b3b3;
                        }
                    }

                    .bubble {
                        position: relative;
                        background-color: #e8e8e8;
                        border-radius: 0 4px 4px;
                        display: inline-block;
                        padding: 10px;
                    }

                    .bubble:before {
                        position: absolute;
                        top: 0;
                        left: -10px;
                        height: 0;
                        width: 0;
                        border-bottom: 10px solid transparent;
                        border-right: 10px solid #e8e8e8;
                        border-top: 10px solid transparent;
                        content: "";
                    }
                }

            }
        }
    }

@import "slider";
@import "layout";
@import "popup";
@import "icofonts";
@import "dropdown";
@import "homepage";
@import "pins";
@import "wiki-home";
@import "wiki-page";
@import "notif";
@import "friends";
@import "settings";
@import "registration";
@import "trip-detail";
@import "trip";
@import "trip-share";
@import "travelb-home";
@import "fly-tickets";
@import "message";
@import "image-db";
@import "sp-chat";
@import "calendar";
@import "dashboard";
@import "calendar-page";
@import "articles";
@import "issues";
@import "new-admin";
@import "place-search";
@import "preloaders";
@import "timeline";