@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.ViewModels
@using Microsoft.AspNet.Mvc.Rendering
@using Microsoft.Data.Entity.Metadata.Internal
@using Newtonsoft.Json

@model Gloobster.Portal.ViewModels.MessageViewModel

@{    
    Layout = "_LayoutNew";
    ViewBag.BodyClass = "travelb-message";
}

@Html.Partial("GAnalytics")

<script type="text/javascript" src="@Url.Content("~/js/Views/Message.js")"></script>


<div class="info-block-bck" id="info-travelb">

    <div class="wrapper">

        <div class="title-table">
            <div class="left">
                <a href="/messages">Messages</a> &gt;
                <h1>@Model.OtherUserDisplayName</h1>
            </div>

            <div class="right">

            </div>

        </div>

    </div>
</div>

<div class="wrapper comments">
    

    <div class="txt-input">
        <div class="txt">
            <textarea id="commentInput" class="box-sizing" type="text" placeholder="Your comment..."></textarea>
        </div>
        <div class="btn">
            <a id="commentSubmit" class="lbtn" href="#">Send</a>
        </div>
    </div>

    <div id="msgsCont">

    </div>
</div>


<script id="msgPost-template" type="text/x-handlebars-template">
    
    <div class="comment-all {{#if showUnread}} unread{{/if}}">
        <div class="comment">
            <div class="photo">
                <div class="thumb-cont s border">
                    <img src="/PortalUser/ProfilePicture_s/{{userId}}">
                </div>
            </div>
            <div class="post">
                <div class="author">
                    <a target="_blank" href="/@RoutingConsts.UserDetailMenuName/{{userId}}"><strong>{{name}}</strong></a>
                    <span> • {{dateFormatted}}</span>
                </div>
                <div class="bubble">
                    {{message}}
                </div>
            </div>
        </div>
    </div>
    
</script>

<script>
    function onBodyLoad() {
        var otherUserId = '@Html.Raw(Model.OtherUserId)';
        currentView = new Views.Messages(otherUserId);
    }
</script>