@{		
		ViewBag.MenuGroup = "Friends";
}

<script type="text/javascript" src="@Url.Content("~/js/Views/FriendsView.js")"></script>
<script>
        function onBodyLoad() {
            currentView = new FriendsView();
            currentView.initialize();
        }
</script>

<style>
    .friendDropDown {
        font-size: 12px;
        margin: 0 10px 0 10px;
        width: 150px;        
    }

    .actionButton {
        font-size: 12px;
        width: 150px;
        margin: 0 10px 0 10px;
    }

    .requestButton {
        font-size: 12px;
        width: 150px;
        margin: 0 10px 0 10px;
    }


    #usersTable {
        margin-top: 30px;
        border: 0;
    }

    #usersTable td {
        background-color: white;
    }

    #usersTable h4{
        margin-top: 30px;   
    }


</style>

    <div class="table row col2 margin">
        <div class="cell">
            <div class="table row">
                <div class="cell middle">
                    <h2>Friends</h2>
                </div>
            </div>
        </div>

    </div>

    <div class="blue-form form">
        <div id="friendsSearch" class="dropdown left">
            <input class="inputed" type="text" placeholder="Friend name">
            <ul>
            </ul>
        </div>

    </div>

    <div class="team">
        <table id="usersTable"></table>
    </div>



<script id="friendItem-template" type="text/x-handlebars-template">
    <tr>
        <td>
            <span class="thumbnail">
                <img src="/PortalUser/ProfilePicture_s/{{id}}">
            </span>
        </td>
        <td>
            <span><a href="/PortalUser/Detail/{{id}}">{{name}}</a></span>
        </td>
        <td class="actions">           
        </td>
    </tr>
</script>

<script id="friendMenu-template" type="text/x-handlebars-template">
    <div class="dropdown friendDropDown">
        <span class="selected">Actions</span>
        <ul>
            <li><a class="unfriend" data-fid="{{id}}" href="#">Unfriend</a></li>            
        </ul>
        <input type="hidden">
    </div>
</script>
