@{
		ViewData["Title"] = "Friends";
}

<script type="text/javascript" src="@Url.Content("~/js/Views/FriendsView.js")"></script>

<section class="wrapper margin3">
		<div class="table row col2 margin">
				<div class="cell">
						<div class="table row">
								<div class="cell middle">
										<h2>Friends</h2>
								</div>
					
						</div>
				</div>
	
		</div>

	<form class="blue-form" action="#" method="post">
		<div id="friends" class="dropdown left">
			<input class="inputed" type="text" placeholder="Friend name">
			<ul>
				<li class="disabled">Cities</li>
				<li data-value="New York"><span class="thumbnail"><img src="images/samples/sample11.png"></span>New York<span class="color2">, USA</span></li>
				<li data-value="New Jersey"><span class="thumbnail"><img src="images/samples/sample11.png"></span>New Jersey<span class="color2">, USA</span></li>
				<li data-value="New Dili"><span class="thumbnail"><img src="images/samples/sample11.png"></span>New Dili<span class="color2">, India</span></li>
				<li class="disabled">Cities 2</li>
				<li data-value="New York"><span class="thumbnail"><img src="images/samples/sample11.png"></span>New York2<span class="color2">, USA</span></li>
				<li data-value="New Jersey"><span class="thumbnail"><img src="images/samples/sample11.png"></span>New Jersey2<span class="color2">, USA</span></li>
				<li data-value="New Dili"><span class="thumbnail"><img src="images/samples/sample11.png"></span>New Dili2<span class="color2">, India</span></li>
			</ul>
		</div>

	</form>

	<div class="friendsContainer">
		
	</div>



	<script>
			function onBodyLoad() {

					currentView = new FriendsView();
					currentView.initialize();

			}
	</script>

</section>