<div class="popup" id="popup-confirm">
	<div>
		<h3>Are you ready?</h3>
		<p class="h4 color1">Joes Personal trip Description that he can write and edit anytime. This text would be used as default copy for sharing and for any other off site interaction so be careful. In the future it could.</p>
		<div class="tright">
			<a class="button border" href="#">Cancel</a>
			<a class="button" href="#">OK</a>
		</div>
		<a class="close" href="#">Close</a>
	</div>
</div>

@*<li><a class="popup-target" data-target="#popup-confirm" href="#">Confirm</a></li>*@