<div class="popup2 with-padding-right margin" id="popup-joinSoc" style="display: none;">
    <div class="table width100">
        <div class="cell popcont-holder with-line">
            @*<h3 class="slim">Privacy Settings</h3>
                Set privacy of your trip. In participants menu you can select admins of the trip.*@
            You are running on temporary account. You can work with the app, but if you don't connect with any real account, your data might get lost.
        </div>
        <div class="cell middle">
            <div class="logins">
                <div class="margin">
                    <a id="fbBtnHome" class="facebook" href="#">Facebook</a>
                    <a id="twitterBtnHome" class="twitter" href="#">Twitter</a>
                    <a id="googleBtnHome" class="google" href="#">Google</a>
                </div>
                <span>
                    Or
                    <a class="popup-target" data-target="#popup-join" href="#">Sign Up with email</a>
                    .
                </span>
            </div>


        </div>
    </div>
    <a class="close" href="#">Close</a>
</div>