<footer class="footer">
		<div class="wrapper">
				<ul class="menu-footer table">
						<li><a class="active" href="#">Cheap Flights</a></li>
						<li><a href="#">How It Works</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Sign Up</a></li>
				</ul>
				<div class="widgets table row col4 margin">
						<div class="widget cell">
								<h3>About Gloobster</h3>
								<ul>
										<li><a href="#">Who we are</a></li>
										<li><a href="#">Purpose of Gloobster</a></li>
										<li><a href="#">Office Contacts</a></li>
								</ul>
						</div>
						<div class="widget cell">
								<h3>Gloobster benefits</h3>
								<ul>
										<li><a href="#">Travel planning</a></li>
										<li><a href="#">Trip reports</a></li>
										<li><a href="#">Visited places</a></li>
								</ul>
						</div>
						<div class="widget cell">
								<h3>Partner Relations</h3>
								<ul>
										<li><a href="#">Partner with us</a></li>
										<li><a href="#">API guide</a></li>
										<li><a href="#">Affiliates</a></li>
										<li><a href="#">3D information</a></li>
								</ul>
						</div>
						<div class="widget cell">
								<h3>Contact Us</h3>
								<p>
										+1 408 962-1568<br>
										+420 606 606 698<br>
										<a href="mailto:info@gloobster.com">info@gloobster.com</a>
								</p>
						</div>
				</div>
				<div class="margin2">
						<div class="dropdown">
								<span class="selected">English</span>
								<ul>
										<li>English</li>
										<li>Czech</li>
								</ul>
								<input type="hidden">
						</div>
				</div>
				<div class="copyright">
						<a href="#" class="logo-footer">Gloobster</a> &copy; 2015 <a href="#">Gloobster</a> inc. All rights Reserved.
						<div class="socials">
								Follow us on
								<ul>
										<li><a href="http://facebook.com/">Facebook</a></li>
										<li><a href="http://google.com/">Google</a></li>
										<li><a href="http://linkedin.com/">LinkedIn</a></li>
										<li><a href="http://twitter.com/">Twitter</a></li>
										<li><a href="http://youtube.com/">Youtube</a></li>
								</ul>
						</div>
				</div>
				<a href="#top" class="gotop">Top</a>
		</div>
</footer>