<footer class="footer">
		<div class="wrapper">
				@Html.Partial("_MenuFooter")
				<div class="widgets table row col4 margin">
						<div class="widget cell">
								<h3>About Gloobster</h3>
								<ul>
										<li><a href="/about/Us">Who we are</a></li>										
								</ul>
						</div>
						<div class="widget cell">
								<h3>Legal</h3>
								<ul>
										<li><a href="/legal/PrivacyPolicy">Privacy policy</a></li>
										<li><a href="/legal/TermsAndConds">Terms and conditions</a></li>										
								</ul>
						</div>
						<div class="widget cell">
								<h3>Component's description</h3>
								<ul>
										<li><a href="/about/TravelMap">Travel map</a></li>
										<li><a href="/about/TripOrganizer">Travel organizer</a></li>
										<li><a href="/about/Wiki">Travel Wiki</a></li>										
								</ul>
						</div>
						<div class="widget cell">
								<h3>Contact Us</h3>
								<p>										
										<a href="mailto:mike@gloobster.com">mike@gloobster.com</a>
								</p>
						</div>
				</div>
				<div class="margin2">
				    @Html.Partial("_LangMenu")
				</div>
				<div class="copyright">
						<a href="/" class="logo-footer">Gloobster</a> &copy; 2016 <a href="#">Gloobster.com</a> All rights Reserved.
						<div class="socials">
								Follow us on
								<ul>
										<li><a href="https://www.facebook.com/gloobster">Facebook</a></li>
										@*<li><a href="http://google.com/">Google</a></li>
										<li><a href="http://linkedin.com/">LinkedIn</a></li>
										<li><a href="http://twitter.com/">Twitter</a></li>
										<li><a href="http://youtube.com/">Youtube</a></li>*@
								</ul>
						</div>
				</div>
				<a href="#top" class="gotop">Top</a>
		</div>
</footer>