

<div class="blocks">

    <div class="block">
        <h3>About Gloobster</h3>
        <ul>
            <li><a href="/about/us">Who we are</a></li>
        </ul>
    </div>

    <div class="block">
        <h3>Legal</h3>
        <ul>
            <li><a href="/legal/PrivacyPolicy">Privacy policy</a></li>
            <li><a href="/legal/TermsAndConds">Terms and conditions</a></li>
        </ul>
    </div>

    <div class="block">
        <h3>Component's description</h3>
        <ul>
            <li><a href="/about/TravelMap">Travel map</a></li>
            <li><a href="/about/TripOrganizer">Travel organizer</a></li>
            <li><a href="/about/Wiki">Travel Wiki</a></li>
        </ul>
    </div>

    <div class="block">
        <h3>Contact Us</h3>
        <ul>
            <li><a class="link" href="mailto:mike@gloobster.com">mike@gloobster.com</a></li>
        </ul>
    </div>

</div>

    <div class="socials">
        <span>Follow us on</span><span>   </span>

        <a target="_blank" class="icon-facebook2" href="https://www.facebook.com/gloobster"><span class="lato">     Facebook</span></a>
        
    </div>

@*<li><a href="http://google.com/">Google</a></li>
    <li><a href="http://linkedin.com/">LinkedIn</a></li>
    <li><a href="http://twitter.com/">Twitter</a></li>
    <li><a href="http://youtube.com/">Youtube</a></li>*@


@*<a href="#top" class="gotop">Top</a>*@
