<ul id="menu" class="menu-header table">	
	<li><a id="MenuPinBoard" asp-controller="PinBoard" asp-action="Pins">Pin board</a></li>
    <li><a id="MenuTrip" asp-controller="Trip" asp-action="List">Trips</a></li>
    <li><a id="MenuWiki" asp-controller="Wiki" asp-action="Home">Wiki</a></li>

    <li><a id="MenuPlanning" asp-controller="Destination" asp-action="Planning">Planning</a></li>

    @if ((Model != null) && !Model.IsUserLogged)
    {
        <li><a class="popup-target loginSection" data-target="#popup-login" href="#" style="display: none">Login</a></li>
        <li><a class="popup-target loginSection" data-target="#popup-join" href="#" style="display: none">Join</a></li>
    }
    
</ul>

<script>	
	var name = "@ViewBag.MenuGroup";
	$("#Menu" + name).addClass("active");
</script>


