@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal.ViewModels;
@model ViewModelBase

<ul id="menu" class="menu-header table">	
    <li><a class="MenuPinBoard" asp-controller="PinBoard" asp-action="Pins">@Model.W("MenuPins", "layout")</a></li>
    <li><a class="MenuTrip" asp-controller="Trip" asp-action="List">@Model.W("MenuTrips", "layout")</a></li>
    <li><a class="MenuWiki" asp-controller="Wiki" asp-action="Home">@Model.W("MenuWiki", "layout")</a></li>

    @if (GloobsterConfig.IsLocal)
    {
        <li><a class="Search" asp-controller="Destination" asp-action="Planning">Home2</a></li>
        <li><a class="Search" asp-controller="Destination" asp-action="Chat">SP Chat</a></li>
    }

    @if (!Model.IsUserLogged && !(Model is ViewModelHome))
    {
        <li><a id="MenuRegister" class="strong popup2-target" data-target="#popup-joinSoc" href="#">@Model.W("MenuRegister", "layout")</a></li>
    }
    
</ul>




