@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal
@using Gloobster.Portal.ViewModels;
@model ViewModelBase

<ul id="menu" class="menu-footer table">	
	<li><a class="MenuPinBoard" href="/@RoutingConsts.PinsMenuName">@Model.W("MenuPins", "layout")</a></li>
    <li><a class="MenuTrip" href="/@RoutingConsts.PlannerMenuName/grid">@Model.W("MenuTrips", "layout")</a></li>
    <li><a class="MenuWiki" href="/@RoutingConsts.WikiMenuName">@Model.W("MenuWiki", "layout")</a></li>

</ul>