@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal
@using Gloobster.Portal.ViewModels;
@model ViewModelBase

<div class="menu_all">

    <div class="wrapper menu-wrapper">

        <div class="logo_all">
            <a href="/">
                <img src="/images/n/logo.svg"/>
            </a>
        </div>

        <div class="icons_all">
            <div class="icons">

                <div class="icon">
                    <a class="icon-my-data" href="/@RoutingConsts.UserDetailMenuName"></a>
                </div>

                <div class="icon">
                    <a class="icon-friends" href="/@RoutingConsts.FriendsMenuName"></a>
                </div>

                <div class="icon">
                    <a class="icon-envelope" href="/@RoutingConsts.NotifsMenuName"></a>

                    @if (Model.NotificationCount > 0)
                    {
                        <div class="notif">@Model.NotificationCount</div>
                    }

                </div>

                <div class="icon">
                    <a id="logoutUser" class="icon-logout" href="#"></a>
                </div>

            </div>
        </div>


        <div class="links_all">
            <nav class="links">
                <a href="#">Dashboard</a>

                <a href="/Destination/planning">Fly Tickets</a>

                <a href="/TravelB/home">Travel Buddy</a>

                <a href="/@RoutingConsts.PlannerMenuName/grid">@Model.W("MenuTrips", "layout")</a>

                <a class="MenuPins" href="/@RoutingConsts.PinsMenuName">@Model.W("MenuPins", "layout")</a>

                <a class="MenuWiki" href="/@RoutingConsts.WikiMenuName">@Model.W("MenuWiki", "layout")</a>

            </nav>
        </div>

    </div>
</div>




