@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal
@using Gloobster.Portal.ViewModels;
@model ViewModelBase

<div class="menu_all">

    <div class="logo_all">
        <a href="#">
            <img src="/images/n/logo.svg" />
        </a>
    </div>

    <nav class="links">
        <div>
            <a href="#">Dashboard</a>
        </div>
        <div>
            <a href="#">Fly Tickets</a>
        </div>
        <div>
            <a href="#">Travel Buddy</a>
        </div>
        <div>
            <a href="#">Travel Organizer</a>
        </div>
        <div>
            <a href="#">Travel map</a>
        </div>
        <div>
            <a class="active" href="#">Travel WIKI</a>
        </div>
    </nav>

    <div class="icons_all">
        <div class="icons">

            <a href="#">
                <img src="/images/n/logout.svg" />
            </a>

            <a href="#">
                <img src="/images/n/friends.svg" />
            </a>
            <a href="#">
                <img src="/images/n/globe.svg" />
            </a>

        </div>
    </div>

</div>




