<div id="userMenu" class="dropdown">
    <span class="selected">@Model.PortalUser.DisplayName
    @*, @Model.SocialNetwork*@
    </span>
    @if (Model.NotificationCount > 0)
    {
        <span class="notification">@Model.NotificationCount</span>
    }
    <ul>
        <li><a id="logoutUser" href="#">Logout</a></li>
        <li><a href="/PortalUser/Settings">Settings</a></li>
        <li><a href="/Friends/List">Friends</a></li>
        <li>
            @if (Model.NotificationCount > 0)
            {
                <span class="notification">@Model.NotificationCount</span>
            }
            <a href="/PortalUser/Notifications">Notifications</a>
        </li>
        <li><a href="/WikiAdmin/List">Wiki admin</a></li>
        <li><a href="/wiki/permissions">Wiki permissions</a></li>
    </ul>
    <input type="hidden">
</div>