<div id="userMenu" class="dropdown">
    <span class="selected">@Model.PortalUser.DisplayName, @Model.SocialNetwork</span>
    @if (Model.NotificationCount > 0)
    {
        <span class="notification">@Model.NotificationCount</span>
    }
    <ul>
        <li data-value="logout">Logout</li>
        <li data-value="settings">Settings</li>
        <li data-value="friends">Friends</li>
        <li data-value="notifications">
            Notifications
            @if (Model.NotificationCount > 0)
            {
                <span class="notification">@Model.NotificationCount</span>
            }
        </li>
        <li data-value="wikiAdmin">WikiAdmin</li>
        <li data-value="wikiAdmin"><a href="/wiki/permissions">Wiki permissions</a></li>
    </ul>
    <input type="hidden">
</div>