@{
    ViewData["Title"] = "Home Page";
}



<div class="row">

		<script type="text/javascript" src="@Url.Content("~/js/facebook.js")"></script>

    <script>

        var loginConfig = {

            onFacebookConnected: function (authResponse) {
                FB.api('/me', function (response) {
                    document.getElementById('status').innerHTML = JSON.stringify(response);
                });
            },

						//fb: FB
        }

				//var fbLogin = new Gloobster.Facebook.Login(loginConfig);
        var fbLogin = new FacebookLogin(loginConfig);
        var fbInit = new Gloobster.Facebook.Initialization(fbLogin.refreshLoginStatus);

        window.fbAsyncInit = fbInit.asyncInit;
        fbInit.sdkLoad(document);

        function register() {
            $.ajax({
                type: 'POST',
                url: '/api/user',
                data: $('#registerUserForm').serialize(),
                success: function(res) {
                    alert(JSON.stringify(res));
                },
                error: function(res) {
                    alert(JSON.stringify(res));
                }
                //,dataType: dataType
            });
        }
    </script>


    <div>
        <fb:login-button scope="user_tagged_places,user_likes,publish_actions,user_location,user_hometown,email,user_status" onlogin="fbLogin.refreshLoginStatus();">
        </fb:login-button>

        <form id="registerUserForm" style="border: 1px solid black">

            <div>
                <label for="ContactName">Mail</label>
                <input type="text" name="mail" value="" />
            </div>

            <div>
                <label for="ContactName">Password</label>
                <input type="text" name="password" value="" />
            </div>

            <button onclick="register()">Register</button>
        </form>

    </div>



        <div id="status">
        </div>

    </div>
