@{
    // ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="@Url.Content("~/js/Views/SettingsView.js")"></script>

<input type="file" name="files" id="files" multiple/>


<span id="progressBar" style="font-size: 20px; font-weight: bold"></span>%


<script>

		function onBodyLoad() {

			currentView = new SettingsView();

			var fileUpload = new FileUpload("files", currentView);
			fileUpload.onProgressChanged = (percent) => {
				$("#progressBar").text(percent);
			}
		}


</script>
