

<script id="status-template" type="text/x-handlebars-template">

    <div>
        <b>Your status</b> waiting in: {{placeName}}, want meet: {{wantMeetName}}, wantDo: {{wantDoName}}
        <a href="#">Edit</a>
    </div>

</script>

<script id="checkinDialog-template" type="text/x-handlebars-template">
    <div class="popup" id="checkin-dialog">
        <div>
            <h3>Checkin dialog</h3>
            <div class="checkinCont">

                <div>
                    <span>Want do</span>
                    <input id="wantDo0" type="radio" name="wantDo" value="0"><label for="wantDo0">WalkingTour</label>
                    <input id="wantDo1" type="radio" name="wantDo" value="1"><label for="wantDo1">Bar or Pub</label>
                    <input id="wantDo2" type="radio" name="wantDo" value="2"><label for="wantDo2">Date</label>

                    <input id="wantDoOther" type="radio" name="wantDo" value="3"><label for="wantDoOther">Other</label>

                    <input type="text" />
                </div>

                <div>
                    <span>Want meet</span>
                    <input id="wantMeetMan" type="radio" name="wantMeet" value="0"><label for="wantMeetMan">Man only</label>
                    <input id="wantMeetWoman" type="radio" name="wantMeet" value="1"><label for="wantMeetWoman">Woman only</label>
                    <input id="wantMeetAnybody" type="radio" name="wantMeet" value="2"><label for="wantMeetAnybody">Doesn't matter</label>
                    <br />
                    <input id="multiPeopleAllowed" type="checkbox" />
                    <label for="multiPeopleAllowed">Multiple people allowed</label>
                </div>

                <div>
                    <span>AgeRange</span>
                    <div id="fromAge" class="dropdown">
                        <span class="selected">18</span>
                        <ul>                            
                        </ul>
                        <input type="hidden" value="18">
                    </div>

                    <div id="toAge" class="dropdown">
                        <span class="selected">35</span>
                        <ul>                            
                        </ul>
                        <input type="hidden" value="35">
                    </div>

                </div>

                <div id="dlgSpec">

                </div>
               

            </div>
            <div class="tright">
                <a class="button border cancel" href="#">Cancel</a>
                <a id="submitCheckin" class="button confirm" href="#">{{sumbitText}}</a>
            </div>
            <a class="close" href="#"></a>
        </div>
    </div>
</script>

<script id="dlgNow-template" type="text/x-handlebars-template">
    <span>Place</span>
    <br />
    <div id="waitingPlace" class="dropdown">
        <input class="inputed" type="text" placeholder="Search for place name">
        <img class="loader" src="/images/loader-gray.gif" style="display: none" />
        <ul></ul>
    </div>

    <br />
    <br />

    <span>Waiting time</span>
    <br />
    <input id="minsWaiting" type="text" value="60" />

</script>

<script id="dlgCity-template" type="text/x-handlebars-template">
    <span>Place</span>
    <br />
    <div id="waitingCity" class="dropdown">
        <input class="inputed" type="text" placeholder="Search for a city name">
        <img class="loader" src="/images/loader-gray.gif" style="display: none" />
        <ul></ul>
    </div>

    <br />
    <br />

    <span>Visiting days</span>
    <br />
    <input id="fromDate" type="text" value="1.8.2016" />
    --
    <input id="toDate" type="text" value="5.8.2016" />

</script>

    <script id="checkinUserItem-template" type="text/x-handlebars-template">

        <div class="userItem">
            <span class="thumbnail">
                <img src="/PortalUser/ProfilePicture_xs/{{id}}">
            </span>
            <a href="{{link}}">{{name}}</a>
            <div>
                {{age}} years,
                waiting for {{waitingFor}},
                wants {{wants}}
            </div>
        </div>

    
</script>

    <script id="hereAndNowTabCont-template" type="text/x-handlebars-template">

        <div id="hereTabs" class="myTabs">

        </div>

        <div id="listCont">

        </div>

    </script>

    <script id="userPopup-template" type="text/x-handlebars-template">

        <div>
            <span class="thumbnail">
                <img src="/PortalUser/ProfilePicture_s/{{id}}">
            </span>
            <br />
            <a href="#">{{name}}</a>
            <br />
            {{age}} years
            <br />
            waiting for: {{waitingFor}}
            <br />
            wants do: {{wants}}
            <br />
            waiting: {{waitingMins}} minutes
        </div>

    </script>
