
            {{#if wmMan}}
            <span class="g-icon icon-male" title="want meet man"></span>
            {{/if}}

            {{#if wmWoman}}
            <span class="g-icon icon-female" title="want meet woman"></span>
            {{/if}}

            {{#if wmWomanGroup}}
            <span class="g-icon g-icon-group" title="want meet group of women"><span class="g-icon icon-female"></span><span class="g-icon icon-female"></span></span>
            {{/if}}

            {{#if wmManGroup}}
            <span class="g-icon g-icon-group" title="want meet group of men"><span class="g-icon icon-male"></span><span class="g-icon icon-male"></span></span>
            {{/if}}

            {{#if wmMixGroup}}
            <span class="g-icon g-icon-group" title="want meet gender mixed group"><span class="g-icon icon-female"></span><span class="g-icon icon-male"></span></span>
            {{/if}}           
