
    
<div id="countriesLegend" class="my-legend" style="display: none">
    <div class='legend-title'>Visiting frequency</div>
    <div class='legend-scale'>
        <ul class='legend-labels'>
            <li><span style='background: #0026BF;'></span>1</li>
            <li><span style='background: #1300C2;'></span>2</li>
            <li><span style='background: #4F00C6;'></span>3</li>
            <li><span style='background: #8D00CA;'></span>4</li>
            <li><span style='background: #CE00CE;'></span>5</li>
            <li><span style='background: #D20092;'></span>6</li>
            <li><span style='background: #D50055;'></span>7</li>
            <li><span style='background: #D90015;'></span>8</li>
            <li><span style='background: #DD2C00;'></span>9</li>
            <li><span style='background: #E17000;'></span>10</li>
            <li><span style='background: #E5B600;'></span>&gt;10</li>
        </ul>
    </div>
</div>


<style type='text/css'>
        .my-legend {            
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: black;
            font-family: "PT Sans", sans-serif;
            font-size: 16px;
            z-index: 99999;
            background-color: white;
            opacity: 0.7;
            border-radius: 10px;
           }
        
        .my-legend .legend-title {
            text-align: left;
            margin: 5px;
            font-weight: bold;
            font-size: 90%;
        }

        .my-legend .legend-scale ul {
            margin: 0;
            margin-bottom: 5px;
            padding: 0;
            float: left;
            list-style: none;
        }

        .my-legend .legend-scale ul li {
            font-size: 80%;
            list-style: none;
            margin-left: 0;
            line-height: 18px;
            margin-bottom: 2px;
        }

        .my-legend ul.legend-labels li span {
            display: block;
            float: left;
            height: 16px;
            width: 30px;
            margin-right: 5px;
            margin-left: 5px;
            border: 1px solid #999;
        }

    </style>