@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@using Newtonsoft.Json
@model PinBoardViewModel


    <div class="popup2 margin" id="taggedPlacesPerm" style="display: none">
    <h3>
        <span class="slim">@Model.W("FbCheckinsTitle")</span>
    </h3>

        <div class="margin">
            @Model.W("FbCheckinsMessage")            
        </div>

    <div class="table width100">

        <div class="cell middle tright">
            <div class="logins">
                <a id="fbBtnImport" class="facebook" href="#">@Model.W("FbCheckinsButton")</a>
            </div>
        </div>
    </div>
    <a class="close" href="#">@Model.W("Close", "layout")</a>
</div>