@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@using Newtonsoft.Json
@model PinBoardViewModel

<div class="popup-n popup-share wrapper" id="taggedPlacesPerm" style="display: none;">
    <div class="top-line"></div>
    <div class="cont">

        <div class="title">@Model.W("FbCheckinsTitle")</div>
        <div class="tleft padding2">
            @Model.W("FbCheckinsMessage")
        </div>

        <div class="tright padding2">
            <a id="fbBtnImport" class="facebook" href="#"><span class="icon-facebook2"></span>@Model.W("FbCheckinsButton")</a>            
        </div>

        <a class="close" href="#"><span class="icon-close-cross"></span></a>
    </div>
</div>
