@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@using Newtonsoft.Json
@model PinBoardViewModel


<div id="importingCheckins" class="popup2 margin infoPanel" style="display: none;">
    <img style="vertical-align:middle" class="loader" src="/images/loader-gray.gif" />
    <span style="font-size: 20px">@Model.W("ImportingCheckins")</span>
</div>