
<div class="dropdown with-checkbox right usersFilterComponent">
    <span class="selected"><span class="icon-people left mright10"></span>People</span>
    <ul>
        <li data-value="split"><div style="width: 130px; border-bottom: 1px solid black;"></div></li>
    </ul>
    <input type="hidden">
</div>

<script id="item-template" type="text/x-handlebars-template">
    
    <li data-value="{{id}}">
        
        {{#if hasIco}}
            <span class="{{ico}} left mright10"></span>
        {{/if}}

        {{#if checked}}
            <input id="chck{{id}}" checked="checked" type="checkbox">
            {{else}}
            <input id="chck{{id}}" type="checkbox">
            {{/if}}
        <label for="chck{{id}}">{{displayName}}</label>
    </li>

</script>
