
<script id="cityPopup-template" type="text/x-handlebars-template">
    <div>
        <h1>{{city}}</h1>
        
        {{#if dates}}
        <b>Dates</b>
        <br />
        {{/if}}
        
        {{#each dates}}
            {{this}}
        <br />
        {{/each}}
        
        <br />
        {{#if isJustMe}}
        <a href="javascript:currentView.deletePin({{geoNamesId}})">@Model.W("Delete", "layout")</a>
        {{/if}}
    </div>        
</script>


<script id="place-tag-template" type="text/x-handlebars-template">
    <span data-t="{{type}}" data-id="{{id}}" class="ptag">
        <span class="icon-{{icon}} icon"></span>
        <span class="txt">{{name}}</span>        
        {{#if showCC}}
        <span>, </span>
        <span class="cc">{{cc}}</span>
        {{/if}}
    </span>
</script>

<script id="badges-frame-template" type="text/x-handlebars-template">
    <div class="continent">
        <h2 class="title">{{title}}</h2>
        <div class="cities">
            <table></table>
        </div>
    </div>

</script>

<script id="badge-city-template" type="text/x-handlebars-template">
    <td>
        <div class="badge_all" data-gid="{{gid}}">
            <div class="icon">
                <img src="" />
            </div>
            <div class="txt">

            </div>
        </div>
    </td>
</script>

<script id="badge-over-template" type="text/x-handlebars-template">

    <div class="badge_all">
        <div class="icon">
            <img src="{{imgLink}}" />
        </div>
        <div class="txt">
            {{visitedCnt}}/{{totalCnt}} <strong>{{name}}</strong>
        </div>
    </div>


</script>

<script id="item-template" type="text/x-handlebars-template">

    <div class="item" data-value="{{id}}">
        <input data-val="{{id}}" id="chck{{id}}" type="checkbox">
        <label for="chck{{id}}">{{displayName}}</label>
    </div>

</script>

<script id="legend-template" type="text/x-handlebars-template">
    <div id="countriesLegend" class="my-legend">
        <div class='legend-title'>@Model.W("VisitingFrequency")</div>
        <div class='legend-scale'>
            <ul class='legend-labels'>
                <li><span style='background: #0026BF;'></span>1</li>
                <li><span style='background: #1300C2;'></span>2</li>
                <li><span style='background: #4F00C6;'></span>3</li>
                <li><span style='background: #8D00CA;'></span>4</li>
                <li><span style='background: #CE00CE;'></span>5</li>
                <li><span style='background: #D20092;'></span>6</li>
                <li><span style='background: #D50055;'></span>7</li>
                <li><span style='background: #D90015;'></span>8</li>
                <li><span style='background: #DD2C00;'></span>9</li>
                <li><span style='background: #E17000;'></span>10</li>
                <li><span style='background: #E5B600;'></span>&gt;10</li>
            </ul>
        </div>
    </div>
</script>