
<style>
	img.active {
		border: 2px solid green;
	}
</style>

<div class="popup trip-share" id="popup-share">
		<div>
				<h3>
						<span class="slim">Share</span> My travel map
				</h3>

				<textarea id="message" class="margin" placeholder="Message...">I have already traveled shitload of places as you can see douchebags</textarea>
				
				<div id="shareCont" class="right">
						<a id="share" class="button right" href="#">Share</a>
				</div>
				<a class="close" href="#">Close</a>
		</div>
</div>