@using System.Threading.Tasks
@using Gloobster.Portal.ViewModels
@using Microsoft.Data.Entity.Metadata.Internal
@using Newtonsoft.Json
@model PinBoardViewModel


<div class="popup-n popup-share wrapper" style="display: none;">
    <div class="top-line"></div>
    <div class="cont">

        <div class="title">@Model.W("ShareTitle")</div>
        <div class="message">
            <textarea placeholder="@Model.W("Message", "layout")..."></textarea>
        </div>

        <div class="htbl">
            <div class="left">
                <div>@Model.W("ShareButtons", "layout")</div>
                <div class="share-cont">
                </div>
            </div>

            <div class="right">
                <a class="lbtn share" href="#">
                    @Model.W("Share", "layout") <span></span>
                </a>
            </div>
        </div>
        
        <a class="close" href="#"><span class="icon-close-cross"></span></a>
    </div>
</div>
