@using System.Threading.Tasks
@using Gloobster.Entities
@using Gloobster.Portal.Controllers.Portal
@using Gloobster.Portal.ViewModels
@model ImageDBListViewModel

@{
    Layout = "_LayoutNew";
    ViewBag.BodyClass = "image-db";
}

<link href="/lib/cropper/dist/cropper.css" rel="stylesheet"/>

<script src="/lib/cropper/dist/cropper.js"></script>

<script src="/js/ImageDb/ImageDb.js"></script>
<script src="/js/Views/ImageDbView.js"></script>

<div class="wrapper">

    <div id="selectedCity" class="dropdown">
        <input class="inputed" type="text" placeholder="Search for city name">
        <img class="loader" src="/images/loader-gray.gif" style="display: none" />
        <ul></ul>
    </div>



    <div id="naviCont">

    </div>

    <div id="tabCont">

    </div>

</div>

<script>
    function onBodyLoad() {
        currentView = new Views.ImageDbView();
        currentView.init();
    };

</script>

<script id="defaultCutImg-template" type="text/x-handlebars-template">
    
    <div id="cutInst_{{cutId}}">
        <span>{{cutName}}</span>
        <br />
        <img src="/Picd/{{cityId}}/{{shortName}}?random={{random}}" style="width: {{width}}px; height: {{height}}px;" />        
    </div>

</script>

<script id="cutImgListItemTmp-template" type="text/x-handlebars-template">
    
    <div id="cutInst_{{cutId}}">
        <span>{{cutName}}</span>
        <br />
        <img src="/Pic/{{id}}/{{shortName}}?random={{random}}" style="width: {{width}}px; height: {{height}}px;" />
        <div>
            <button class="edit">Edit</button>
            <button class="save" style="display: none">Save</button>
            <button class="cancel" style="display: none">Cancel</button>
            <button class="default">Set this cut as default for this city</button>
        </div>
    </div>

</script>

    <script id="cutItemTmp-template" type="text/x-handlebars-template">

        <div class="cutListItem">
            <table>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        {{name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Short name
                    </td>
                    <td>
                        {{shortName}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Width
                    </td>
                    <td>
                        {{width}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Height
                    </td>
                    <td>
                        {{height}}
                    </td>
                </tr>

            </table>
        </div>

    
</script>

    <script id="cutsDlg-template" type="text/x-handlebars-template">
        <div>
            <button id="btnShowAddCutForm">Show add cut form</button>
        </div>

        <div id="cutCreateForm" style="display: none">
            <table>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input id="name" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Short name
                    </td>
                    <td>
                        <input id="shortName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Width
                    </td>
                    <td>
                        <input id="width" type="number" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Height
                    </td>
                    <td>
                        <input id="height" type="number" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="btnCreateCut">Create</button>
                    </td>
                </tr>
            </table>
        </div>

        <div id="cutsList">

        </div>


    </script>



<script id="addPhotoDlg-template" type="text/x-handlebars-template">
    
    <div class="new-photo-form">

        <div class="input-form">

            <div id="originType" class="dropdown">
                <span class="selected">Pixabay</span>
                <ul>
                    <li data-value="0">Pixabay</li>
                    <li data-value="1">Google</li>
                    <li data-value="2">Unknown</li>
                    <li data-value="3">Freepik</li>
                    <li data-value="4">Wallpapers</li>
                </ul>
                <input type="hidden" value="0">
            </div>

            <input id="isFree" type="checkbox"><label for="isFree"><span>Is free</span></label>
            
            <br />
            <button id="btnCreate">Create</button>
        </div>

        <div class="file-info">
            <table>
                <tr>
                    <td><b>Canvas size</b></td>
                    <td><span id="cWidth">0</span>X<span id="cHeight">0</span></td>
                </tr>
            </table>
        </div>

        <div class="photoOverFrame">
            <img id="photoOverview" style="max-width: 100%" />
        </div>

    </div>

</script>
