.homepage2 {
    .logins {
        background-color: $color10;
        border-radius: $radius;
        padding: 20px;
        text-align: center;
    }
    .tabs {
        .tab {
            &.active {
                background-color: $color5;
                color: $white;
            }
        }
    }
    .tab-content {
        border-top: 7px solid $color5;
        border-top-right-radius: $radius;
    }
    .notifications {
        @include border-bottom-radius($radius);
        @include position(relative);
        @include clearfix;
        background-color: $color10;
        padding: 20px;
        .nots {
            border-left: 1px solid $white;
            float: right;
            font-size: 20px;
            padding: 0 20px;
        }
        .maskot {
            @include position(absolute, null null -5px 10px);
            @include size(481px 137px);
            background: transparent url("../images/maskot.png") left top no-repeat;
            box-sizing: border-box;
            color: $white;
            font-size: 28px;
            padding: 30px 20px 0 240px;
            text-align: center;
            span {
                display: block;
                font-size: 14px;
            }
            a {
                color: inherit;
            }
        }
    }
}