.shared {
    .map-holder {
        @include position(relative);
        background: transparent url("../images/europe.jpg") center top no-repeat;
        .map {
            height: 600px;
        }
        .map-logo {
            @include size(170px 60px);
            @include position(absolute, 0 20px null null);
            @include border-bottom-radius($radius);
            background: $color6 url("../images/logo-by.png") center center no-repeat;
        }
        .map-info {
            @include size(540px auto);
            @include position(absolute, 40px null null -20px);
            background-color: rgba($white, .9);
            border: 1px solid rgba($color6, .9);
            border-radius: $radius;
            padding: 15px 15px 15px 20px;
            h1, h2 {
                font-size: 30px;
                margin: 0;
            }
        }
        .map-share {
            @include border-bottom-radius($radius);
            background-color: $color10;
            color: $color2;
            padding: 20px;
            width: calc(100% - 40px);
        }
    }
    @include tablet {
        .map-holder {
            .map-info {
                @include size(340px auto);
            }
        }
    }
}