.tripview {
    .adventure-background {
        background: transparent url("../images/samples/sample13.jpg") center top no-repeat;
        border-top: 2px solid rgba($black, .2);
        .with-subnav {
            min-height: 180px;
            padding: 20px 0;
            width: $wrapper-desktop + 40px;
        }
        .with-bgwhite {
            @include border-top-radius($radius);
            background: rgba($white, .9);
            padding: 20px 20px 0 20px;
        }
    }
}