@{		
		Layout = "";
}

<style>
    button {
        padding: 9px 19px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        display: inline-block;
        text-decoration: none;

        color: #fff;
        background-color: #009dc4;
        border-color: #009dc4;

        font-size: 16px;
    }
</style>

<p>Twitter don't allow us to get your mail address directly. Please fill in a valid email address.</p>

<form asp-controller="TwitterUser" asp-action="Authorize" method="POST">
    <span>Mail: </span>
    <input type="text" name="mail" />
    <button type="submit">Proceed to authorization step</button>
</form>

<p>If you are already registered, leave the field empty and proceed to another step</p>

<form asp-controller="TwitterUser" asp-action="Authorize" method="POST">    
    <button type="submit">Already registred</button>
</form>


