

<form asp-controller="TwitterUser" asp-action="Authorize" method="POST">
	<span>Mail: </span>
	<input type="text" name="mail"/>

				<button type="submit">Proceed to authorization step</button>
</form>

