<div class="popup" id="popup-join">
	<div>
		<h3 class="margin2">Join Gloobster</h3>
		<div class="table">
			<div class="cell">
				<div id="registrationForm" class="margin form">
					<label class="h4" for="email_s">E-mail</label>
					<input id="email_s" type="text" placeholder="E-mail">
					<label class="h4" for="password_s">Password</label>
					<input id="password_s" type="password">
					<p class="small">
						By creating an account you accept the
						<a href="#">Terms of service</a>
					</p>
					<input id="btnRegister" class="right" type="button" value="Join Now">
				</div>
				Already a member?
				<a href="#">Sign In</a>
			</div>
			
		</div>
		<a class="close" href="#">Close</a>
	</div>
</div>

<script>
		$("#btnRegister").click((e) => {
		e.preventDefault();
		var mail = $("#email_s").val();
		var password = $("#password_s").val();
		currentView.loginManager.localUserCreator.registerOrLogin(mail, password, UserActionType.Register);
	});

		
</script>