@using Gloobster.Portal.ViewModels
@using System.Linq
@using System.Threading.Tasks
@using Gloobster.Common
@using Gloobster.Portal
@using Microsoft.AspNet.Mvc.Rendering
@model ViewModelHome

@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutNew";
    ViewBag.BodyClass = "homepage";
}


@Html.Partial("GAnalytics")

@if (GloobsterConfig.UseMiniScripts)
{
    <script src="/jsb/index.js" type="text/javascript" data-notbuild="true"></script>
}
else
{
    <script src="/js/Views/AirLoc.js" type="text/javascript"></script>
    <script src="/js/Views/HomePageView.js" type="text/javascript"></script>
    <script src="/js/views/settingsutils.js" type="text/javascript"></script>
}

<div class="title_show_all">
    <div class="photo">
        <div class="empty-fill"></div>
        <div class="main-fill-circle"></div>
    </div>


    <div class="wrapper">
        <div class="main-fill"></div>
        

        <div class="text-area">
            <div class="motto">
                The only portal
                you need to
                travel the world
            </div>

            @*<a class="link" href="#">Learn more</a>*@
        </div>

    </div>
    
</div>

@if (Model.IsDemo)
{
    <div class="fly_all">

        <div class="motto">
            <span>Fly ticket search – three easy steps to travel the world</span>
        </div>

        <div class="icons">

            <div class="icon block mr">
                <img src="/images/n/fly-pin.svg"/>
                <div class="txt c1">Set your home location</div>
            </div>
            <div class="pointer block mr">
                <div class="center_cont">
                    <div class="dashed_cont">
                        <div class="line"></div>
                    </div>
                    <div class="arrow"><img src="/images/n/fly-arrow.svg"/>
                    </div>
                </div>
            </div>
            <div class="icon block mr">
                <img src="/images/n/fly-comp.svg"/>
                <div class="txt">Customize your dashboard</div>
            </div>
            <div class="pointer block mr">
                <div class="center_cont">
                    <div class="dashed_cont">
                        <div class="line"></div>
                    </div>
                    <div class="arrow"><img src="/images/n/fly-arrow.svg"/>
                    </div>
                </div>
            </div>
            <div class="icon block">
                <img src="/images/n/fly-plane.svg"/>
                <div class="txt">Get your best deals</div>
            </div>

        </div>

        <div class="loc">
            <div id="currentCity" class="dropdown left">
                <input class="inputed" type="text" placeholder="Set your home city">
                <ul>
                </ul>
            </div>
        </div>

    </div>
}
<div class="social">

    <div class="blocks">

        <div class="motto">Try one of our free social components</div>

    <div class="item mr">
        <div class="image">
            <span class="icon-ico-travel-buddy blue"></span>
        </div>
        <div class="name">
            <span class="blue">Travel buddy</span>
        </div>
        <div class="txt">
            Find your travel buddy
            here and now. Whereever
            you are, whenever you‘re
            on your way – get in contact
            with travellers all over
            the world.
        </div>
        <div class="btn">
            <a class="blue" href="/TravelB/home">Find your buddy</a>
        </div>
    </div>

        <div class="item mr">
            <div class="image">
                <span class="icon-ico-organizer green"></span>
            </div>
            <div class="name">
                <span class="green">Travel organizer</span>
            </div>
            <div class="txt">
                Organize your travel documents
                and notes day
                by day. Invite your friend
                or let know to the people
                about your trip over social
                networks.
            </div>
            <div class="btn">
                <a class="green" href="/@RoutingConsts.PlannerMenuName/grid">Try it now</a>
            </div>
        </div>

        <div class="item mr">
            <div class="image">
                <span class="icon-ico-wiki orange"></span>                
            </div>
            <div class="name">
                <span class="orange">Travel wiki</span>
            </div>
            <div class="txt">
                Become a part of our travel
                community and help
                us to build one of the
                biggest travel databases
                on the internet.
            </div>
            <div class="btn">                
                <a class="orange" href="@RoutingConsts.WikiMenuName">Join us</a>
            </div>
        </div>

        <div class="item">
            <div class="image">
                <span class="icon-ico-travel-map yellow"></span>                
            </div>
            <div class="name">
                <span class="yellow">Travel map</span>
            </div>
            <div class="txt">
                Pin places you‘ve visited,
                share and compare with
                your friends. See most
                visited places all over the
                world. Let‘s build the travel
                map together!
            </div>
            <div class="btn">                
                <a class="yellow" href="@RoutingConsts.PinsMenuName">Build your map</a>
            </div>
        </div>

    </div>

</div>

<script>
    
    function onBodyLoad() {
        currentView = new Views.HomePageView();
    }

</script>
