@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutNew";
}


<div class="title_show_all">
    <div class="photo">

        <div class="bck_holder">
            <div class="empty_fill bck"></div>
            <div class="text_area bck">
                <div class="motto">
                    The only portal
                    you‘ll need to
                    travel the world
                </div>

                <a class="link" href="#">Learn more</a>
            </div>
        </div>

    </div>
</div>

<div class="fly_all">

    <div class="motto">
        <span>Fly ticket search – three easy steps to travel the world</span>
    </div>

    <div class="icons">

        <div class="icon block mr">
            <img src="/images/n/fly-pin.svg"/>
            <div class="txt">Set your home location</div>
        </div>
        <div class="pointer block mr">
            <div class="center_cont">
                <div class="dashed_cont">
                    <div class="line"></div>
                </div>
                <div class="arrow"><img src="/images/n/fly-arrow.svg"/>
                </div>
            </div>
        </div>
        <div class="icon block mr">
            <img src="/images/n/fly-comp.svg"/>
            <div class="txt">Customize your dashboard</div>
        </div>
        <div class="pointer block mr">
            <div class="center_cont">
                <div class="dashed_cont">
                    <div class="line"></div>
                </div>
                <div class="arrow"><img src="/images/n/fly-arrow.svg"/>
                </div>
            </div>
        </div>
        <div class="icon block">
            <img src="/images/n/fly-plane.svg"/>
            <div class="txt">Get your best deals</div>
        </div>

    </div>

    <div class="location">

    </div>

</div>

<div class="social">

    <div class="blocks">

        <div class="motto">Try one of our free social components</div>

        <div class="item mr">
            <div class="image">
                <img src="/images/n/ico-travel-buddy.svg"/>
            </div>
            <div class="name">
                <span class="blue">Travel buddy</span>
            </div>
            <div class="txt">
                Find your travel buddy
                here and now. Whereever
                you are, whenever you‘re
                on your way – get in contact
                with travellers all over
                the world.
            </div>
            <div class="btn">
                <a class="blue" href="#">Find your buddy</a>
            </div>
        </div>

        <div class="item mr">
            <div class="image">
                <img src="/images/n/ico-organizer.svg"/>
            </div>
            <div class="name">
                <span class="green">Travel organizer</span>
            </div>
            <div class="txt">
                Organize your travel documents
                and notes day
                by day. Invite your friend
                or let know to the people
                about your trip over social
                networks.
            </div>
            <div class="btn">
                <a class="green" href="#">Try it now</a>
            </div>
        </div>

        <div class="item mr">
            <div class="image">
                <img src="/images/n/ico-wiki.svg"/>
            </div>
            <div class="name">
                <span class="orange">Travel wiki</span>
            </div>
            <div class="txt">
                Become a part of our travel
                community and help
                us to build one of the
                biggest travel databases
                on the internet.
            </div>
            <div class="btn">
                <a class="orange" href="#">Join us</a>
            </div>
        </div>

        <div class="item">
            <div class="image">
                <img src="/images/n/ico-travel-map.svg"/>
            </div>
            <div class="name">
                <span class="yellow">Travel map</span>
            </div>
            <div class="txt">
                Pin places you‘ve visited,
                share and compare with
                your friends. See most
                visited places all over the
                world. Let‘s build the travel
                map together!
            </div>
            <div class="btn">
                <a class="yellow" href="#">Build your map</a>
            </div>
        </div>

    </div>

</div>

<script>
    
    function onBodyLoad() {
    }

</script>
