@{
		ViewData["Title"] = "Home Page";
		Layout = "";
}


@Html.Partial("_GlobalScripts")

<div>
		<input id="myInput" type="text"/>


</div>

<script>

	var timeoutId = null;
	var delay = 1000;

	$("#myInput").keydown(function() {

		if (timeoutId) {
			clearTimeout(timeoutId);
			timeoutId = null;
			//console.log("cleared");
		}
		timeoutId = setTimeout(function() {
				timeoutId = null;
				console.log("stoped");

		}, delay);

	});


</script>