@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutNew";
}

<style>
    #mapid { 
        height: 600px;
        width: 800px;
        background-color: #3298C1 !important;
        margin-left: auto;
        margin-right: auto;
    }

   .labelClass{
      white-space:nowrap;
      text-shadow: 0 0 0.1em black, 0 0 0.1em black,
            0 0 0.1em black,0 0 0.1em black,0 0 0.1em;
      color: yellow
    }
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script type="text/javascript" src="/js/Planning/Map.js"></script>


<div id="mapid"></div>
<script>

    var map = new Planning.Map();
    map.init("mapid");

   
    function onBodyLoad() {
        
    }

</script>
