@{
		ViewData["Title"] = "Home Page";
		Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/pep.js"></script>

        <meta charset="utf-8">
        <title>JS Bin</title>
    </head>
    <body>
    <style>
        .pixel {
            position: absolute;
            background: black;
            width: 2px;
            height: 2px;
        }
        #canvas {
            margin: 20px;
            background: white;
            border: 1px solid black;
            height: 200px;
        }
    </style>


    <div id="canvas"></div>


    <script type="text/javascript">
        
        //$("#canvas").on("pointerdown", function(event) {
        //    alert("t");
        //});

        $("#canvas").bind("pointerdown click", function (event) {
            alert("tb");
        });

    </script>

    </body>



    </html>