@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutNew";
}

<script src="/js/TravelB/DateUtils.js" type="text/javascript"></script>

<script src="/js/Common/MyCalendar.js" type="text/javascript"></script>

<div id="testCont" class="calendar-cont">

</div>

<script>

   
    function onBodyLoad() {
        
        currentView = new Views.ViewBase();

        var cal = new Common.MyCalendar($("#testCont"), "myDate");
        cal.gen();

    }

</script>
