@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutNew";
}




<div id="testCont">

</div>

<script>

   
    function onBodyLoad() {
        
        currentView = new Views.ViewBase();

        var ndate = moment().add(5, "days");


        var cal = new Common.MyCalendar($("#testCont"));
        cal.setDate(ndate);

    }

</script>
