@{
		ViewData["Title"] = "Home Page";
		Layout = "";
}
<link href="~/lib/dropzone/dist/dropzone.css" rel="stylesheet" />
<link href="~/lib/dropzone/dist/basic.css" rel="stylesheet" />

@Html.Partial("_GlobalScripts")


		<div id="myId" class="fallback">
				<input name="file" type="file" multiple />
		</div>


<script>

		var myDropzone = new Dropzone("div#myId", { url: "/file/post" });
</script>