@{
    ViewData["Title"] = "Home Page";
    //Layout = "";
}


<link href="~/lib/cropper/dist/cropper.css" rel="stylesheet" />
<script src="~/lib/cropper/dist/cropper.js"></script>

<script type="text/javascript" src="@Url.Content("~/js/Views/CropImg.js")"></script>

<style>
    .ci-frame {
        border: 1px solid red;
    }
</style>


<div id="myFrame">
    
</div>


<script>
    
    function onBodyLoad() {
        curentView = new Views.CropImg("myFrame", 600, 400, "http://img.ihned.cz/attachment.php/0/64911000/Id5CPlkgeDGuTaEU7FcprWv9ObNi6S8K/1.jpg");
    }

</script>
