
    <h1>Privacy Policy</h1>


    <h2>What information do we collect?</h2>

    We collect information from you when you register on our site or when you sign-up for our site via social networks (in that case please see privacy policy of Google, Facebook or Twitter).
    <br /><br />
    When registering on our site, as appropriate, you may be asked to enter your: e-mail address, sex, country, city, age. You may, however, visit our site anonymously also.
    <br />


    <h2>What do we use your information for?</h2>

    Informations collected from other 3rd parties like Facebook, Twitter or Google will be not resold to other parites.
    <br />
    Any of the information we collect from you may be used to personalize your experience and to create statistics for use in the site.
    <br />
    You may also receive informational messages sent to your registered e-mail address.
    <br />
    The data you provide (except for your email address) are visible to all users for the purposes of the site.
    <br />
    Later in year 2016 will be available feature to download all the data we collect about you.

    <h2>How do we protect your information?</h2>

    We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.
    <br />
    You should always be made aware that your personal data are being collected.
    <br />
    You can always deactivate your account in order to make your personál data unavailable to other users.
    <br />
    You can refuse to receive informational messages by clicking on a single link.

    <h2>Do we use cookies?</h2>

    Yes, (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow them) that enables the site‘s or service provider‘s system to recognize your browser and capture and remember certain information.
    <br /><br />
    Our site cannot work without cookies, if you don't allow them, you will be not able to finish registration process.

    <h2>Do we disclose any information to outside parties?</h2>

    We do not sell, trade, or otherwise transfer any of your personally identifiable data to outside parties your . This does not include trusted third parties who assist us in operating our website, conducting our business, or providing service to you, so long as those parties agree to keep this information confidential. We may also release your information when we believe the release is appropriate to comply with the law, enforce our site policies, or protect our or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.

    <h2>Storing the data</h2>
    Your data are safely stored in the cloud database on https://mlab.com/ and Microsoft Azure cloud.

    <h2>Online Privacy Policy Only</h2>

    This online privacy policy applies only to information collected through our website and not to information collected offline.

    <h2>Your Consent</h2>

    By using our site, you consent to our websites privacy policy.
