
@*todo: used?*@

<div class="table row margin">
    <div class="cell">
        <div class="box blue width240 mright20">
            <h3>Keep track of your journeys</h3>
            <p>Ever wanted to have one place to store all your past travels? Gloobster makes this easy and for free.</p>
        </div>
    </div>
    <div class="cell">
        <div class="table width100 margin">
            <div class="cell middle">
                <h3 class="margin0">About People</h3>
            </div>
            <div class="cell">
                @Html.Partial("Rating")
            </div>
        </div>
        <p class="h4">Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations and photos, everything in one place and easy to share with friends. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations and photos, everything in one place and easy to share with friends.</p>
    </div>
</div>