
@*todo: used ?*@

<h3>Night Life Resurces</h3>
<div class="table row col4 h4 margin">
    <div class="cell">

        Jakes Steakhouse
        <br />
        <img class="opacity5 middle" src="/images/disc-google.png">
        <img class="opacity5 middle" src="/images/disc-twitter.png">
        <img class="opacity5 middle" src="/images/disc-foursquare.png">
        
    </div>
    <div class="cell">
        <img class="opacity5 middle" src="/images/disc-twitter.png">
        The Moon Club
    </div>
    <div class="cell">
        <img class="opacity5 middle" src="/images/disc-google.png">
        Jakes Steakhouse
    </div>
    <div class="cell">
        <img class="opacity5 middle" src="/images/disc-facebook.png">
        The Moon Club
    </div>
</div>
<h3>Favorite Sights</h3>
<div class="table row col4 h4 margin2">
    <div class="cell">
        <img class="opacity5 middle" src="/images/disc-facebook.png">
        Beachfront
    </div>
    <div class="cell">
        <img class="opacity5 middle" src="/images/disc-google.png">
        Something
    </div>
    <div class="cell">
        <img class="opacity5 middle" src="/images/disc-foursquare.png">
        The Museum
    </div>
    <div class="cell">
        <img class="opacity5 middle" src="/images/disc-twitter.png">
        Statue of Liberty
    </div>
</div>