
@*todo: used?*@

<div class="grid col3 margin">
    <div class="cell">
        <div class="blue-border">
            <h4>Population</h4>
            <p>Text field. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations.</p>
        </div>
    </div>
    <div class="cell">
        <div class="blue-border">
            <h4>Capital</h4>
            <p>Text field. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations.</p>
        </div>
    </div>
    <div class="cell">
        <div class="blue-border">
            <h4>Driving</h4>
            <p>Text field. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations.</p>
        </div>
    </div>
    <div class="cell">
        <div class="blue-border">
            <h4>Major Religion</h4>
            <p>Text field. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations.</p>
        </div>
    </div>
    <div class="cell">
        <div class="blue-border">
            <h4>HDI</h4>
            <p>Text field. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations.</p>
        </div>
    </div>
    <div class="cell">
        <div class="blue-border">
            <h4>Currency</h4>
            <p>Text field. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations.</p>
        </div>
    </div>
    <div class="cell">
        <div class="blue-border">
            <h4>Languages</h4>
            <p>Text field. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations.</p>
        </div>
    </div>
    <div class="cell">
        <div class="blue-border">
            <h4>Calling Code</h4>
            <p>Text field. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations.</p>
        </div>
    </div>
    <div class="cell">
        <div class="blue-border">
            <h4>Member of</h4>
            <p>Text field. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations.</p>
        </div>
    </div>
</div>