
@*todo: used ?*@

<div class="table width100 margin">
    <div class="cell middle">
        <h3 class="margin0">Aggregated prices without rating</h3>
    </div>
    <div class="cell">
        @Html.Partial("Rating")
    </div>
</div>

<table class="left mright20">
    <tr>
        <th></th>
        <th>Countryside</th>
        <th>City</th>
    </tr>
    <tr>
        <td>Beer 0.5 litre</td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €2.2
        </td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €2.2
        </td>
    </tr>
    <tr>
        <td>Wine 0.1 litre</td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €2
        </td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €2
        </td>
    </tr>
    <tr>
        <td>Whiskey 0.04 litre</td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €3.5
        </td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €3.5
        </td>
    </tr>
    <tr>
        <td>Vodka 0.04 litre</td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €4.5
        </td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €4.5
        </td>
    </tr>
    <tr>
        <td>Pack of Cigarettes</td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €8
        </td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €8
        </td>
    </tr>
    <tr>
        <td>Average Lunch</td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €10
        </td>
        <td>
            <a class="button-icon icon-plus" href="#">Plus</a>
            <a class="button-icon icon-minus" href="#">Minus</a>
            €10
        </td>
    </tr>
</table>

<p class="h4">Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations and photos, everything in one place and easy to share with friends. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations and photos, everything in one place and easy to share with friends. Make your travels even more enjoyable From flying tickets to booking confirmations and</p>
<p class="h4">Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking confirmations and photos, everything in one place and easy to share with friends. Make your travels even more enjoyable with data saved at Gloobster. From flying tickets to booking.</p>