.box {
    @include position(relative);
    border-radius: $radius;
    font-size: 20px;
    padding: 30px 20px 20px 20px;
    .button {
        font-size: 16px;
    }
    &:before {
        @include position(absolute, 10px 10px null 10px);
        background-position: center top;
        background-repeat: repeat-x;
        content: "";
        height: 2px;
    }
    &.plan, &.share, &.track {
        padding-top: 60px;
        &:after {
            @include size(80px);
            @include position(absolute, -30px null null 50%);
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 40px;
            //box-shadow: 0 0 10px 5px $white;
            box-shadow: 0 0 0 5px rgba($white, .3);
            content: "";
            margin-left: -40px;
        }
    }
    &.plan:after {
        background-image: url("../images/plan.png");
    }
    &.share:after {
        background-image: url("../images/share.png");
    }
    &.track:after {
        background-image: url("../images/track.png");
    }
    &.blue, & {
        background-color: rgba($color6, .3);
        color: $color5;
        &:before {
            background-image: url("../images/dot-blue.png");
        }
        &:after {
            background-color: $color6;
        }
        .button {
            @extend .button.blue;
        }
        &.border {
            background-color: inherit;
            border: 1px solid rgba($color6, .3);
        }
    }
    &.green {
        background-color: rgba($color8, .3);
        color: $color7;
        &:before {
            background-image: url("../images/dot-green.png");
        }
        &:after {
            background-color: $color8;
        }
        .button {
            @extend .button.green;
        }
        &.border {
            background-color: inherit;
            border: 1px solid rgba($color8, .3);
        }
    }
    &.orange {
        background-color: rgba($color4, .3);
        color: $color3;
        &:before {
            background-image: url("../images/dot-oragne.png");
        }
        &:after {
            background-color: $color4;
        }
        .button {
            @extend .button.orange;
        }
        &.border {
            background-color: inherit;
            border: 1px solid rgba($color4, .3);
        }
    }
    &.gray {
        background: $white url("../images/bg-dots.png") center top repeat;
        color: $color1;
        padding: 40px;
        &:before {
            background-image: url("../images/dot-gray.png");
        }
        .button {
            padding: 14px 29px;
        }
    }
    &.border p {
        color: $color1;
    }
}