$buttons: (//color, background, border
    blue: (
        link: $white $color5 $color5,
        hover: $white $color6 $color6,
    ),
    green: (
        link: $white $color7 $color7,
        hover: $white $color8 $color8,
    ),
    orange: (
        link: $white $color3 $color3,
        hover: $white $color4 $color4,
    ),
    white: (
        link: $color5 $white $white,
        hover: $color5 rgba($white, .8) rgba($white, .8),
    ),
    white-blue: (
        link: $color5 $white rgba($color6, .5),
        hover: $white $color6 $color6,
    ),
    border: (
        link: $color5 $white rgba($color6, .5),
        hover: $color6 $white rgba($color6, .5),
    ),
    transparent: (
        link: $color5 rgba($white, .6) rgba($white, .6),
        hover: $color5 rgba($white, .4) rgba($white, .6),
    ),
    maskot: (
        link: $white rgba($color5, .8) rgba($white, .8),
        hover: $white rgba($color6, .8) rgba($white, .8),
    ),
    green-trans: (
        link: $color7 rgba($white, .5) rgba($color7, .5),
        hover: $color7 rgba($white, .3) rgba($color7, .5),
    ),
    blue-trans: (
        link: $color5 rgba($white, .5) rgba($color5, .5),
        hover: $color5 rgba($white, .3) rgba($color5, .5),
    ),
);
$button-padding: 9px 19px;
$button-radius: $radius;
$button-speed: $speed;

%button,
.button {
    @include padding($button-padding);
    @include transition(all $button-speed);
    border-radius: $button-radius;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    $default: nth(map-keys($buttons), 1);
    @each $button, $colors in $buttons {
        $link: map-get($colors, link);
        $hover: map-get($colors, hover);
        #{if($button == $default, "&, &.#{$button}", "&.#{$button}")} {
            &, &.inverse:hover {
                color: nth($link, 1);
                background-color: nth($link, 2);
                border-color: nth($link, 3);
            }
            &:hover, &.inverse {
                color: nth($hover, 1);
                background-color: nth($hover, 2);
                border-color: nth($hover, 3);
            }
        }
    }
}

//.button {
//&.transparent {
//    background-color: rgba(255, 255, 255, .5);
//    color: $button-color;
//    &:hover {
//        background-color: transparent;
//        color: $button-color;
//    }
//}
//    &.transparent.black {
//        background-color: rgba(0, 0, 0, .2);
//        border-color: rgba(255, 255, 255, .2);
//        color: #fff;
//        &:hover {
//            background-color: rgba(0, 0, 0, .5);
//        }
//    }
//}