$hamburger-background: #57c1db;
$hamburger-background-open: #fff;
$hamburger-color: #fff;
$hamburger-color-open: #57c1db;
$hamburger-position: 15px 0 null null;
$hamburger-radius: $radius;
$hamburger-size: 40px;
$hamburger-speed: $speed;

.hamburger {
    @include size($hamburger-size);
    @include position(absolute, $hamburger-position);
    @include transition(background $hamburger-speed ease-in-out);
    @extend .mobile-block;
    background-color: $hamburger-background;
    border-radius: $hamburger-radius;
    display: none;
    &:before, &:after, span {
        @include size(60% 10%);
        @include position(absolute, 25% null null 20%);
        @include transition-property(transform, all);
        @include transition-duration($hamburger-speed);
        @include transition-timing-function(ease);
        @include transform(translateZ(0));
        background-color: $hamburger-color;
        content: "";
    }
    &:after {
        top: 65%;
    }
    span {
        top: 45%;
    }
    &.open {
        background-color: $hamburger-background-open;
        &:before, &:after {
            @include transform(rotate(45deg));
            background-color: $hamburger-color-open;
            top: 45%;
        }
        &:after {
            @include transform(rotate(-45deg));
        }
        span {
            opacity: 0;
        }
    }
}