$icons: (
    amplion: 16px,
    calendar: 20px,
    cross: 14px 13px,
    edit: 22px,
    filter: 22px,
    flag: 16px 22px,
    grid: 26px,
    heart: 22px,
    home: 22px,
    globe: 20px,
    list: 30px 24px,
    lock: 26px 30px,
    map: 25px 24px,
    minus: 20px,
    nosmile: 22px,
    people: 20px,
    personal: 20px,
    photo: 24px 20px,
    plane2: 22px,
    plus: 20px,
    plus2: 30px,
    preview: 26px 16px,
    share: 22px,
    star: 36px,
    trash: 22px 26px,
    wheel: 30px,
    // docs
    doc: 31px 30px,
    html: 27px 6px,
    img: 24px 20px,
    pdf: 30px,
    txt: 22px 26px,
    xml: 31px 6px,
    // statuts
    accept: 22px,
    invite: 22px,
    maybe: 22px,
    refuse: 22px,
    favorite: 22px,
    tosee: 22px,
    visited: 22px,
    // transports
    bike: 22px,
    boat: 22px,
    bus: 22px,
    car: 22px,
    plane: 22px,
    train: 22px,
    walk: 22px,
    // cities
    city: 20px,
    country: 20px,
    facebook: 20px,
    foursquare: 20px,
);
$all-icons: "[class^=\"icon-\"]";

%icon {
    @include hide-text;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    &.textnohide {
        @include size(auto);
        background-position: left center;
        overflow: visible;
        text-indent: 0;
        white-space: normal;
        &.textleft {
            background-position: right center;
        }
    }
}

@each $icon, $size in $icons {
    .icon-#{$icon} {
        @include size($size);
        @extend %icon;
        background-image: url("../images/icons/icon-#{$icon}.png");
        &.textnohide {
            $height: nth($size, 1);
            @if length($size) > 1 {
                $height: nth($size, 2);
            }
            min-height: $height;
            padding-left: nth($size, 1) + 5px;
            &.textleft {
                padding-left: 0;
                padding-right: nth($size, 1) + 5px;
            }
        }
    }
}

.icon-amplion {
    &.orange {
        @include size(24px);
        background-color: $color9;
        border-radius: 12px;
    }
    &.white {
        @include size(24px);
        background-color: $white;
        border-radius: 12px;
    }
}

.icon-cross {
    background-position: left top;
    &.lightgray {
        background-position: left -13px;
    }
    &.gray {
        background-position: left -26px;
    }
    &.black {
        background-position: left -39px;
    }
    &.orange {
        background-position: left -52px;
    }
    &.red {
        background-position: left -65px;
    }
    &.blue {
        background-position: left bottom;
    }
}

.icon-plus2 {
    background-position: left top;
    &.blue1 {
        background-position: left -30px;
    }
    &.blue2 {
        background-position: left bottom;
    }
}

.icon-star {
    background-position: left -72px;
    &.hover {
        background-position: left -36px;
    }
    &.active {
        background-position: left top;
    }
}

.icon-wheel {
    background-position: left top;
    opacity: .5;
    &.blue {
        background-position: left bottom;
        opacity: 1;
    }
}

.icon-city,
.icon-country,
.icon-facebook,
.icon-foursquare {
    background-position: left top;
    &.black {
        background-position: left bottom;
    }
}

.icon-bike,
.icon-boat,
.icon-bus,
.icon-car,
.icon-plane,
.icon-train,
.icon-walk {
    background-position: left top;
    &.black {
        background-position: left bottom;
    }
}

.icon-holder {
    @include position(relative);
    display: inline-block;
    #{$all-icons} {
        @include position(absolute, 5px 5px null null);
    }
    &.minus {
        #{$all-icons} {
            @include position(absolute, -5px -5px null null);
        }
    }
}

%icons-hover {
    & > #{$all-icons} {
        @include position(absolute, 10px 10px null null);
        display: none;
    }
    & > .icon-star {
        display: inline-block;
    }
    &:hover > #{$all-icons} {
        display: inline-block;
    }
    &:hover > .icon-star {
        @extend .icon-star.hover;
        &.active {
            @extend .icon-star.active;
        }
    }
    @include tablet {
        & > #{$all-icons} {
            @include position(absolute, 5px 5px null null);
        }
    }
}