$menus: (//color, background, border
    header: (
        link: $color5 $white $white,
        hover: $color3 $white rgba($color3, .5),
        active: $color5 $white $color2,
        point: $color5,
        separator: $color5,
    ),
    footer: (
        link: $color5 $white $white,
        hover: $color3 $white rgba($color3, .5),
        active: $white $color2 $color2,
        point: $color2,
        separator: $color2,
    ),
    homepage: (
        link: $white $color6 $color6,
        hover: $white $color6 $color9,
        active: $white $color6 rgba($white, .5),
        point: $white,
        separator: rgba($white, .5),
    ),
    dashboard: (
        link: $color5 $color20 $color20,
        hover: $color5 rgba($white, .5) rgba($color6, .5),
        active: $color5 rgba($white, .5) rgba($color6, .5),
        point: $color2,
        separator: $color2,
    ),
);
$menu-height: 20px;
$menu-radius: $radius;
$menu-speed: $speed;

%menu {
    &.separator {
        border-left: 1px solid transparent;
        margin-left: 10px;
        padding-left: 10px;
    }
    li {
        &:before {
            content: '•';
            display: inline-block;
            font-weight: bold;
            margin: 0 5px;
        }
        &:first-child {
            &:before {
                content: none;
            }
        }
    }
    a {
        @include transition(all $menu-speed);
        border-style: solid;
        border-width: 1px;
        border-radius: $menu-radius;
        display: inline-block;
        font-weight: bold;
        height: $menu-height;
        line-height: $menu-height;
        margin: 0 5px;
        padding: 9px;
        text-decoration: none;
        //text-transform: uppercase;
        &:hover {
            text-decoration: none;
        }
    }
    @include tablet {
        &.separator {
            margin-left: 5px;
            padding-left: 5px;
        }
        li:before {
            content: none;
        }
        a {
            margin: 0 2px;
            padding: 9px 4px;
        }
    }
}

@each $menu, $colors in $menus {
    $link: map-get($colors, link);
    $hover: map-get($colors, hover);
    $active: map-get($colors, active);
    $point: map-get($colors, point);
    $separator: map-get($colors, separator);
    .menu-#{$menu} {
        @extend %menu;
        &.separator {
            border-left-color: $separator;
        }
        li:before {
            color: $point;
        }
        a {
            color: nth($link, 1);
            background-color: nth($link, 2);
            border-color: nth($link, 3);
        }
        // must be after or before .active
        a:hover {
            color: nth($hover, 1);
            background-color: nth($hover, 2);
            border-color: nth($hover, 3);
        }
        .active a,
        a.active {
            color: nth($active, 1);
            background-color: nth($active, 2);
            border-color: nth($active, 3);
        }
    }
}