.popup {
    display: none;
    z-index: 99999;
    &:before {
        @include position(fixed, 0 0 0 0);
        background-color: rgba($black, .5);
        content: "";
        display: block;
        z-index: 99999;
        min-width: 740px;
    }

    & > div {
        @include position(fixed, 50% null null 50%);
        @include transform(translateX(-50%) translateY(-50%));
        background-color: $white;
        border-top: 6px solid $color6;
        border-radius: $radius;
        box-shadow: 0 0 0 4px rgba($black, .1);
        color: $black;
        height: auto;
        max-width: 640px;
        min-width: 320px;
        padding: 30px;
        width: 50%;
        z-index: 99999;
    }
    .close {
        @include size(40px);
        @include position(absolute, -15px -15px null null);
        @include hide-text;
        background-color: $color5;
        border-radius: 20px;
        &:before {
            @include position(absolute, 13px null null 13px);
            @extend .icon-cross;
            content: "";
        }
    }
}

.popup2 {
    @include position(relative);
    background-color: $white;
    border: 2px solid $color10;
    border-top: 5px solid $color6;
    border-radius: $radius;
    color: $black;
    display: none;
    padding: 20px;
    z-index: 99999;
    .close {
        @include size(40px);
        @include position(absolute, 10px 10px null null);
        @include hide-text;
        background-color: $color5;
        border-radius: 20px;
        &:before {
            @include position(absolute, 13px null null 13px);
            @extend .icon-cross;
            content: "";
        }
    }
}