$tag-background: $color6;
$tag-background-hover: $color5;
$tag-border: $color6;
$tag-border-hover: $color5;
$tag-color: $white;
$tag-color-hover: $white;
$tag-margin: 0 6px 6px 0;
//$tag-padding: 6px 30px 6px 10px;
$tag-padding: 6px 10px;
$tag-radius: $radius;
$tag-speed: $speed;

.tag {
    @include position(relative);
    @include margin($tag-margin);
    @include padding($tag-padding);
    @include transition(all $tag-speed);
    background-color: $tag-background;
    border: 1px solid $tag-border;
    border-radius: $tag-radius;
    color: $tag-color;
    display: inline-block;
    text-decoration: none;
    //&:before {
    //    @include position(absolute, 10px 7px null null);
    //    @extend .icon-cross;
    //    content: "";
    //}
    &:hover {
        background-color: $tag-background-hover;
        border-color: $tag-border-hover;
        color: $tag-color-hover;
        text-decoration: none;
    }
    //&.inverse {
    //    background-color: $tag-background-hover;
    //    border: 1px solid $tag-border-hover;
    //    color: $tag-color-hover;
    //    &:hover {
    //        background-color: $tag-background;
    //        border-color: $tag-border;
    //        color: $tag-color;
    //    }
    //}
}

.tags {
    .tag {
        @extend .tag;
    }
}