
.notif{
    

    .del-btn{
        border: 1px solid $light-blue3;
        color: $light-blue3;
        font-weight: 500;
    }

    .notif_item{
        border: 1px solid $light-blue;
        border-radius: 4px;
        margin-bottom: 20px;
        position: relative;
        text-align: left;
        
        .msg{
            /*border: 1px solid red;*/
            padding:15px;
            padding-top: 30px;
            display: inline-block;
            width: 90%;
            text-align: left;     
            
            .date{
                color: gray;
            }       
        }

        .srv{
            /*border: 1px solid red;*/
            display: inline-block;
            vertical-align: top;
            margin-top: 30px;
            
            text-align: right;        
            
            .link{
                color: white;
                background-color: $light-blue;
            }

            
        }

        .notif_delete {
            display: inline-block;

            position: absolute;
            top: 10px;
            right: 10px;

            padding: 9px;
            border: 1px solid $light-blue;
            border-radius: 4px;

            .icon-bin {
                display: inline-block;
                    
                color: $light-blue;
                font-size: 24px;
            }
        }
        .notif_delete:hover{
            color: $dark-blue;
            border-color: $dark-blue;
        }
    }

}