

.popup-n{
    margin-bottom: 10px;
    position: relative;

    .title{
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        padding: 5px;
    }

    .top-line{
        /*height: 4px;*/
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-top: 5px solid $dark-blue;
    }

    .cont{
        border-left: 1px solid $light-blue3;
        border-right: 1px solid $light-blue3;
        border-bottom: 1px solid $light-blue3;
        
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .close{
        
        display: inline-block;

        width: 32px;
        height: 32px;

        position: absolute;
        top: 7px;
        right: 5px;

        text-decoration: none;
        font-size: 32px;
        color: $dark-blue;
        /*font-weight: 700;*/
    }

    .close:hover{
        color: darkred;
    }

}

.popup-share{
    .message{
        
        textarea{
            width: 95%;
            border: 1px solid $light-blue3;
        
            border-radius: 2px;
            line-height: 2;
            padding: 10px;
            font-size: 16px;
        }
        
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;

        
    }

    .bottom{

        @include text-justify;
        padding-left: 10px;
        padding-right: 10px;

        .share_all {
            display: inline-block;

            .share-cont {
                /*border: 1px solid red;*/
                text-align: left;
            }
        }

        .share{
            display: inline-block;
            
            vertical-align: top;
            margin-top: 40px;            

            color: white;
            background-color: $light-blue3;
            font-weight: 500;
        }
    }
}