
.popup {
    display: none;
    z-index: 99999;
    &:before {
        position:fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        display: block;
        z-index: 99999;        
    }

    & > div {
        position:fixed;
        top: 50%;
        left: 50%;        
        transform: translate(-50%, -50%);        
        background-color: white;
        border-top: 6px solid $dark-blue;
        border-radius: 4px;
        box-shadow: 0 0 0 4px rgba(black, .1);
        color: black;
        height: auto;
        max-width: 640px;
        min-width: 320px;
        padding: 30px;
        width: 50%;
        z-index: 99999;
    }

    .btns{
        .cancel {
            color: white;
            background-color: darkred;            
        }
        .confirm {
            color: white;
            background-color: $green;
        }
    }

    .close {
       display: inline-block;

        width: 32px;
        height: 32px;

        position: absolute;
        top: 7px;
        right: 5px;

        text-decoration: none;
        font-size: 32px;
        color: $dark-blue;   
    }
    .close:hover{
        color: darkred;
    }
}


.popup-n{
    margin-bottom: 10px;
    position: relative;

    .title{
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        padding: 5px;
    }

    .top-line{
        /*height: 4px;*/
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-top: 5px solid $dark-blue;
    }

    .cont{
        border-left: 1px solid $light-blue3;
        border-right: 1px solid $light-blue3;
        border-bottom: 1px solid $light-blue3;
        
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .close{
        
        display: inline-block;

        width: 32px;
        height: 32px;

        position: absolute;
        top: 7px;
        right: 5px;

        text-decoration: none;
        font-size: 32px;
        color: $dark-blue;
        /*font-weight: 700;*/
    }

    .close:hover{
        color: darkred;
    }

}

.icon-visited {
    height: 22px;
    width: 22px;
    background-image: url("../images/icons/icon-visited.png");
}

.popup-share{
    .message{
        
        textarea{
            width: 95%;
            border: 1px solid $light-blue3;
        
            border-radius: 2px;
            line-height: 2;
            padding: 10px;
            font-size: 16px;
        }
        
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;

        
    }

    .htbl{

        padding-left: 10px;
        padding-right: 10px;

        .left {
            vertical-align: middle;
            padding: 8px;
        }

        .right{
            
            vertical-align: middle;
            padding: 16px;

            .lbtn{
                color: white;
                background-color: $light-blue3;
            }
        }
    }
}