
$font-ptsans: "PT Sans", sans-serif;
$font-lato: "Lato", sans-serif;

$dark-blue: #005476;
$light-blue: #65BDD7;
$light-blue2: #009EC4;
$light-blue3: #3298C1;
$light-blue4: #ccedf5;

$green: #3DA33D;
$orange: #F56E12;
$yellow: #FFC400;
$yellow2: #F5C519;

$tablet-width: 959px;

@mixin tablet {
    @media screen and (max-width: $tablet-width) {
        @content;
    }
}


@mixin below-width($width) {
    @media screen and (max-width: $width + 'px' ) {
        @content;
    }
}

@mixin text-justify{
    text-align: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify; /* not implemented yet, and will not be */
    text-align-last: justify; /* IE */
}


@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
    font-family: $font-ptsans;
    min-width: 320px;
    margin: 0;
    text-align: center;
    font-size: 20px;
}

input[type="text"]{    
    padding: 8px 13px;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    color: gray;
}

.lbtn{
    border-style: solid;
    border-width: 0;
    border-radius: 4px;                    
    font-weight: 700;
    height: 20px;
    line-height: 20px;

    margin: 0 5px;
    padding: 9px;

    text-decoration: none;
}

textarea:focus, input:focus{
    outline: none;
}

.wrapper{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@include below-width(1023){

    .menu_all:nth-of-type(2){
        display: none;
    }

}

h1{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}


p{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.menu_all {
    padding-right: 8px;
    padding-left: 8px;

    @include text-justify;
    
    background-color: $dark-blue;

    .logo_all {
        vertical-align:top;
            
        padding-top: 10px;
        display: inline-block;

        @include below-width(1023){
            display: block;
            padding-left: 10px;
            text-align: left;
        }

        img {
            height: 35px;
            width: 210px;

            @include below-width(420){            
                height: 30px;
                width: 180px;
            }
        }

    }



    .links {        
        display: inline-block;   
        padding-left: 17px;
        padding-right: 17px;  
         
        @include below-width(1023){            
            display: block;
        }
        vertical-align:top;        

        div {
            height: 50px;            
            display: inline-block;            
            padding-right: 10px;      

            font-weight: 600;          
                
            a {
                display: inline-block;
                margin-top: 12px;
                color: white;
                text-decoration: none;
            }   

            a:hover {
                color: $light-blue;
            }

            .active {
                color: $dark-blue;

                background-color: $light-blue;

                border-style: solid;
                border-width: 0;
                border-radius: 4px;                    
                
                padding: 5px;
            }

            a:hover.active {
                color: $dark-blue;
            }

        }

    }

    

    .icons_all {
        display: inline-block;
        height: 50px;            
        vertical-align:top;     
        
        @include below-width(1023){
            position: absolute;
            right: 10px;
            top: 5px;
        } 
    }

    .icons{
        margin-top: 12px;    
        height: 24px;
        border-left: 1px solid $light-blue;
        border-right: 1px solid $light-blue;
        padding-right: 6px;
        padding-left: 6px;
            
        @include below-width(1023){            
            border: 0;        
        }
            
        a{
            padding-right: 10px;
            text-decoration:none;
            color: $light-blue;
            font-size: 22px;
        }

        a:hover {
            color: $light-blue2;
        }
    }

}


footer {
    .footer_cont {
        margin-top: 40px;
        height: 200px;
        background-color: $light-blue3;
        color: white;
    }
}

@import "popup";
@import "icofonts";
@import "dropdown";
@import "homepage";
@import "pins";
@import "wiki-home";
