body {
  font-family: "PT Sans", sans-serif;
  min-width: 320px; }

.menu_all {
  text-align: center;
  background-color: #005476; }
  .menu_all .logo_all {
    height: 30px;
    width: 180px;
    vertical-align: top;
    padding-top: 12px;
    display: inline-block; }
  .menu_all .links {
    display: inline-block;
    vertical-align: top; }
    .menu_all .links div {
      height: 50px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      padding-left: 20px;
      font-weight: 600; }
      .menu_all .links div a {
        color: white;
        text-decoration: none; }
      .menu_all .links div a:hover {
        color: #65BDD7; }
      .menu_all .links div .active {
        color: #005476;
        background-color: #65BDD7;
        border-style: solid;
        border-width: 0;
        border-radius: 4px;
        padding: 5px; }
      .menu_all .links div a:hover.active {
        color: #005476; }
  .menu_all .icons_all {
    display: inline-block;
    height: 50px;
    vertical-align: top; }
  .menu_all .icons {
    margin-top: 12px;
    height: 24px;
    border-left: 1px solid #65BDD7;
    border-right: 1px solid #65BDD7; }
    .menu_all .icons a {
      padding-right: 15px;
      text-decoration: none; }
    .menu_all .icons a:hover {
      opacity: 0.8; }

footer .footer_cont {
  margin-top: 40px;
  height: 200px;
  background-color: #3298C1;
  color: white; }

/*homepage*/
.title_show_all {
  height: 450px;
  overflow: hidden;
  position: relative; }
  .title_show_all .photo {
    width: 1920px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/images/n/title1.jpg"); }
    .title_show_all .photo .bck_holder .bck {
      display: inline-block;
      vertical-align: top; }
    .title_show_all .photo .bck_holder .empty_fill {
      background-color: rgba(50, 152, 193, 0.6);
      height: 450px;
      width: 470px; }
    .title_show_all .photo .bck_holder .text_area {
      /*background-image: url("/images/n/title-shape-opt.svg")*/
      height: 450px;
      width: 350px;
      margin-left: -4px; }
      .title_show_all .photo .bck_holder .text_area ::after {
        content: "";
        background: url("/images/n/title-shape-opt.svg");
        background-repeat: no-repeat;
        opacity: 0.4;
        top: 0;
        left: 470px;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; }
      .title_show_all .photo .bck_holder .text_area .motto {
        margin-top: 70px;
        margin-bottom: 25px;
        font-size: 32px;
        max-width: 300px;
        color: white;
        font-weight: 700; }
      .title_show_all .photo .bck_holder .text_area .link {
        color: #65BDD7;
        background-color: white;
        border-style: solid;
        border-width: 0;
        border-radius: 4px;
        font-weight: 700;
        height: 20px;
        line-height: 20px;
        margin: 0 5px;
        padding: 9px;
        text-decoration: none; }

.fly_all {
  background-color: #3298C1;
  text-align: center;
  padding-top: 50px; }
  .fly_all .motto {
    font-size: 28px;
    color: white;
    margin-bottom: 50px; }
  .fly_all .icons .block {
    display: inline-block;
    vertical-align: top;
    height: 250px; }
  .fly_all .icons .mr {
    margin-right: 30px; }
    @media screen and (max-width: 830px) {
      .fly_all .icons .mr {
        margin-right: 5px; } }
  .fly_all .icons .icon {
    width: 120px; }
    @media screen and (max-width: 510px) {
      .fly_all .icons .icon {
        width: 80px; } }
    @media screen and (max-width: 510px) {
      .fly_all .icons .icon img {
        width: 80px; } }
    .fly_all .icons .icon .txt {
      margin-top: 30px;
      color: white;
      font-size: 24px; }
      @media screen and (max-width: 510px) {
        .fly_all .icons .icon .txt {
          font-size: 18px;
          text-align: left; } }
  @media screen and (max-width: 420px) {
    .fly_all .icons .pointer {
      display: none; } }
  .fly_all .icons .pointer .center_cont {
    margin-top: 59px;
    height: 15px; }
    @media screen and (max-width: 510px) {
      .fly_all .icons .pointer .center_cont {
        margin-top: 40px; } }
    .fly_all .icons .pointer .center_cont .dashed_cont {
      display: inline-block;
      height: 15px; }
      .fly_all .icons .pointer .center_cont .dashed_cont .line {
        margin-top: 6px;
        width: 120px;
        height: 1px;
        border-top: 4px dashed white; }
        @media screen and (max-width: 720px) {
          .fly_all .icons .pointer .center_cont .dashed_cont .line {
            width: 60px; } }
        @media screen and (max-width: 590px) {
          .fly_all .icons .pointer .center_cont .dashed_cont .line {
            width: 20px; } }
    .fly_all .icons .pointer .center_cont .arrow {
      display: inline-block;
      width: 15px;
      height: 15px; }

.social {
  text-align: center;
  padding-top: 60px; }
  .social .motto {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px; }
  .social .blocks .mr {
    margin-right: 50px; }
    @media screen and (max-width: 959px) {
      .social .blocks .mr {
        margin-right: 00px; } }
  .social .blocks .item {
    display: inline-block;
    width: 200px;
    margin-bottom: 30px; }
    .social .blocks .item .image {
      width: 84px;
      height: 84px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px; }
    .social .blocks .item .name {
      font-size: 28px;
      font-weight: 500;
      height: 30px;
      margin-bottom: 20px; }
      .social .blocks .item .name .blue {
        color: #009EC4; }
      .social .blocks .item .name .yellow {
        color: #FFC400; }
      .social .blocks .item .name .orange {
        color: #F56E12; }
      .social .blocks .item .name .green {
        color: #3DA33D; }
    .social .blocks .item .txt {
      font-size: 16px;
      height: 150px; }
    .social .blocks .item .btn {
      text-align: center; }
      .social .blocks .item .btn .blue {
        background-color: #009EC4; }
      .social .blocks .item .btn .yellow {
        background-color: #FFC400; }
      .social .blocks .item .btn .orange {
        background-color: #F56E12; }
      .social .blocks .item .btn .green {
        background-color: #3DA33D; }
      .social .blocks .item .btn a {
        display: inline-block;
        color: white;
        background-color: #009EC4;
        border-style: solid;
        border-width: 0;
        border-radius: 4px;
        font-weight: 500;
        font-size: 18px;
        width: 75%;
        padding-top: 13px;
        padding-bottom: 13px;
        text-decoration: none; }
      .social .blocks .item .btn a:hover {
        opacity: 0.7; }
