body {
  font-family: "PT Sans", sans-serif;
  min-width: 320px;
  margin: 0;
  text-align: center;
  font-size: 20px; }

input[type="text"] {
  padding: 8px 13px;
  border: 0;
  border-radius: 4px;
  font-size: 20px;
  color: gray; }

.lbtn, .photo-button label, .wiki-page .langs a {
  border-style: solid;
  border-width: 0;
  border-radius: 4px;
  font-weight: 700;
  height: 20px;
  line-height: 40px;
  margin: 0 5px;
  padding: 9px;
  text-decoration: none; }

textarea:focus, input:focus {
  outline: none; }

.wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-width: 1023px) {
  .menu_all:nth-of-type(2) {
    display: none; } }

h1 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px; }

p {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px; }

.photo-button {
  text-decoration: none; }
  .photo-button input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .photo-button label {
    color: #3298C1;
    border: 1px solid #3298C1;
    cursor: pointer;
    cursor: hand; }

.photo-button:hover label {
  border: 1px solid #005476;
  color: #005476; }

.htbl {
  display: table;
  width: 100%; }
  .htbl > div {
    display: table-cell;
    width: 50%; }
  .htbl .left {
    text-align: left; }
  .htbl .right {
    text-align: right; }

button {
  color: white;
  font-weight: bold;
  background-color: #3298C1;
  /*border-color: $light-blue3;*/
  border: none;
  border-radius: 4px;
  padding: 9px 29px;
  text-decoration: none;
  box-shadow: none !important;
  margin: 4px; }

button:hover {
  cursor: pointer;
  cursor: hand;
  opacity: 0.8; }

button:active {
  outline: none;
  border: none; }

.menu_all {
  padding-right: 8px;
  padding-left: 8px;
  text-align: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
  /* not implemented yet, and will not be */
  text-align-last: justify;
  /* IE */
  background-color: #005476; }
  .menu_all .logo_all {
    vertical-align: top;
    padding-top: 10px;
    display: inline-block; }
    @media screen and (max-width: 1023px) {
      .menu_all .logo_all {
        display: block;
        padding-left: 10px;
        text-align: left; } }
    .menu_all .logo_all img {
      height: 35px;
      width: 210px; }
      @media screen and (max-width: 420px) {
        .menu_all .logo_all img {
          height: 30px;
          width: 180px; } }
  .menu_all .links {
    display: inline-block;
    padding-left: 17px;
    padding-right: 17px;
    vertical-align: top; }
    @media screen and (max-width: 1023px) {
      .menu_all .links {
        display: block; } }
    .menu_all .links div {
      height: 50px;
      display: inline-block;
      padding-right: 10px;
      font-weight: 600; }
      .menu_all .links div a {
        display: inline-block;
        margin-top: 12px;
        color: white;
        text-decoration: none; }
      .menu_all .links div a:hover {
        color: #65BDD7; }
      .menu_all .links div .active {
        color: #005476;
        background-color: #65BDD7;
        border-style: solid;
        border-width: 0;
        border-radius: 4px;
        padding: 5px; }
      .menu_all .links div a:hover.active {
        color: #005476; }
  .menu_all .icons_all {
    display: inline-block;
    height: 50px;
    vertical-align: top; }
    @media screen and (max-width: 1023px) {
      .menu_all .icons_all {
        position: absolute;
        right: 10px;
        top: 5px; } }
  .menu_all .icons {
    margin-top: 12px;
    height: 24px;
    border-left: 1px solid #65BDD7;
    border-right: 1px solid #65BDD7;
    padding-right: 6px;
    padding-left: 6px; }
    @media screen and (max-width: 1023px) {
      .menu_all .icons {
        border: 0; } }
    .menu_all .icons a {
      padding-right: 10px;
      text-decoration: none;
      color: #65BDD7;
      font-size: 22px; }
    .menu_all .icons a:hover {
      color: #009EC4; }

footer .footer_cont {
  height: 200px;
  background-color: #3298C1;
  color: white; }

.popup {
  display: none;
  z-index: 99999; }
  .popup:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    z-index: 99999; }
  .popup > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-top: 6px solid #005476;
    border-radius: 4px;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    color: black;
    height: auto;
    max-width: 640px;
    min-width: 320px;
    padding: 30px;
    width: 50%;
    z-index: 99999; }
  .popup .btns .cancel {
    color: white;
    background-color: darkred; }
  .popup .btns .confirm {
    color: white;
    background-color: #3DA33D; }
  .popup .close {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 7px;
    right: 5px;
    text-decoration: none;
    font-size: 32px;
    color: #005476; }
  .popup .close:hover {
    color: darkred; }

.popup-n {
  margin-bottom: 10px;
  position: relative; }
  .popup-n .title {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    padding: 5px; }
  .popup-n .top-line {
    /*height: 4px;*/
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top: 5px solid #005476; }
  .popup-n .cont {
    border-left: 1px solid #3298C1;
    border-right: 1px solid #3298C1;
    border-bottom: 1px solid #3298C1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
  .popup-n .close {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 7px;
    right: 5px;
    text-decoration: none;
    font-size: 32px;
    color: #005476;
    /*font-weight: 700;*/ }
  .popup-n .close:hover {
    color: darkred; }

.icon-visited {
  height: 22px;
  width: 22px;
  background-image: url("../images/icons/icon-visited.png"); }

.popup-share .message {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px; }
  .popup-share .message textarea {
    width: 95%;
    border: 1px solid #3298C1;
    border-radius: 2px;
    line-height: 2;
    padding: 10px;
    font-size: 16px; }

.popup-share .bottom {
  text-align: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
  /* not implemented yet, and will not be */
  text-align-last: justify;
  /* IE */
  padding-left: 10px;
  padding-right: 10px; }
  .popup-share .bottom .share_all {
    display: inline-block; }
    .popup-share .bottom .share_all .share-cont {
      /*border: 1px solid red;*/
      text-align: left; }
      .popup-share .bottom .share_all .share-cont .icon-holder {
        width: 60px;
        height: 60px;
        position: relative; }
      .popup-share .bottom .share_all .share-cont .icon-visited {
        position: absolute;
        top: -5px;
        right: -5px; }
  .popup-share .bottom .share {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    color: white;
    background-color: #3298C1;
    font-weight: 500; }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/pins/icomoon.eot?f4h0hv");
  src: url("/fonts/pins/icomoon.eot?f4h0hv#iefix") format("embedded-opentype"), url("/fonts/pins/icomoon.ttf?f4h0hv") format("truetype"), url("/fonts/pins/icomoon.woff?f4h0hv") format("woff"), url("/fonts/pins/icomoon.svg?f4h0hv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bin:before {
  content: "\e9ac"; }

.icon-mail2:before {
  content: "\ea84"; }

.icon-envelope:before {
  content: "\e90c"; }

.icon-minus:before {
  content: "\e915"; }

.icon-plus:before {
  content: "\e916"; }

.icon-star-left:before {
  content: "\e913"; }

.icon-star-right:before {
  content: "\e914"; }

.icon-dropdown-arrow:before {
  content: "\e912"; }

.icon-close-cross:before {
  content: "\e911"; }

.icon-ico-travel-buddy:before {
  content: "\e90a"; }

.icon-ico-wiki:before {
  content: "\e900"; }

.icon-ico-travel-map:before {
  content: "\e901"; }

.icon-ico-organizer:before {
  content: "\e902"; }

.icon-friends:before {
  content: "\e90b"; }

.icon-logout:before {
  content: "\e90d"; }

.icon-dislike:before {
  content: "\e90e"; }

.icon-edit-pencil:before {
  content: "\e908"; }

.icon-like:before {
  content: "\e909"; }

.icon-share:before {
  content: "\e907"; }

.icon-city:before {
  content: "\e906"; }

.icon-country:before {
  content: "\e905"; }

.icon-everybody-data:before {
  content: "\e903"; }

.icon-friends-data:before {
  content: "\e904"; }

.icon-my-data:before {
  content: "\e90f"; }

.icon-places:before {
  content: "\e910"; }

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 18px; }
  .dropdown .selected, .dropdown .inputed {
    position: relative;
    background-color: white;
    border: 1px solid rgba(101, 189, 215, 0.5);
    border-radius: 4px;
    color: #65BDD7;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 9px 19px; }
  .dropdown .selected {
    padding-right: 29px !important; }
    .dropdown .selected:after {
      width: 10px;
      height: 5px;
      position: absolute;
      top: 50%;
      right: 5px;
      background: transparent url("../images/arrow-blue.png") left top no-repeat;
      content: "";
      display: block;
      margin-top: -2px;
      line-height: 30px; }
  .dropdown .inputed:focus, .dropdown .inputed:active {
    background-color: white;
    border-color: rgba(101, 189, 215, 0.5); }
  .dropdown ul {
    position: absolute;
    top: 39px;
    left: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: white;
    border: 1px solid rgba(101, 189, 215, 0.5);
    color: #65BDD7;
    cursor: pointer;
    display: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    z-index: 99999; }
    .dropdown ul li {
      border-bottom: 1px solid rgba(101, 189, 215, 0.5);
      list-style: none;
      padding: 9px 19px; }
      .dropdown ul li.disabled {
        color: gray;
        cursor: default; }
      .dropdown ul li:hover:not(.disabled) {
        background-color: rgba(101, 189, 215, 0.2); }
      .dropdown ul li:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-color: transparent; }
      .dropdown ul li a {
        color: #65BDD7;
        text-decoration: none; }
  .dropdown.dropdown-open .selected, .dropdown.dropdown-open .inputed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .dropdown.dropdown-open .selected:after {
    background-position: left bottom; }
  .dropdown.dropdown-open ul {
    display: block; }

.title_show_all {
  height: 450px;
  overflow: hidden;
  position: relative;
  text-align: left;
  border-bottom: 2px solid #005476; }
  .title_show_all .photo {
    width: 1920px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/images/n/title1.jpg"); }
    @media screen and (max-width: 999px) {
      .title_show_all .photo .bck_holder {
        text-align: center; } }
    .title_show_all .photo .bck_holder .empty_fill {
      display: inline-block;
      vertical-align: top;
      background-color: rgba(50, 152, 193, 0.6);
      height: 450px;
      width: 470px; }
      @media screen and (max-width: 999px) {
        .title_show_all .photo .bck_holder .empty_fill {
          display: none; } }
    .title_show_all .photo .bck_holder .text_area {
      display: inline-block;
      vertical-align: top;
      height: 450px;
      width: 350px;
      margin-left: -4px; }
      .title_show_all .photo .bck_holder .text_area ::after {
        content: "";
        background: url("/images/n/title-shape.svg");
        background-repeat: no-repeat;
        opacity: 0.4;
        top: 0;
        left: 470px;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; }
      @media screen and (max-width: 999px) {
        .title_show_all .photo .bck_holder .text_area {
          height: 450px;
          width: 450px;
          text-align: center; }
          .title_show_all .photo .bck_holder .text_area ::after {
            background: url("/images/n/title-shape-circle.svg");
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            left: 658px; } }
      .title_show_all .photo .bck_holder .text_area .motto {
        margin-top: 70px;
        margin-bottom: 25px;
        font-size: 32px;
        max-width: 300px;
        color: white;
        font-weight: 700; }
        @media screen and (max-width: 999px) {
          .title_show_all .photo .bck_holder .text_area .motto {
            text-align: center;
            max-width: 500px; } }
      .title_show_all .photo .bck_holder .text_area .link {
        color: #65BDD7;
        background-color: white;
        border-style: solid;
        border-width: 0;
        border-radius: 4px;
        font-weight: 700;
        height: 20px;
        line-height: 20px;
        margin: 0 5px;
        padding: 9px;
        text-decoration: none; }

.fly_all {
  background-color: #3298C1;
  background-color: #005476;
  text-align: center;
  padding-top: 50px; }
  .fly_all .motto {
    font-size: 28px;
    color: white;
    margin-bottom: 50px; }
  .fly_all .icons .block {
    display: inline-block;
    vertical-align: top;
    height: 250px; }
  .fly_all .icons .mr {
    margin-right: 30px; }
    @media screen and (max-width: 830px) {
      .fly_all .icons .mr {
        margin-right: 5px; } }
  .fly_all .icons .icon {
    width: 120px; }
    @media screen and (max-width: 510px) {
      .fly_all .icons .icon {
        width: 80px; } }
    @media screen and (max-width: 510px) {
      .fly_all .icons .icon img {
        width: 80px; } }
    .fly_all .icons .icon .txt {
      margin-top: 30px;
      color: white;
      font-size: 24px; }
      @media screen and (max-width: 510px) {
        .fly_all .icons .icon .txt {
          font-size: 18px;
          text-align: left; } }
  @media screen and (max-width: 420px) {
    .fly_all .icons .pointer {
      display: none; } }
  .fly_all .icons .pointer .center_cont {
    margin-top: 59px;
    height: 15px; }
    @media screen and (max-width: 510px) {
      .fly_all .icons .pointer .center_cont {
        margin-top: 40px; } }
    .fly_all .icons .pointer .center_cont .dashed_cont {
      display: inline-block;
      height: 15px; }
      .fly_all .icons .pointer .center_cont .dashed_cont .line {
        margin-top: 6px;
        width: 120px;
        height: 1px;
        border-top: 4px dashed white; }
        @media screen and (max-width: 720px) {
          .fly_all .icons .pointer .center_cont .dashed_cont .line {
            width: 60px; } }
        @media screen and (max-width: 590px) {
          .fly_all .icons .pointer .center_cont .dashed_cont .line {
            width: 20px; } }
    .fly_all .icons .pointer .center_cont .arrow {
      display: inline-block;
      width: 15px;
      height: 15px; }
  .fly_all .loc {
    padding-top: 40px;
    padding-bottom: 50px; }
    .fly_all .loc input {
      /*border: 3px solid $dark-blue !important;*/ }
    .fly_all .loc ul {
      border-color: #005476 !important; }
    .fly_all .loc li {
      border-color: #005476 !important;
      color: #005476 !important;
      text-align: left; }
      .fly_all .loc li .icon-city {
        font-size: 26px;
        color: #F56E12; }

.social {
  text-align: center;
  padding-top: 60px; }
  .social .motto {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px; }
  .social .blocks .mr {
    margin-right: 50px; }
    @media screen and (max-width: 959px) {
      .social .blocks .mr {
        margin-right: 00px; } }
  .social .blocks .item {
    display: inline-block;
    width: 200px;
    margin-bottom: 30px; }
    .social .blocks .item .blue {
      color: #009EC4; }
    .social .blocks .item .yellow {
      color: #FFC400; }
    .social .blocks .item .orange {
      color: #F56E12; }
    .social .blocks .item .green {
      color: #3DA33D; }
    .social .blocks .item .image {
      width: 84px;
      height: 84px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      font-size: 84px; }
    .social .blocks .item .name {
      font-size: 28px;
      font-weight: 500;
      height: 30px;
      margin-bottom: 20px; }
    .social .blocks .item .txt {
      font-size: 16px;
      height: 150px; }
    .social .blocks .item .btn {
      text-align: center; }
      .social .blocks .item .btn .blue {
        background-color: #009EC4; }
      .social .blocks .item .btn .yellow {
        background-color: #FFC400; }
      .social .blocks .item .btn .orange {
        background-color: #F56E12; }
      .social .blocks .item .btn .green {
        background-color: #3DA33D; }
      .social .blocks .item .btn a {
        display: inline-block;
        color: white;
        background-color: #009EC4;
        border-style: solid;
        border-width: 0;
        border-radius: 4px;
        font-weight: 500;
        font-size: 18px;
        width: 75%;
        padding-top: 13px;
        padding-bottom: 13px;
        text-decoration: none; }
      .social .blocks .item .btn a:hover {
        opacity: 0.7; }

.icons_all {
  /*text-align:justify;*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  @media screen and (max-width: 920px) {
    .icons_all {
      display: block; } }
  .icons_all .block:first-of-type {
    margin-right: 20px; }
    @media screen and (max-width: 920px) {
      .icons_all .block:first-of-type {
        margin-right: 0; } }
  .icons_all .block {
    display: inline-block; }
    .icons_all .block .pr {
      padding-right: 10px; }
    .icons_all .block .ico_all {
      display: inline-block;
      text-align: center;
      vertical-align: top; }
      .icons_all .block .ico_all .ico {
        display: table-cell;
        vertical-align: middle;
        width: 136px;
        height: 136px;
        background-color: #ccedf5;
        border-radius: 2px;
        font-size: 94px; }
        @media screen and (max-width: 460px) {
          .icons_all .block .ico_all .ico {
            width: 100px;
            height: 100px;
            font-size: 70px; } }
        .icons_all .block .ico_all .ico a {
          line-height: 136px;
          text-decoration: none;
          color: #65BDD7; }
          @media screen and (max-width: 460px) {
            .icons_all .block .ico_all .ico a {
              line-height: 100px; } }
        .icons_all .block .ico_all .ico a:hover {
          color: #005476; }
        .icons_all .block .ico_all .ico .active {
          color: #005476; }
      .icons_all .block .ico_all .txt {
        margin-top: 13px;
        font-size: 16px;
        font-weight: 600;
        color: #65BDD7; }
        .icons_all .block .ico_all .txt .cmb_all {
          position: relative; }
          .icons_all .block .ico_all .txt .cmb_all .cmb {
            text-decoration: none;
            color: #65BDD7; }
          .icons_all .block .ico_all .txt .cmb_all .cmb:hover {
            color: #005476; }
          .icons_all .block .ico_all .txt .cmb_all .list {
            display: block;
            position: absolute;
            top: 30px;
            right: 0;
            text-align: left;
            height: 300px;
            width: 300px;
            z-index: 999999;
            background-color: white;
            border: 1px solid #65BDD7;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            font-size: 20px;
            font-weight: 500; }
            .icons_all .block .ico_all .txt .cmb_all .list .clear {
              border-bottom: 1px solid #65BDD7;
              padding-left: 10px; }
              .icons_all .block .ico_all .txt .cmb_all .list .clear a {
                color: darkred;
                /*font-size: 18px;*/
                text-decoration: none;
                font-weight: 600; }
              .icons_all .block .ico_all .txt .cmb_all .list .clear a:hover {
                color: #005476; }
            .icons_all .block .ico_all .txt .cmb_all .list .cont .item {
              border-bottom: 1px solid #65BDD7;
              padding-left: 10px; }

#map {
  max-width: 1280px;
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }
  #map .place-search {
    position: absolute;
    display: inline-block;
    top: 21px;
    left: 48px;
    z-index: 99999;
    height: 46px;
    font-size: 18px; }
    #map .place-search .loader {
      position: absolute;
      right: 25px;
      top: 7px; }
    #map .place-search input {
      background: url(/images/n/magnifier.svg) no-repeat scroll 7px 7px;
      background-color: white;
      background-position-y: 10px;
      background-position-x: 10px;
      padding-left: 37px;
      width: 200px; }
    #map .place-search .results {
      background-color: rgba(255, 255, 255, 0.95);
      position: absolute;
      border: 1px solid red;
      top: 47px;
      left: -45px; }
      #map .place-search .results .base-cont {
        width: 660px;
        text-align: left;
        margin-top: 10px; }
        @media screen and (max-width: 700px) {
          #map .place-search .results .base-cont {
            width: 335px; } }
        #map .place-search .results .base-cont ul {
          width: 320px;
          display: inline-block; }
          #map .place-search .results .base-cont ul li {
            list-style: none;
            margin-bottom: 3px;
            text-align: left; }
            #map .place-search .results .base-cont ul li .icon-city, #map .place-search .results .base-cont ul li .icon-country {
              font-size: 26px;
              color: #F56E12; }
      #map .place-search .results .soc-nets {
        padding-left: 15px; }
        #map .place-search .results .soc-nets .soc-item {
          width: 235px;
          margin-right: 3px;
          float: left; }
      #map .place-search .results .search-soc {
        margin-left: 20px;
        color: black;
        font-size: 22px; }
  #map .map-type {
    position: absolute;
    top: 17px;
    left: 260px;
    z-index: 99999; }
  #map .share {
    position: absolute;
    top: 17px;
    right: 10px;
    z-index: 99999;
    text-align: center;
    padding-top: 1px;
    color: #65BDD7;
    font-size: 32px;
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 4px; }
  #map .share:hover {
    color: #005476; }
  #map .preloader-cont {
    width: 100%;
    height: 500px;
    background-color: white; }
    #map .preloader-cont img {
      width: 128px;
      height: 128px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -64px;
      margin-top: -64px; }

.stats {
  margin-top: 12px;
  color: white; }
  .stats .bor {
    margin-left: 20px; }
    @media screen and (max-width: 959px) {
      .stats .bor {
        margin-left: 10px; } }
    @media screen and (max-width: 480px) {
      .stats .bor {
        margin-left: 5px; } }
  .stats table {
    width: 100%; }
    .stats table div {
      height: 70px;
      background-color: #3DA33D;
      border-radius: 2px; }
      .stats table div strong {
        font-size: 30px; }

.badge_all {
  width: 80px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px; }
  .badge_all .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px; }

.badges {
  text-align: center;
  margin-top: 40px; }

.cities_all .continent {
  display: inline-block; }
  .cities_all .continent .title {
    text-align: left; }
  .cities_all .continent .cities .badge_all {
    margin-top: 10px; }
    .cities_all .continent .cities .badge_all .icon {
      opacity: 0.5;
      cursor: pointer;
      cursor: hand; }
    .cities_all .continent .cities .badge_all .active {
      opacity: 1 !important; }
    .cities_all .continent .cities .badge_all .txt a {
      color: #65BDD7; }
    .cities_all .continent .cities .badge_all .txt a:hover {
      color: #005476; }

.my-legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  z-index: 99999;
  background-color: white;
  opacity: 0.7;
  border-radius: 10px; }

.my-legend .legend-title {
  text-align: left;
  margin: 5px;
  font-weight: bold;
  font-size: 90%; }

.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none; }

.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px; }

.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #999; }

.stars .star {
  display: inline-block;
  font-size: 30px; }
  .stars .star .active {
    color: #FFC400; }
  .stars .star .inactive {
    color: lightgray; }
  .stars .star .icon-star-left {
    float: left; }
  .stars .star .icon-star-right {
    margin-left: -0.4px;
    float: right; }

.wiki h1 {
  text-align: center; }

.wiki .search input {
  border: 0; }

.wiki .search li {
  min-width: 320px; }
  .wiki .search li a {
    display: inline-block; }
  .wiki .search li .stars {
    position: absolute;
    right: 5px;
    display: inline-block; }
    .wiki .search li .stars .star {
      font-size: 18px; }

.wiki .wiki_header_all {
  height: 450px;
  position: relative;
  text-align: center; }
  .wiki .wiki_header_all .wiki_header {
    border-bottom: 2px solid #005476;
    height: 450px;
    overflow: hidden;
    position: relative; }
    .wiki .wiki_header_all .wiki_header .bck {
      width: 1920px;
      height: 450px;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("/images/n/nyc1.jpg"); }
      .wiki .wiki_header_all .wiki_header .bck .search_all {
        display: inline-block;
        position: relative;
        height: 450px;
        width: 600px; }
        .wiki .wiki_header_all .wiki_header .bck .search_all .circle-bck {
          height: 450px;
          width: 600px;
          position: relative;
          background: url("/images/n/middle-circle.svg");
          opacity: 0.7; }
  .wiki .wiki_header_all .cont {
    display: inline-block;
    position: absolute;
    top: 0;
    min-width: 320px;
    max-width: 400px;
    height: 450px;
    transform: translateX(-50%);
    /*height: 450px;
            width: 600px;
            position: absolute;
            top:0;
            left:0;

            z-index: 99999;*/ }
    .wiki .wiki_header_all .cont h1 {
      color: white;
      font-weight: 500;
      margin-top: 80px; }

.wiki .wiki_info {
  /*background-color: $light-blue3;*/
  background-color: #005476; }
  .wiki .wiki_info .bl {
    margin-right: 30px; }
    @media screen and (max-width: 803px) {
      .wiki .wiki_info .bl {
        margin-right: 0; } }
  .wiki .wiki_info .br {
    margin-left: 30px; }
    @media screen and (max-width: 803px) {
      .wiki .wiki_info .br {
        margin-left: 0; } }
  .wiki .wiki_info .block {
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
    max-width: 360px;
    min-width: 320px;
    /*border: 1px solid red;*/ }
    .wiki .wiki_info .block .ico {
      width: 180px;
      height: 180px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 35px; }
    .wiki .wiki_info .block .title {
      color: #F5C519; }
    .wiki .wiki_info .block .text {
      color: white;
      height: 170px; }
    .wiki .wiki_info .block .btn {
      height: 50px; }
      .wiki .wiki_info .block .btn .lbtn, .wiki .wiki_info .block .btn .photo-button label, .photo-button .wiki .wiki_info .block .btn label, .wiki .wiki_info .block .btn .wiki-page .langs a, .wiki-page .langs .wiki .wiki_info .block .btn a {
        color: #3298C1;
        background-color: #F5C519; }

.wiki .wiki_article_wide .photo {
  height: 420px;
  overflow: hidden;
  position: relative;
  border-radius: 2px; }
  .wiki .wiki_article_wide .photo .bck {
    width: 1280px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-image: url("/images/n/wiki_wide.jpg");*/ }

.wiki .wiki_article_wide .service {
  position: relative;
  height: 20px; }
  .wiki .wiki_article_wide .service .title {
    position: absolute;
    left: 0; }
    .wiki .wiki_article_wide .service .title a {
      color: #3298C1;
      vertical-align: top; }
      .wiki .wiki_article_wide .service .title a h2 {
        font-weight: 500;
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 0; }
  .wiki .wiki_article_wide .service .stars {
    position: absolute;
    right: 0;
    top: 5px; }
    .wiki .wiki_article_wide .service .stars .star {
      font-size: 26px; }

.wiki .wiki_article_wide .txt {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px; }

.wiki .wiki_articles > :nth-child(odd) {
  margin-right: 10px; }
  @media screen and (max-width: 1280px) {
    .wiki .wiki_articles > :nth-child(odd) {
      margin-right: 0; } }

.wiki .wiki_articles .article {
  display: inline-block;
  vertical-align: top;
  max-width: 626px;
  margin-bottom: 20px;
  /*height: 416px;*/
  /*.rate {
                display:inline-block;
                vertical-align: top;
            }*/ }
  .wiki .wiki_articles .article .photo img {
    max-width: 626px;
    border-radius: 2px; }
    @media screen and (max-width: 626px) {
      .wiki .wiki_articles .article .photo img {
        max-width: 100%; } }
  .wiki .wiki_articles .article .service {
    position: relative;
    height: 20px; }
    .wiki .wiki_articles .article .service .title {
      position: absolute;
      left: 0; }
      .wiki .wiki_articles .article .service .title a {
        color: #3298C1;
        vertical-align: top; }
        .wiki .wiki_articles .article .service .title a h2 {
          font-weight: 500;
          font-size: 24px;
          margin-top: 0;
          margin-bottom: 0; }
    .wiki .wiki_articles .article .service .stars {
      position: absolute;
      right: 0; }
      .wiki .wiki_articles .article .service .stars .star {
        font-size: 26px; }
  .wiki .wiki_articles .article .txt {
    height: 100px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px; }
  .wiki .wiki_articles .article .more {
    text-align: left; }
    .wiki .wiki_articles .article .more a {
      color: #3298C1; }

.wiki .counties {
  background-color: #f2f2f2;
  padding-bottom: 20px;
  padding-top: 20px; }
  .wiki .counties h2 {
    font-weight: 500; }
  .wiki .counties .block {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin-top: 30px; }
    .wiki .counties .block .item a {
      color: #3298C1; }

.wiki-page {
  text-align: left; }
  .wiki-page .admin-block-edit textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #3298C1;
    border-radius: 4px;
    margin: 8px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px; }
  .wiki-page .admin-input {
    border: 1px solid #3298C1; }
  .wiki-page .article_rating {
    width: 155px;
    height: 41px;
    color: #3298C1;
    display: table;
    border: 1px solid #3298C1;
    border-radius: 2px;
    position: relative; }
    .wiki-page .article_rating .active {
      color: darkred !important; }
    .wiki-page .article_rating .green {
      color: darkgreen; }
    .wiki-page .article_rating .blue {
      color: #3298C1; }
    .wiki-page .article_rating .plus {
      color: darkgreen; }
    .wiki-page .article_rating .minus {
      color: darkred; }
    .wiki-page .article_rating .wrap {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .wiki-page .article_rating .wrap .frame {
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 32px;
        border-left: 1px solid #3298C1; }
        .wiki-page .article_rating .wrap .frame a {
          width: 24px;
          height: 24px;
          display: inline-block;
          font-size: 21px;
          text-decoration: none;
          color: #3298C1; }
        .wiki-page .article_rating .wrap .frame .score {
          display: inline-block; }
        .wiki-page .article_rating .wrap .frame a:hover {
          color: #005476; }
        .wiki-page .article_rating .wrap .frame .icon-edit-pencil {
          margin-top: 4px; }
        .wiki-page .article_rating .wrap .frame .icon-dislike {
          margin-top: 9px; }
        .wiki-page .article_rating .wrap .frame .icon-like {
          margin-top: 2px; }
        .wiki-page .article_rating .wrap .frame .score {
          width: 32px;
          margin-top: 2px;
          font-weight: 600;
          text-align: center; }
    .wiki-page .article_rating .wrap:first-of-type .frame {
      border: 0; }
    .wiki-page .article_rating .bubble {
      position: absolute;
      top: 42px;
      right: 0;
      border: 1px solid #3298C1;
      padding: 8px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: white;
      z-index: 9999; }
      .wiki-page .article_rating .bubble .title {
        color: black; }
      .wiki-page .article_rating .bubble input {
        border: 1px solid #3298C1; }
      .wiki-page .article_rating .bubble .btns {
        margin-top: 10px; }
        .wiki-page .article_rating .bubble .btns a {
          color: white;
          background-color: #3298C1; }
  .wiki-page .tbl {
    border-collapse: collapse;
    border: 1px solid #72cf72;
    border-radius: 2px; }
    .wiki-page .tbl td, .wiki-page .tbl th {
      background-color: white;
      padding: 10px 20px; }
    .wiki-page .tbl th {
      background-color: #72cf72;
      border: 1px solid #72cf72;
      color: white;
      font-weight: normal;
      text-align: left; }
    .wiki-page .tbl tr:nth-child(odd) td {
      background-color: #fffae9; }
    .wiki-page .tbl .icon-plus, .wiki-page .tbl .icon-minus {
      height: 20px;
      width: 20px;
      color: #3298C1;
      text-decoration: none;
      border: 1px solid #3298C1;
      border-radius: 2px;
      padding: 5px;
      font-weight: 700; }
    .wiki-page .tbl .icon-minus {
      font-weight: 900; }
    .wiki-page .tbl .icon-plus:hover, .wiki-page .tbl .icon-minus:hover {
      color: #005476; }
    .wiki-page .tbl .active {
      color: darkred !important; }
  .wiki-page .breadcrumb {
    margin-top: 15px; }
    .wiki-page .breadcrumb a {
      text-decoration: none;
      color: #65BDD7; }
  .wiki-page .langs {
    margin-bottom: 10px; }
    .wiki-page .langs a {
      background-color: #65BDD7;
      color: white; }
  .wiki-page .title-photo img {
    border-radius: 4px; }
  .wiki-page .blue-block h3 {
    color: #009dc4; }
  .wiki-page .blue-block .about {
    float: left;
    padding-left: 14px;
    margin-right: 20px;
    background-color: rgba(87, 193, 219, 0.3);
    border-radius: 6px;
    width: 300px; }
    .wiki-page .blue-block .about table {
      margin-left: 10px;
      width: 100%; }
      .wiki-page .blue-block .about table td:nth-child(even) {
        text-align: right;
        padding-right: 20px; }
  .wiki-page .blue-block .article_rating {
    float: right; }
  .wiki-page .block-header {
    display: table;
    width: 100%; }
    .wiki-page .block-header .left {
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      width: auto; }
      .wiki-page .block-header .left h3, .wiki-page .block-header .left h4 {
        display: inline-block;
        margin: 0; }
    .wiki-page .block-header .right {
      display: table-cell;
      text-align: right;
      width: auto; }
      .wiki-page .block-header .right .rating_all {
        display: inline-block; }
  .wiki-page .does-donts {
    display: table;
    width: 100%; }
    .wiki-page .does-donts .active {
      color: darkred !important; }
    .wiki-page .does-donts .block {
      display: table-cell;
      max-width: 50%; }
      .wiki-page .does-donts .block .item {
        margin-bottom: 8px; }
        .wiki-page .does-donts .block .item .icon-like, .wiki-page .does-donts .block .item .icon-dislike {
          height: 20px;
          width: 20px;
          color: #3298C1;
          text-decoration: none;
          border: 1px solid #3298C1;
          border-radius: 2px;
          padding: 5px; }
        .wiki-page .does-donts .block .item .icon-like:hover, .wiki-page .does-donts .block .item .icon-dislike:hover {
          color: #005476; }
  .wiki-page .gallery-photos .photo {
    display: inline-block; }
    .wiki-page .gallery-photos .photo img {
      border-radius: 2px; }
  .wiki-page .gallery-photos .recomm-photo .lbtn, .wiki-page .gallery-photos .recomm-photo .photo-button label, .photo-button .wiki-page .gallery-photos .recomm-photo label, .wiki-page .gallery-photos .recomm-photo .langs a, .wiki-page .langs .gallery-photos .recomm-photo a {
    color: white;
    background-color: #3298C1; }
  .wiki-page .gallery-photos .photos-form a {
    color: #3298C1;
    text-decoration: none; }
  .wiki-page .links {
    margin-bottom: 30px; }
    .wiki-page .links .lbtn, .wiki-page .links .photo-button label, .photo-button .wiki-page .links label, .wiki-page .links .langs a, .wiki-page .langs .links a {
      background-color: #3298C1;
      color: white; }
  .wiki-page .favItem {
    border: 1px solid #009DC4;
    display: inline-block;
    padding: 2px 6px 2px 6px;
    margin: 4px;
    border-radius: 5px; }
    .wiki-page .favItem .cont {
      display: table; }
      .wiki-page .favItem .cont .cell {
        display: table-cell; }
    .wiki-page .favItem .name {
      margin-top: 8px;
      margin-right: 4px;
      display: inline-block;
      vertical-align: top;
      font-weight: 600;
      font-size: 18px; }
    .wiki-page .favItem img {
      width: 32px;
      height: 32px; }
    .wiki-page .favItem a {
      margin-top: 4px;
      display: inline-block;
      vertical-align: top; }

.notif .del-btn {
  border: 1px solid #3298C1;
  color: #3298C1;
  font-weight: 500; }

.notif .notif_item {
  border: 1px solid #65BDD7;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
  text-align: left; }
  .notif .notif_item .msg {
    /*border: 1px solid red;*/
    padding: 15px;
    padding-top: 30px;
    display: inline-block;
    width: 90%;
    text-align: left; }
    .notif .notif_item .msg .date {
      color: gray; }
  .notif .notif_item .srv {
    /*border: 1px solid red;*/
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    text-align: right; }
    .notif .notif_item .srv .link {
      color: white;
      background-color: #65BDD7; }
  .notif .notif_item .notif_delete {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 9px;
    border: 1px solid #65BDD7;
    border-radius: 4px; }
    .notif .notif_item .notif_delete .icon-bin {
      display: inline-block;
      color: #65BDD7;
      font-size: 24px; }
  .notif .notif_item .notif_delete:hover {
    color: #005476;
    border-color: #005476; }

.friends .sect-title {
  text-align: left; }

.friends .friend-item .image {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden; }

.friends .friend-item .link {
  color: #65BDD7; }

.friends .friends-search input {
  border: 2px solid #005476; }

.friends .friends-search li .friends-all {
  display: table; }
  .friends .friends-search li .friends-all .image-all {
    display: table-cell;
    padding-right: 20px; }
    .friends .friends-search li .friends-all .image-all .image {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid black;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      overflow: hidden; }
  .friends .friends-search li .friends-all .link {
    display: table-cell; }
  .friends .friends-search li .friends-all .button {
    display: table-cell; }
    .friends .friends-search li .friends-all .button button {
      vertical-align: middle;
      display: inline-block; }

.friends .actionButton {
  font-size: 12px;
  width: 150px;
  margin: 0 10px 0 10px; }

.friends .requestButton {
  font-size: 12px;
  width: 150px;
  margin: 0 10px 0 10px; }

.friends #usersTable {
  margin-top: 30px;
  border: 0; }

.friends #usersTable td {
  background-color: white; }

.friends #usersTable h4 {
  margin-top: 30px; }
