

.hiddenFile
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.hiddenFile + label
{
  cursor: pointer;

  height: 40px;
  line-height: 40px;
  white-space: nowrap;
}


/*------*/


.dndBox
{
    
    height: 80px;
    width: 100%;
    text-align: center;    
    background-color: #c8dadf;
    padding: 10px 0 0 0;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border-radius: 5px;
    margin-top: 3px;
    font-size: 2em;
}

.dndBox.is-dragover
{
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
}

.dndBoxFile
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.dndBoxFile + label
{
  cursor: pointer;

  height: 40px;
  line-height: 40px;
  white-space: nowrap;
}

.dndBoxFile + label:hover strong,
.dndBoxFile:focus + label strong,
.dndBoxFile.has-focus + label strong
{
	color: #39bfd3;
}


.pb_all {
    height: 16px;
    margin-left: 20px;
    margin-right: 20px;
    border:1px solid #6BCE70;    
    background-color: #B4E5B6;
}

.pb_white {
    border:1px solid white;
}

.pb_inner {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    height: 14px;
    width: 0;
    background-color: #6BCE70;
}